{% load custom_filters %}

{% autoescape off %}

{% if obj.comment and obj.comment.id > 1 %}
<b>Seshat-approved Description: </b>
    
    <span style="line-height:1.0rem;">
        {{ obj.comment }}
    </span>
    
    <a class="p-0 m-0 float-end" 
    style=" overflow: hidden;" 
    href="{% url 'seshatcomment-update' obj.comment.id %}">
        <span class="badge text-dark fs-6 " style="vertical-align:bottom; white-space: nowrap; z-index:998; background-color:#0887064c" data-bs-toggle="popover" title="Edit Description" >
            <i class="fa-solid fa-pen-to-square"></i>
        </span>
    </a>
{% endif %}
{% if obj.comment and obj.comment.id > 1  %}
    {% if obj.description or obj.llm_description %}
    <hr>
    {% endif %}
{% endif %}


{% if obj.description and obj.llm_description %}
<div class="row">
    <div class="col-md-12" >
    <span style="line-height:1.0rem;">
        {{ obj.description|make_references_look_nicer }}

    </span>
    <br>
    <span style="line-height:1.0rem;">
        {{ obj.llm_description }}
    </span>
</div>
</div>

{% elif obj.description  %}

<div class="row">
    <div class="col-md-12" >

    <span style="line-height:1.0rem;">
        {{ obj.description|make_references_look_nicer }}
    </span>

</div>
</div>
{% elif obj.llm_description  %}

<div class="row">
    <div class="col-md-7" >
        <span style="line-height:1.0rem;">
            <b>LLM Description: </b>

            {{ obj.llm_description }}

        </span>
        <br>
        <small class="text-secondary pt-2" style="line-height:1.0rem;">
            {{ obj.get_instability_refs }}
        </small>
    </div>
    <div class="col-md-5">
        <b>Rationale:</b>
        <small style="line-height:1.0rem;">
            {{ obj.sorokin_rationale }}
        </small> 
    </div>
    <div class="d-flex justify-content-center pt-2">
        <button class="btn btn-sm btn-outline-primary mb-1 toggle-cot-btn"
                type="button" 
                data-bs-toggle="collapse" 
                data-bs-target="#cotCollapse{{ obj.id }}" 
                aria-expanded="false" 
                aria-controls="cotCollapse{{ obj.id }}">
          Show Chain of Thought
        </button>
      </div>
      
<div class="collapse mt-2" id="cotCollapse{{ obj.id }}">
    <div class="row">
        <div class="col-md-7 pt-2" style="height: 150px; overflow:auto; line-height:1.0rem;" readonly>
            <small>
                <b>General Chain of Thought: </b>
                {{ obj.general_cot }}
            </small>
        </div>
        <div class="col-md-5 pt-2" style="height: 150px; overflow:auto; line-height:1.0rem;" readonly>
            <small>
                <b>Classification Chain of Thought: </b>
                {{ obj.classification_cot }}
            </small>
        </div>
    </div>
</div>
</div>

    
{% else %}
{% endif %}

  

{% endautoescape %}