{% extends "core/seshat-base.html" %}
{% load crispy_forms_tags %}
{% load humanize %}
{% load mathfilters %}
{% load custom_filters %}


{% block content %}

<link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>



<style>

    .select2-selection__choice__remove {
        color: red;
    }

    .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
        color: darkred;
        cursor: pointer;
        display: inline-block;
        font-weight: bold;
        margin-right: 20px;


    }
        .select2-container--default .select2-selection--multiple .select2-selection__rendered li {
            color:rgb(2, 57, 2);
            padding-left: 20px;
            width:100%;

    }



    .select2-container .select2-search--inline {
        padding-left: -40px;

    }

    .select2-container--default .select2-search--inline .select2-search__field {
        background: white;
        border: none;
        outline: 0;
        margin-left:-20px;
        cursor:text;
        box-shadow: none;
        padding-right: 1px;
        margin-top:10px;
        width:100%;

    }



    /* Style the dropdown */
    .select2-container .select2-selection--single {
      height: 38px;
      border: 1px solid #ccc;
      border-radius: 4px;
      padding: 6px;
    }

    .select2-container .select2-results__option:hover {
        background-color: #782823;
        color: beige;

      }

      .select2-container .select2-selection--multiple {
        box-sizing: border-box;
        cursor: pointer;
        display: block;
        min-height: 32px;
        user-select: none;
        -webkit-user-select: none;
        width: 300px;

    }


      .select2-container--default .select2-results__option--highlighted[aria-selected] {
        background-color: #782823;
        color: beige;
        width:100%;

      }

      .goodsubmit{
        background-image: linear-gradient(to right, rgb(246, 127, 127, 0.616),rgb(242, 199, 119, 0.616),rgb(151, 230, 151, 0.616));
        border:2px solid seagreen;
      }

      .halfgoodsubmit{
        background-image: linear-gradient(to right, rgb(246, 127, 127, 0.216),rgb(242, 199, 119, 0.216),rgb(151, 230, 151, 0.216));
        border:2px solid gray;
      }

      .goodsubmit:hover{
        font-weight: bold;
        color:darkcyan;
      }

      .halfgoodsubmit:hover{
        font-weight: bold;
        color:gray;
      }
  
  
    /* Style the dropdown arrow */
    .select2-container .select2-selection__arrow {
      height: 36px;
      margin-top: 4px; /* Adjust the margin-top as needed */
      width:100%;

    }

    .form-check-inline {
        display: flex;
        flex-direction: row;
        align-items: center; /* Center vertically */
        margin-right: 10px; /* Add some spacing between radio buttons */
    }
    .form-check-label {
        display: inline-block;
        align-items: center;
        margin-right: 15px; /* Add spacing between radio buttons */
    }
    
    .form-check-label input[type="radio"] {
        margin-right: 5px; /* Add spacing between radio circle and label */
    }


    /* Hide the up and down arrows */
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"] {
        -webkit-appearance: none;
        margin: 0;
    }

    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f9;
        margin: 0;
        padding: 0;
    }
    
    .checkboxinput {
        width: 18px;  /* Increase the width of the checkbox */
        height: 18px; /* Increase the height of the checkbox */
        cursor: pointer; /* Change the cursor to indicate interactivity */
    }

    .tab-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    
    .tab {
        margin: 0 2px;
        padding: 5px 10px;
        border: 2px solid #ccc;
        border-radius: 5px;
        background-color: #e0e0e0;
        transition: background-color 0.3s ease;
    }
    
    .tab a {
        text-decoration: none;
        color: #000;
        font-weight: bold;
    }
    
    .tab:hover {
        background-color: #d1d1d1;
    }
    
    .tab.active {
        background-color: #4CAF50;
        color: white;
        border-color: #4CAF50;
    }

    .tab.done {
        background-color: #782823;
        color: lightgray;
        border-color: #782823;
    }
    
    .tab.waiting {
        color: gray;
        border-color: darkgray;
    }

    .tab.active a {
        color: white;
    }
    
    .arrow {
        font-size: 24px;
        margin: 0 10px;
        color: #4CAF50;
    }

    
    .mainform {
        background:rgba(255, 235, 205, 0.464); 
        border: 0px #78292366 solid;
        border-radius: 5px;
        box-shadow: 0 6px 6px hsl(0deg 0% 0% / 0.3);
    }
    
    .scrollable-box {
        width: 100%; /* You can adjust this value */
        height: 200px; /* Adjust this to set the box height */
        overflow-y: auto; /* Enables vertical scrolling */
        overflow-x: hidden; /* Hides horizontal overflow */
        border: 1px solid #ddd; /* Optional: Adds a border for aesthetics */
        padding: 10px; /* Optional: Adds some padding inside the box */
        background-color: #f9f9f9; /* Optional: Sets background color */
        border-radius: 5px; /* Optional: Rounds the box corners */
    }

        
    .bg-info-light {
        background: #fffdf2; /* rgb(134, 134, 134);*/
        color: dodgerblue;
        border: 1px solid rgba(30, 143, 255, 0.378);   
       }
    
       .bg-danger-light {
        background: lightpink;
    
       }
    
        .my_small_link:hover {
          color:navajowhite;
        }
    
       .bg-success-light {
        background: #fffdf2; /* rgb(134, 134, 134);*/
        color: teal;
        border: 1px solid rgba(0, 128, 128, 0.38);   
        }
    
       .bg-warning-light {
        background: #fffdf2; /* rgb(134, 134, 134);*/
        color: darkorange;
        border: 1px solid goldenrod;   
       }
    
       .bg-uncoded-light {
        background: #fffdf2; /* rgb(134, 134, 134);*/
        color: darkred;
        border: 1px solid rosybrown;
       }
       
       .bg-trans-light {
        background: cadetblue;
    
       }
       
       .custom-right-align {
        margin-left: auto !important; /* Pushes the column to the right */
        text-align: right !important; /* Aligns inner content to the right */
    }
    
       .bg-unknown-light {
        background: #fffdf2; /* rgb(134, 134, 134);*/
        color: hotpink;
        border: 1px solid hotpink;
        }
    
       .bg-secondary-light {
        background: #fffdf2;
        color: crimson;
        border: 1px solid rgba(220, 20, 60, 0.366);
    
    
       }
    
       .bg-absent-light {
        background: #fffdf2; /* rgb(134, 134, 134);*/
        color: gray;
        border: 1px solid lightgray;   
    
       }
       .highlighted-value-title-full {
        padding: 1px; 
        padding-right: 10px;
        padding-left: 10px;
        border-radius: 5px;
        margin:0px;
        font-family: 'Roboto Mono', monospace;
        /*box-shadow: -4px 4px 0px rgba(78, 28, 23, 0.5); 
        /*box-shadow: -2px 0px 4px rgba(25, 135, 84, 0.5); */
        background-color:#fefae6; /* fffdf2   fefae6*/
        background-image: linear-gradient(to right, rgb(246, 127, 127, 0.076),rgb(242, 199, 119, 0.076),rgb(151, 230, 151, 0.076));
    }
       .highlighted-value-title {
        display: inline-block; 
        padding: 1px; 
        padding-right: 10px;
        padding-left: 10px;
        border-radius: 5px;
        margin:0px;
        font-family: 'Roboto Mono', monospace;
        /*box-shadow: -4px 4px 0px rgba(78, 28, 23, 0.5); 
        /*box-shadow: -2px 0px 4px rgba(25, 135, 84, 0.5); */
        background-color:#fefae6; /* fffdf2   fefae6*/
        background-image: linear-gradient(to right, rgb(246, 127, 127, 0.216),rgb(242, 199, 119, 0.216),rgb(151, 230, 151, 0.216));
    }

    .highlighted-value-title-empty {
        display: inline-block; 
        border: 1px solid rgba(78, 28, 23, 0.25);
        padding: 1px; 

        border-radius: 5px;
        margin:0px;
        /*box-shadow: -4px 4px 0px rgba(78, 28, 23, 0.5); 
        /*box-shadow: -2px 0px 4px rgba(25, 135, 84, 0.5); */
        background-color:#fefae6; /* fffdf2   fefae6*/
        background-image: linear-gradient(to left, rgb(246, 127, 127, 0.156),rgb(242, 199, 119, 0.156),rgb(151, 230, 151, 0.156));
    }

    .highlighted-value-title-pred {
        display: inline-block; 
        border: 1px solid rgba(208, 154, 149, 0.639);
        padding: 1px; 
        padding-right: 10px;
        padding-left: 10px;
        border-radius: 5px;
        margin:0px;
        font-family: 'Roboto Mono', monospace;
        /*box-shadow: -4px 4px 0px rgba(78, 28, 23, 0.5); 
        /*box-shadow: -2px 0px 4px rgba(25, 135, 84, 0.5); */
        background-color:#fefae6; /* fffdf2   fefae6*/
    }

        .row {
            --bs-gutter-x: 0.5rem;
        }    

        .expert_name {
            border-radius: 5px;
        }
        .comment-box {
          padding: 5px;
          margin-top: 0px;
          border: 1px solid gray;
          display: inline-block; /* Adjusts width based on content */
          border-radius: 0 5px 10px 10px; /* Sharp top-left, rounded others */
      }
      .extra-small {
        font-size: 12px; /* Adjust to desired size */
        color: gray; /* Optional: makes it less prominent */
      }

      .bg-colorful {
        background-image: linear-gradient(to right, rgb(246, 127, 127, 0.216),rgb(242, 199, 119, 0.216),rgb(151, 230, 151, 0.216));
    
      }

      
      .ref-dropdown {
        max-width: 20%;  /* Ensures it doesn't exceed its container */
        width: 300px; /* Set a fixed width, adjust as needed */
        white-space: nowrap; /* Prevents wrapping */
        overflow: hidden; /* Hides overflow text */
        text-overflow: ellipsis; /* Adds '...' for long items */
    }

    .select2-container .select2-selection--single .select2-selection__rendered {
        width: 500px;
    }
    

</style>
<!-- form-row and form-group etc are removed in Bootstrap 5 -->
<div class="container mt-1">
    <div class="row d-flex mt-3">
        <div class="row" style="--bs-gutter-x: 0.0rem;">
            <div class="col-sm-5">
                {% if db_section_mapper %}
    
                <div class="h4 p-1" style="border-top-left-radius:5px; border-top-right-radius:5px; background:#84eab3; border-bottom:3px solid #27a567; font-family: 'Roboto Mono', monospace;"> {{db_section_mapper}}
                    {% if var_section %}
                    <span class="p-2 m-0 fw-normal">&nbsp;&nbsp; {{var_section}} </span>
                    {% endif %}
    
                </div>
                {% endif %}

            </div>
            <div class="col-sm-4">
            </div>

            <div class="col-sm-3">
                <div class="accordion-header rounded  " id="flush-headingOne" style="width:100%; display:inline-block;">
        
                    <button class="accordion-button collapsed rounded p-2 highlighted-value-title" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne" style="background-color:#fefae6;"> 
                        <span class="fs-5 text-teal fw-bold py-0"><i class="fa-solid fa-comments"></i> &nbsp;Private Comments 
                            <span class="badge bg-success-light fw-bold">
                                {{ form.instance.private_comment.inner_private_comments_related.all|length }}
                            </span>
            
            
                        <span type="button"  tabindex="0" data-bs-toggle="popover" title="General Description" data-bs-html="true" data-bs-trigger="focus">
                      
                        </span></span> 
                    </button>
                </div>
            </div>


            <div class="col-sm-12 pb-0">

                {% include "core/partials/_private_comment_inline_accordion.html" %}
            </div>
        </div>

        {% include "core/partials/_three_tab_template.html" %}


        <form id="regForm" action="" method="post" >
            {% csrf_token %}
            {% if form.errors %}
            <div class="alert alert-danger">
                <strong>There were some errors in your submission:</strong>
                <ul>
                    {% for field, errors in form.errors.items %}
                        {% for error in errors %}
                            <li><strong>{{ field|title }}</strong>: {{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            <div class="col-sm-6 mb-0 pb-0">
            </div>

          
            {% include "core/partials/_seshat_data_row_before.html" %}


            <div class="col-sm-12 border-dark mainform mb-4"> 
                <legend>
        
                </legend>
                {% if messages %}
                <ul class="messages mt-3">
                    {% for message in messages %}
                    <div class="container-fluid p-0">
                        <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
                            <i class="fa-solid fa-circle-info"></i> Thank you <b>{{ user }}</b>. {{ message }}
                        </div>
                    </div>
                    {% endfor %}
                    {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                    <div class="container-fluid p-0">
                      <div class="text-danger" role="alert" >
                        <i class="fa-solid fa-triangle-exclamation"></i>  {{ error }}
                      </div>
                    </div>
                    {% endfor %}
                    <hr> 
                    {% endif %}
                </ul>
                <hr class="bg-colorful">
                {% endif %}
                <div class="row pt-2 ps-2">
                    <div class="col-sm-12 row">
                        <div class="col-sm-4">
                            {{ extra_var|as_crispy_field }}
                        </div>
                        <div class="col-sm-5 pb-0">
                            {{ form.polity|as_crispy_field }}
                        </div>
                        <div class="col-sm-1 pb-0">
                            {{ form.year_from|as_crispy_field }}
                          </div>
                          <div class="col-sm-1 pb-0">
                            {{ form.year_to|as_crispy_field }}
                          </div>
        
                        <div class="col-sm-1 pb-3">
                            {{ form.real_event_check|as_crispy_field }}
                        </div>
                        <div class="col-sm-12 pb-3" style="display:none;">
                            {{ extra_var4|as_crispy_field }}
                        </div>
                        <div class="col-sm-4">
                            {{ extra_var2|as_crispy_field }}
                        </div>
                        <div class="col-sm-4">
                            {{ extra_var3|as_crispy_field }}
                        </div>
                        <div class="col-sm-4" >
                            {{ extra_var10|as_crispy_field }}
                        </div>
                        {% if not form.instance.comment %}
                            <div class="col-sm-6">
                                <div class="mt-3 pb-0 mb-0">
                                    <b > Description (Public)</b>
                                    <span class="float-end" id="zotero_span">
                                        <a href="{% url 'synczotero100' %}" class="btn btn-outline-danger px-1 py-0" onclick="return DisplayProgressMessage(this, 'Syncing with Zotero...');"><i class="fa-solid fa-arrows-rotate"></i> <b>Z</b></a>
                                    </span>
                                </div>
                                {{ form_com.comment_text.label_tag }} {{ form_com.comment_text }}

                                <div class="pt-0 pb-2" >
                                    <span class="text-secondary pt-0 pb-3">* Use &lt;br&gt;
                                        for new paragraphs.</span>
                                </div>
                                {{ form_com.formset.management_form }}
                                {{ form_com.management_form }}
                                <div style="display: none;">
                                        {{ form_com.comment_order|as_crispy_field }}
                                </div>
                            </div>
                            <div class="col-sm-6" id="_majid-container" >
                                {% autoescape off %}
                                {% for form1 in form_com.formset %}
                                    <div class="formset-item d-flex align-items-start pt-3" >
                                        <div class="formset-content flex-grow-1">
                                            <div class="row ">
                                                <div class="col-md-8 mb-0 d-flex align-items-end">
                                                    <span class="badge fs-6" style="background: cadetblue;  ">Citation &nbsp;{{ forloop.counter }} 
                                                    </span>  
                                                </div>
                                                <div class="col-md-2">
                                                    {{ form1.page_from|as_crispy_field }}
                                                </div>
                                                <div class="col-md-2">
                                                    {{ form1.page_to|as_crispy_field }}
                                                </div>
                                                <div class="col-md-12 pb-1">
                                                    <div id="div_id_refs-{{ forloop.counter0 }}-ref" class="control-group">
                                                        <div class="controls">
                                                            <select class="ref-dropdown form-control form-select mb-1 p-1 js-example-basic-single select2-hidden-accessible"
                                                            text="ref" name="refs-{{ forloop.counter0 }}-ref"
                                                            id="id_refs-{{ forloop.counter0 }}-ref" data-select2-id="id_refs-{{ forloop.counter0 }}-ref"
                                                            tabindex="-1" aria-hidden="true" style="width:100%; white-space:normal;" 
                                                            data-selected-value="{{ form1.ref.value }}">
                                                            <option value="" selected data-select2-id="{{ forloop.counter0 }}" >Reference ...</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-8" style="display:none;">
                                                    {{ form1.parent_pars|as_crispy_field }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                {% endautoescape %}
                            </div>
                            <div class="col-sm-4 mb-3 mt-2" style="border: 1px solid #368f7a; border-top: 10px solid #368f7a; color: #368f7a; border-radius:10px">
                                {% if request.user.is_authenticated and 'core.add_capital' in request.user.get_all_permissions %}
                                {{ form.suggested_expert|as_crispy_field }}
                                <small>These Seshat Experts will get Notifications to review this record.</small>
                                {% else %}
                                {{ form.expert_reviewed_by_me|as_crispy_field }}
                                {% endif %}
                            </div>
                            <div class="col-sm-1 mt-2">
                            </div>
                            <div class="col-sm-3 mt-2">
                                <button type="submit" name="action" value="redirect_one" class="btn py-2 my-auto btn-block halfgoodsubmit fs-4" style="font-family: 'Roboto Mono', monospace; width:100%;">Submit Check</button>
                                <small class="text-secondary">Saves everything except the Description.</small>
                            </div>
                            <div class="col-sm-4 mt-2">
                                <button type="submit" name="submit_with_formset" class="btn py-2 my-auto btn-block goodsubmit fs-4 fw-bold" style="font-family: 'Roboto Mono', monospace; width:100%;">Submit Check & Description</button>
                                <small class="text-secondary">Saves everything you have changed on this page.</small>
                            </div>
                            <div class="col-md-6 pt-4"  style="display: none;">
                                {{ form_com.comment_order|as_crispy_field }}
                            </div>
                        {% else %}
                            <div class="col-sm-8 pt-4" >
                                {% autoescape off %}
                                <b>Seshat Approved Description: </b>  <br>
                                {{ form.instance.comment }}
                                {% endautoescape %}
                                <a class="p-0 m-0" 
                                style=" overflow: hidden;" 
                                href="{% url 'seshatcomment-update' form.instance.comment.id %}">
                                    <span class="badge text-dark" style="vertical-align:bottom; white-space: nowrap; z-index:998; background-color:#0887064c" data-bs-toggle="popover" title="Edit Description" >
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </span>
                                </a>
                            </div>
                            <div class="col-sm-4 mt-2 pt-2 ">
                                <button type="submit" name="action_comment" value="redirect_one" 
                                type="submit" name="action" value="redirect_one" class="btn py-2 my-auto btn-block goodsubmit fs-4" style="font-family: 'Roboto Mono', monospace; width:100%;">Submit Check </button>
                                <small class="text-secondary">You can always Edit or Expand the description by clicking on the Edit button at the end of it.</small>

                            </div>
                        {% endif %}
                    </div>
                    <div class="col-md-6 pt-4 d-grid gap-2">
                    </div>
                    <div class="col-sm-6">
                        {% autoescape off %}
                        <div class="col-sm-6 pb-1" style="display:none">
                            {{ extra_var6|as_crispy_field }}
                        </div>
                        <div class="row pt-3"  style="display:none">
                            <div class="col-sm-6 pb-1" >
                                <b>General Chain of Thought:</b> <br>
                                <div class="border p-1" style="height:300px; overflow: auto">
                                    {{ form.instance.general_cot }}
                                </div>
                            </div>
                            <div class="col-sm-6 pb-1 ">
                                <b>Classification Chain of Thought:</b> <br>
                                <div class="border p-1" style="height:300px; overflow: auto">
                                    {{ form.instance.classification_cot }}
    
                                </div>
                            </div>
                        </div>
                        {% endautoescape %}
                        <div class="col-sm-6 pb-1" style="display:none"> 
                            {{ extra_var7|as_crispy_field }}
                        </div>

                    </div>
                    <div class="col-sm-2 pb-0 pt-4" style="align-items: end; display:none;">
                        {{ form.is_disputed|as_crispy_field }}
                        {{ form.is_uncertain|as_crispy_field }}
                        {{ form.tag|as_crispy_field }}
                    </div>
                    <div class="col-sm-12 pe-0" style="display:none" >
                            {{ form.description|as_crispy_field }}
                    </div>
                </div>
            </div>
        </form>
    </div> 

</div> 

<script>
    $(document).ready(function() {
        // Initialize Select2 with an empty dataset
        $(".js-example-basic-single").select2({
            width: 'resolve',  // Keeps it within the initial width
            dropdownAutoWidth: true,  // Ensures it doesn’t resize
            minimumResultsForSearch: -1, // Removes search box if unnecessary
        });    
        $('.js-example-basic-multiple-inst-type').select2({
            placeholder: "Select one or more",
            allowClear: true,
        });



        $('.js-example-basic-multiple').select2({
            allowClear: true,
        });
        $('.ref-dropdown').each(function() {
            var selectElement = $(this);
            var selectedValue = selectElement.data('selected-value');
    
            $.ajax({
                url: '{% url "get_ref_options" %}', // Update this URL to your actual endpoint
                method: 'GET',
                success: function(data) {
                    data.options.forEach(function(option) {
                        var optionElement = $('<option></option>')
                            .attr('value', option.value)
                            .text(option.label);
    
                        if (option.value == selectedValue) {
                            optionElement.attr('selected', 'selected');
                        }
    
                        selectElement.append(optionElement);
                    });
    
                    // Re-initialize Select2 to apply the new options
                    selectElement.select2();
                },
                error: function(error) {
                    console.error('Error fetching options:', error);
                }
            });
        });
    });

    
    var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
    var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
    return new bootstrap.Popover(popoverTriggerEl)
    })

// Initialize the Select2 dropdowns
for (let i = 0; i <= 5; i++) {
    $(`#id_refs-${i}-ref`).select2(); // Initialize Select2 for each dropdown
    const page_from = document.getElementById(`id_refs-${i}-page_from`);
    const page_to = document.getElementById(`id_refs-${i}-page_to`);
  
    // Function to update the span dynamically
    const updateSpan = () => {
        const dropdown = $(`#id_refs-${i}-ref`).select2('data')[0]; // Get the currently selected dropdown item
        const pageFromValue = page_from ? page_from.value : ''; // Get the current value of the page_from input
        const pageToValue = page_to ? page_to.value : ''; // Get the current value of the page_to input
  
        if (dropdown) {
            const selectedValue = dropdown.text; // Get the selected text
            const match = selectedValue.match(/\(([^)]+)\)/); // Extract text inside parentheses
            if (match) {
                const extractedText = `[${match[1]}`; // Extracted value inside parentheses
                let finalText = extractedText; // Initialize the final text
                
                if (pageFromValue && !pageToValue) {
                    // If only page_from is provided
                    finalText += `, p. ${pageFromValue}]`;
                } else if (pageFromValue == pageToValue) {
                    // If both page_from and page_to are provided
                    finalText += `, p. ${pageFromValue}]`;
                } else if (pageFromValue && pageToValue) {
                    // If both page_from and page_to are provided
                    finalText += `, pp. ${pageFromValue}-${pageToValue}]`;
                } else {
                    // If neither is provided, close the extracted text
                    finalText += ']';
                }
  
                $(`#dynamic_span_refs_${i}`).text(finalText); // Update the corresponding span
            } else {
                $(`#dynamic_span_refs_${i}`).text(selectedValue); // If no match, show the full selected value
            }
        }
    };
  
    // Attach listeners to dropdown and inputs
    $(`#id_refs-${i}-ref`).on('select2:select', updateSpan); // Update span on dropdown change
    if (page_from) page_from.addEventListener('input', updateSpan); // Update span on page_from input change
    if (page_to) page_to.addEventListener('input', updateSpan); // Update span on page_to input change
  }
  
  function DisplayProgressMessage(ctl, msg) {
    $(ctl).prop("class", "btn btn-outline-danger px-2 disabled");
    $(ctl).text(msg);
    return true;
}
    function toggleRow() {
        const row = document.getElementById("details-row");
        const icon = document.getElementById("toggle-icon");
    
        const isHidden = row.style.display === "none";
        row.style.display = isHidden ? "table-row" : "none";
        icon.textContent = isHidden ? "See less ▲" : "See more ▼";
        icon.style.color = isHidden ? "maroon" : "teal";

    }

    function toggleRow2() {
        const row2 = document.getElementById("hidden-row-llm");
        const icon2 = document.getElementById("toggle-icon-llm");
    
        const isHidden = row2.style.display === "none";
        row2.style.display = isHidden ? "table-row" : "none";
        icon2.textContent = isHidden ? "Hide LLM ▲" : "See LLM ▼";
        icon2.style.color = isHidden ? "maroon" : "teal";

    }
</script>
{% endblock %}
