{% extends "core/seshat-base.html" %}
{% load static %}
{% load humanize %}
{% load mathfilters %}
{% load custom_filters %}
{% load core_tags %}

{% block content %}

<style>

    .select2-selection__choice__remove {
        color: red;
    }

    .select2-container .select2-selection--multiple {
        cursor: pointer;
        display: block;
        border: 1px solid #ccc;
        min-height: 24px;
        user-select: none;
        -webkit-user-select: none;
        width: 100% !important;
    }
    .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
        display: none;


    }
        .select2-container--default .select2-selection--multiple .select2-selection__rendered li {
            color:rgb(6, 51, 6);
            margin-top:3px;
            padding-left:0px;
            font-size: 14px;
            vertical-align: top;
    }

    .select2-results {
        box-shadow: -1px 8px 8px rgba(78, 28, 23, 0.5),  1px 8px 8px rgba(78, 28, 23, 0.5); 
    }

    .select2-container .select2-search--inline {
        padding-left: -40px;

    }

    th {
        border-left: 1px solid #78282322 !important;
    }


    .select2-container--default .select2-search--inline .select2-search__field {
        /* background: white; */
        border: none;
        outline: 0;
        margin-left: 1px;
        cursor: text;
        box-shadow: none;
        padding: 0px;
        margin-top: 0px;
    }


    .select2-container--default .select2-selection--single .select2-selection__rendered {
        color: #444;
        line-height: 30px;
    }
    .form-select{
        height: 30px;
        padding-top:1px;
        padding-bottom:1px;
        padding-left:5px;
        padding-right:1px;
        

    }

    .form-control{
        height: 30px;
        padding-top:1px;
        padding-bottom:1px;
        padding-left:5px;
        padding-right:1px;
        

    }
    /* Style the dropdown */
    .select2-container .select2-selection--single {
      border: 1px solid #ccc;
      border-radius: 4px;
      padding: 1px;
      height:30px !important;
    }

    .select2-container .select2-results__option:hover {
        background-color: #782823;
        color: beige;

      }



      .select2-container--default .select2-results__option--highlighted[aria-selected] {
        background-color: #782823;
        color: beige;
        width:100%;

      }

          /* Style the dropdown arrow */
    .select2-container .select2-selection__arrow {
        height: 30px;
        width:100%;
  
      }
  

    .accordion-body {
        padding:0px !important;
    }
    .accordion-button.p-0::after {
        flex-shrink: 0;
        width: 1.25rem;
        height: 1.25rem;
        margin-right: auto;
        margin-left: auto;
        padding-right: 1px;
        padding-left: 1px;
        content: "";
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-size: 1.25rem;
        transition: transform .1s ease-in-out;
    }

    table {
        border-collapse: separate; /* Don't collapse */
        border-spacing: 0;
      }

      .highlighted-value-title-disabled {
        display: inline-block; 
        border: 0px solid rgba(78, 28, 23, 0.25);
        padding: 1px; 
        padding-right: 5px;
        padding-left: 5px;
        border-radius: 5px;
        margin:0px;
        /*box-shadow: -4px 4px 0px rgba(78, 28, 23, 0.5); 
        /*box-shadow: -2px 0px 4px rgba(25, 135, 84, 0.5); */
        background-image: linear-gradient(to right, rgb(246, 127, 127, 0.216),rgb(242, 199, 119, 0.216),rgb(151, 230, 151, 0.216));
    }

    .highlighted-value-title-light-disabled {
        display: inline-block; 
        border: 0px solid rgba(78, 28, 23, 0.25);
        padding: 1px; 
        padding-right: 5px;
        padding-left: 5px;
        border-radius: 5px;
        margin:0px;
        /*box-shadow: -4px 4px 0px rgba(78, 28, 23, 0.5); 
        /*box-shadow: -2px 0px 4px rgba(25, 135, 84, 0.5); */
        background-color:#fefae6; /* fffdf2   fefae6*/
        background-image: linear-gradient(to right, rgb(246, 127, 127, 0.116),rgb(242, 199, 119, 0.116),rgb(151, 230, 151, 0.116));
    }

    .bg-colorful {
        background-image: linear-gradient(to right, rgb(246, 127, 127, 0.216),rgb(242, 199, 119, 0.216),rgb(151, 230, 151, 0.216));
      }


    .bg-absent-light {
        background: #fffdf2; /* rgb(134, 134, 134);*/
        color: gray;
        border: 0px solid lightgray;   
       }

       .bg-secondary-light {
        color: crimson;
        border: 0px solid rgba(220, 20, 60, 0.18);
        background: rgba(220, 20, 60, 0.16);
       }


    
       .bg-info-light {
        color: dodgerblue;
        border: 0px solid rgba(30, 143, 255, 0.178);   
        background: rgba(30, 143, 255, 0.16);   

       }
    
       .bg-violet-light {
        color: #8a4fff;
        border: 0px solid rgba(138, 79, 255, 0.2);
        background: rgba(138, 79, 255, 0.12);
      }
       .bg-danger-light {
        background: lightpink;
    
       }
    
        .my_small_link:hover {
          color:navajowhite;
        }

        .bg-indianred-light {
            color: #cd5c5c;
            border: 0px solid rgba(139, 69, 19, 0.2);
            background: rgba(139, 69, 19, 0.12);
          }
          
        .bg-success-light {
            color: teal;
            border: 0px solid rgba(0, 128, 128, 0.18);   
            background: rgba(0, 128, 128, 0.18);   
    
            }

        .bg-orange-light {
            color: #FF8C00;
            border: 0px solid rgba(255, 140, 0, 0.2);
            background: rgba(255, 140, 0, 0.12);
            }

       .bg-warning-light {
        background: #e8c87680; /* rgb(134, 134, 134);*/
        color: darkorange;
        border: 0px solid goldenrod;   
       }
    
       .bg-uncoded-light {
        background: rgba(55, 178, 227, 0.261); /* rgb(134, 134, 134);*/
        color: darkred;
        border: 0px solid rosybrown;
       }
       
       .bg-trans-light {
        background: cadetblue;
    
       }
       
       .custom-right-align {
        margin-left: auto !important; /* Pushes the column to the right */
        text-align: right !important; /* Aligns inner content to the right */
    }
    
       .bg-unknown-light {
        background: #fffdf2; /* rgb(134, 134, 134);*/
        color: hotpink;
        border: 0px solid hotpink;
        }

        .form-select {
            background-position-x:calc(100% - 2px);
        }


        .bg-colorful-light {
            background-image: linear-gradient(to right, rgb(246, 127, 127, 0.46),rgb(242, 199, 119, 0.46),rgb(151, 230, 151, 0.46));
            border-radius: 10px;
            color:#782823;
            border: 1px solid rgba(0, 128, 128, 0.33);
          }


</style>
<div class="container">

      
      
    {% if object_list or request.GET.year_from_min or request.GET.year_to_max or request.GET.created_before or request.GET.polity or request.GET.selected_batch or request.GET.inst_type  or request.GET.ra_check or request.GET.inst_extent or request.GET.inst_intensity or request.GET.searched_name or request.GET.macro_event or request.GET.is_macro_event %}
    <div class="row d-flex">
        <div class="col-md-9">
            <!-- <h5 class="lead-2">List of all the data for: {{object_list.0.section}}</h5> -->
            <div class="col-md-12 justify-content-end my-2">
                <h6><span class="text-secondary text-end">Section</span>: {{var_section}}
                    {% if var_subsection %}
                    / {{var_subsection}}
                    {% endif %}
                 </h6>      
            <!-- <h5 class="lead-2">List of all the data for: {{object_list.0.section}}</h5> -->
          </div>

  
          <div>
            <h5 class="mb-3"><span class="text-secondary text-end">Variable:</span> <span>{{myvar}}</span> <span class="h6 text-secondary">
                (All coded records)
            </span></h5>
            <div class="text-secondary mb-2">
              {% if unreliable_polities %}
                <span>
                    Unreliable Polities Removed From the List ({{ unreliable_polities|length }}):
                </span>

                <span>
                    <span>
                    {% for polity in unreliable_polities %}
                        <span class="px-2 rounded bg-secondary-light me-2">{{ polity.long_name }} 
                        </span>
                    {% endfor %}
                    </span>
                </span>

            {% endif %}
            </div>
          </div>
  
          


        </div>

          <div class="col-md-3 my-2">
            
            {% if inner_vars %}
                 {% block download_button %}
                 {% endblock download_button %}
                    {% block metadownload_button %}
                    {% endblock metadownload_button %}
            {% endif %}
          </div>
          <div class="col-md-12">
                <h6 class="fw-bold"><span class="fw-normal"><i class="fa-solid fa-caret-right"></i> {{var_main_desc}} &nbsp;</span>
                </h6>
          </div>
      </div>


  
    {% block main_description %}
    {% endblock main_description %}
    {% block secondary_description %}
    {% endblock secondary_description %}

{% if var_name_display == 'Instability Event' %}
    {% include "core/partials/_instability_list_filters.html" %}
{% else %}
<div class="border border-secondary rounded px-3 pt-3 mb-2" style="background: #fffdf2;">
    <form method="get" class="row g-2 mb-3">
        <div class="col-12 d-flex flex-wrap justify-content-between align-items-start gap-2 pb-1">
            <div>
                <strong class="text-dark">Filter Records</strong>
                <div class="small text-secondary">
                    Refine the list with focused filters and year bounds.
                </div>
            </div>
            <div class="small text-secondary">
                Adjust the filters, then click <span class="fw-semibold text-dark">Apply Filters</span>.
            </div>
        </div>

        <div class="col-md-6 pb-2">
            <label for="polity" class="text-secondary">Polity <small class="text-secondary">(total: {{ polities|length }})</small></label>
            <select name="polity" id="polity" class="form-select js-example-basic-single">
              <option value="">All</option>
              {% for p in polities %}
                <option value="{{ p.id }}" {% if request.GET.polity == p.id|stringformat:"s" %}selected{% endif %}>
                    {{ p.long_name }} ({{ p.new_name }}) [{{ p.formatted_years_text }}]
                </option>
              {% endfor %}
            </select>
        </div>

        <div class="col-md-2 pb-2">
            <label class="text-secondary" for="year_from_min">Start Year</label>
            <input type="number" name="year_from_min" id="year_from_min" class="form-control" value="{{ request.GET.year_from_min }}">
        </div>

        <div class="col-md-2 pb-2">
            <label class="text-secondary" for="year_to_max">End Year</label>
            <input type="number" name="year_to_max" id="year_to_max" class="form-control" value="{{ request.GET.year_to_max }}">
        </div>

        <div class="col-md-4 d-flex align-items-end gap-2 pb-2 ms-auto">
            <button type="submit" class="btn w-100 fw-bold bg-colorful-light">
                <i class="fa-solid fa-filter"></i> Apply Filters
            </button>
            <a href="?" class="btn btn-outline-danger fw-semibold text-nowrap">Clear All</a>
        </div>

        <div class="col-12 align-self-end pb-0 mb-0">
          {% if request.GET.polity or request.GET.year_from_min or request.GET.year_to_max %}

          <div class="py-1 px-0 d-inline-block">
            <strong class="pb-2">Filters applied:</strong>
            <ul class="list-inline mb-1">
              {% if request.GET.year_from_min %}
                <li class="list-inline-item px-2 mb-1 rounded bg-orange-light text-dark">
                  <span class="fw-light">Year ≥ </span><span class="fw-bold">{{ request.GET.year_from_min }}</span>
                  <a href="?{% query_transform request year_from_min=None %}" class="text-dark ms-1" style="vertical-align:center;">&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-square-xmark"></i></a>
                </li>
              {% endif %}

              {% if request.GET.year_to_max %}
                <li class="list-inline-item px-2 mb-1 rounded bg-orange-light text-dark">
                  <span class="fw-light">Year ≤ </span><span class="fw-bold">{{ request.GET.year_to_max }}</span>
                  <a href="?{% query_transform request year_to_max=None %}" class="text-dark ms-1" style="text-decoration: none;">&nbsp;<i class="fa-solid fa-square-xmark"></i></a>
                </li>
              {% endif %}

              {% if request.GET.polity %}
                {% with request.GET.polity as selected_polity_id %}
                  {% for p in polities %}
                    {% if p.id|stringformat:"s" == selected_polity_id %}
                      <li class="list-inline-item px-2 mb-1 rounded bg-success-light text-dark">
                        <small class="fw-light">Polity:</small> <span class="fw-bold">{{ p.long_name }}</span> ({{ p.new_name }})
                        <a href="?{% query_transform request polity=None %}" class="text-dark text-decoration-none ms-1">&nbsp;<i class="fa-solid fa-square-xmark"></i></a>
                      </li>
                    {% endif %}
                  {% endfor %}
                {% endwith %}
              {% endif %}

            </ul>
          </div>
          {% endif %}
        </div>
      </form>

      
</div>
{% endif %}

    <div class="table-container pb-3">
              
        <table id="table_id" class="table align-middle table-hover borderless" style="padding: 0.25 rem !important;">
            <div class="row sticky-top py-0 px-0 m-0" style="background-color:#ffffff; height:40px; border-bottom:1px solid #78282311;  top: 55px; z-index:900;">
                <legend class="sticky-top py-0 px-0 m-0 col-md-6 d-flex align-items-center gap-2" style="background-color:#ffffff; height:40px; border-bottom:1px solid #78282311;  top: 55px; z-index:900;">
                    <span class="h6 bg-colorful rounded border border-1 border-dark d-inline-flex align-items-center justify-content-center mb-0 px-2" style="min-width: 38px; height: 34px; line-height: 1;">
                        {% if record_count is not None %}
                            {{ record_count }}
                        {% else %}
                            {{ object_list|length }}
                        {% endif %}
                    </span>
                    <span class="mb-0">{{myvar}}</span><small class="fs-6 text-secondary mb-0">Records</small>
    
           
                </legend>
                <div class="col-md-6 sticky-top" >
                    {% if paginated %}
                    <div class="d-flex flex-wrap justify-content-end align-items-center gap-2 pt-1 pe-2">
                        {% if per_page_options and current_per_page_value %}
                        <form method="get" class="d-inline-flex align-items-center gap-1 mb-0">
                            <label for="per_page_select" class="text-secondary mb-0 small">Show:</label>
                            <select name="per_page" id="per_page_select" class="form-select form-select-sm px-2 py-0" style="width: 82px; min-width: 82px; height: 30px;" onchange="this.form.submit()">
                                {% for per_page_option, per_page_label in per_page_options %}
                                    <option value="{{ per_page_option }}" {% if per_page_option == current_per_page_value %}selected{% endif %}>
                                        {{ per_page_label }}
                                    </option>
                                {% endfor %}
                            </select>

                            {% for key, values in request.GET.lists %}
                                {% if key != 'page' and key != 'per_page' %}
                                    {% for value in values %}
                                        <input type="hidden" name="{{ key }}" value="{{ value }}">
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </form>
                        {% endif %}

                        <form method="get" class="d-inline-flex align-items-center gap-1 mb-0">
                            <label for="page_input" class="text-secondary mb-0 small">Page:</label>
                            <input type="number" min="1" max="{{ page_obj.paginator.num_pages }}" name="page" id="page_input"
                                   value="{{ page_obj.number }}" style="width: 58px; height: 30px;" class="form-control form-control-sm d-inline px-1 py-0">
                            
                            {% for key, values in request.GET.lists %}
                                {% if key != 'page' %}
                                    {% for value in values %}
                                        <input type="hidden" name="{{ key }}" value="{{ value }}">
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                            
                            <button type="submit" class="btn btn-secondary btn-sm px-2 py-0 fw-bold" style="height: 30px;">Go</button>
                        </form>
                        
                        <div class="d-inline-flex align-items-center gap-1">
                            {% if page_obj.has_previous %}
                            <a href="?{% query_transform request page=page_obj.previous_page_number %}" class="btn btn-primary btn-sm px-2 py-0">
                                <i class="fas fa-step-backward"></i> Prev
                            </a>
                            {% else %}
                            <button class="btn btn-outline-primary btn-sm px-2 py-0" disabled>
                                <i class="fas fa-step-backward"></i> Prev
                            </button>
                            {% endif %}
                            <span class="page-current text-secondary small px-1">
                                Page <b class="text-dark">{{ page_obj.number }}</b> of {{ page_obj.paginator.num_pages }}
                            </span>
                            {% if page_obj.has_next %}
                            <a href="?{% query_transform request page=page_obj.next_page_number %}" class="btn btn-primary btn-sm px-2 py-0">
                                Next <i class="fas fa-step-forward"></i>
                            </a>
                            {% else %}
                            <button class="btn btn-outline-primary btn-sm px-2 py-0" disabled>
                                Next <i class="fas fa-step-forward"></i>
                            </button>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}



                </div>
            </div>
   
            <thead> 
            <tr  class="sticky-top"  style="background-color:#ffffff;height:40px; top: 95px; z-index:900;">

              {% if var_name_display != 'Instability Event' %}

                <th scope="col" style="text-align: left;  width:25%; " class="fw-light"> 
                    <a href="?{% query_transform request orderby='-polity__long_name' %}"><i class="fa-solid fa-arrow-up-z-a"></i>&nbsp;</a>Polity <a href="?{% query_transform request orderby='polity__long_name' %}"><i class="fa-solid fa-arrow-up-a-z"></i>&nbsp;</a>
                </th>
                {% else %} 
                <th scope="col" style="text-align: left;  width:15%; " class="fw-light"> 
                  <a href="?{% query_transform request orderby='-polity__long_name' %}"><i class="fa-solid fa-arrow-up-z-a"></i>&nbsp;</a>Polity <a href="?{% query_transform request orderby='polity__long_name' %}"><i class="fa-solid fa-arrow-up-a-z"></i>&nbsp;</a>
              </th>
                {% endif %} 

                {% if user|in_group:"Chief Seshat External Experts" %}   
<th> </th>              {% endif %}
                <!-- headings for extra vars -->
                {% block myheadings_list %}
                {% endblock myheadings_list %}


                {% if var_name_display != 'Polity Duration' and var_name_display != 'Polity Peak Years' and var_name_display != 'Instability Event' %}

                <th scope="col" style="text-align: center" class="fw-bold">
                    <span> 
                        <a href="?{% query_transform request orderby='year_from' %}">
                            <i class="fa-solid fa-arrow-up-long fa-xs"></i>
                        </a>
                
                    Year(s)
                    <a href="?{% query_transform request orderby='-year_from' %}">
                        <i class="fa-solid fa-arrow-down-long fa-xs"></i>
                    </a>
                
                </span>
                </th>

                {% endif %}
                {% if 'core.add_seshatprivatecommentpart' in user.get_all_permissions  %}
                <th scope="col"  class = "fw-light" style="text-align: center">Modify</th>
                {% endif %} 
                <th scope="col"  class = "fw-light"  style="text-align: center; border-left:0px solid #782823;"><i class="fa-solid fa-caret-down"></i></th>

              </tr>

            </thead>
            <tbody>
              {% if user|in_group:"Chief Seshat External Experts" %}   

              <form method="post" action="{% url 'bulk-verify-expert' %}" >
                  {% csrf_token %}
                  <div class="fs-6 mb-1 ps-1 sticky-top" style="background-color:#ffffff; color:#163832;  height:70px;top: 135px; z-index:900;">
                      <span > 
                      
                          &nbsp;<i class="fa-solid fa-file-contract"></i>  Expert Review
                         
                      </span>
                      <span class="form-check ps-1">
                          <span class="ps-1 pe-3 py-2" style="background: #daf1de77; border: 1px solid #23534736; border-radius:5px;">
                              
                      <label class="form-check-label fs-6 ps-2 py-2 text-dark" for="id_verify_{{db_section}}_{{myvar}}" >
                          <input 
                          type="checkbox" 
                          name="verify" 
                          class="form-check-input" 
                          style="transform: scale(1.25); margin-left: 10px; margin-right: 10px; display:none; " 
                          id="id_verify_{{db_section}}_{{myvar}}" 
                          onclick="toggleButton('{{db_section}}', '{{myvar}}')"
                      >
                      <span style="color:darkslategrey">
                          I ({{user.full_name}}) have checked and verified the coded records that I have ticked below, and would like to mark them as <u>Expert Reviewed</u> under my name.
                      </span>
                          </label>
                          </span>
                        
                          <button 
                          type="submit" 
                          class="btn btn-outline-success bg-colorful-light ps-2 py-1 fw-bold" 
                          id="saveButton_{{db_section}}_{{myvar}}" 
                          style="display:none; vertical-align: bottom;"
                      >
                      <i class="fa-solid fa-signature"></i> Sign and Save
                      </button>
                      </span>
                  </div>
             
                  {% endif %}
                {% if page_obj %}
                    {% for obj in page_obj %}
                    <tr class="p-0 m-0" style="border-top:5px solid red !important; 
                            {% if obj.seshat_experts_list  %}
                            background:#843b6211;                                            
                          {% endif %}
                    ">
                    <div class="accordion accordion-flush p-0 m-0" id="accordionExample_{{ forloop.counter }}" style="border-left:5px solid red !important;">
                        <span class="accordion-item  p-0 m-0" style="background-color:#fffdf2; ">
                        <span class="accordion-header  p-0 m-0" id="headingOne_{{ forloop.counter }}">


                                {% if obj.polity %}
                                <td  style="text-align: left; border-left:5px solid lightgray !important; border-top-left-radius:5px; border-bottom-left-radius:5px; border-width:0;">
                                    {% if obj.polity.long_name %}
                                    <small class="fw-normal">
                                        <a href="{% url 'polity-detail-main' obj.polity.id %}">{{ obj.polity.long_name }}</a>
                                    </small>
                                    {% else %}
                                    <small class="fw-normal">
                                        <a href="{% url 'polity-detail-main' obj.polity.id %}">{{ obj.polity.name }}</a>
                                    </small>
                                    {% endif %}
            
                                </td>
                                {% else %}
                                <td  style="text-align: left;">-</td>
                                {% endif%}
                                {% if user|in_group:"Chief Seshat External Experts" %}
                                 

                                <td style="border-width:0; text-align: center;">
                                    
                                  

                                    {% with request.user.seshat_expert_set.first as current_expert %}
                                    <input type="checkbox" name="selected_items_experts"  style="transform: scale(1.5); " value="{{db_section}}|{{obj.clean_name}}|{{obj.pk}}" onclick="toggleButton('{{db_section}}', '{{myvar}}')" {% if current_expert.id in obj.seshat_experts_list_ids %}Checked disabled{% endif %}> 
                                        
                                    {% endwith %}

                                  </td>
                                {% endif %}
            
                                <!-- extra vars come here -->
                                {% block extra_vars_list %}
                                {% endblock extra_vars_list %}
                            

                            

                                <!-- Years -->
                                {% if var_name_display != 'Polity Duration' and var_name_display != 'Polity Peak Years' and var_name_display != 'Instability Event' %}
                                {% include "core/partials/_years_block_new_obj.html" %}
                                <!-- Tag tag (Disputed/Suspected etc.) -->
                                {% endif %}
                                {% if 'core.add_seshatprivatecommentpart' in user.get_all_permissions  %}
                                {% block update_button %}
                                {% endblock update_button %}
                                {% endif %} 
                                <td class="text-secondary" style="border-width:0;">
                                  <span class="accordion-button collapsed p-0 my-0" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne_{{ forloop.counter }}" aria-expanded="false" aria-controls="collapseOne_{{ forloop.counter }}">
                                    </span>
                                </td>

                            </span>
                            </span>
                        </div>
                    </tr>
                    <tr class="p-0 m-0">
                        <td colspan="12" class="p-0 my-0" style="width:100%">
                            <div id="collapseOne_{{ forloop.counter }}" class="accordion-collapse collapse border border-2 px-2 py-2 m-0" aria-labelledby="headingOne_{{ forloop.counter }}">
                                <span id="accordion-body-{{ obj.id }}" data-obj-id="{{ obj.id }}" data-model-name="{{obj.clean_name}}" class="accordion-body m-0">
                                    <i class="fa-solid fa-spinner fa-spin"></i> Loading...
                                </span>
                            </div>
                        </td>    
                    </tr>
                    {% autoescape off %}

                    <tr id="commentRow_{{ obj.clean_name }}_{{ forloop.counter }}" class="accordion-collapse collapse">
                      <td colspan="12" class="p-0 m-0" style="border: 1px solid gray; border-top-left-radius:opx; border-top-right-radius:10px; border-bottom-left-radius:10px; border-bottom-right-radius:10px; ">
                          {% include "core/partials/_private_comment_inline_obj.html" %}
                      </td>
                      {% endautoescape %}

                  </tr>
                    

                    {% endfor %}
                    {% else %}
                    <tr class="p-0 m-0">
                        <td colspan="12" class="p-2 my-0" style="width:100%">
                            <i class="fa-solid fa-ban fa-lg text-danger"></i> No Results to show for the selected filers.                       
                        </td>    
                    </tr>                    
                    {% endif %}

                    {% if user|in_group:"Chief Seshat External Experts" %}   
                    </form>
                    {% endif %}
            </tbody>
          </table>
        </div>




    {% else %}
    <div class="row my-4">
        <div class="col-md-8 ">
            <h4> <i class="fa-solid fa-triangle-exclamation text-danger"></i> No Records coded for this variable ({{myvar}}).</h4>
        </div>
        <div class="col-md-4">
            <a href="{% url create_url %}" class="btn btn-outline-success mx-3 float-end"><i class="fas fa-plus"></i> &nbsp; Add a Fact</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 my-2 pb-4">
            <h6><span class="display-6">{{ myvar }}</span></h6>
            <h6 class="text-secondary">{{var_main_desc}}</h6>
        </div>
    </div>

    {% endif %}

</div>

<script>
    $(document).ready(function() {
        $('.js-example-basic-single').select2({
            width: '100%'
        });
    });  

    $(document).ready(function() {
        $('.js-example-basic-multiple').select2({
            width: '100%',
            closeOnSelect: false
        });
    });

    var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'));
    var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
        return new bootstrap.Popover(popoverTriggerEl);
    });

    document.addEventListener("DOMContentLoaded", function () {
        document.querySelectorAll('.accordion-button').forEach(function (button) {
            button.addEventListener('click', function () {
                const targetId = button.getAttribute('data-bs-target').substring(1); // Get the target element ID
                const accordionBody = document.getElementById(targetId).querySelector('.accordion-body');
                
                if (accordionBody && !accordionBody.hasAttribute('data-loaded')) { // Avoid refetching if already loaded
                    const objId = accordionBody.getAttribute('data-obj-id');
                    const modelName = accordionBody.getAttribute('data-model-name');

                    fetch(`/get-description-brief/${modelName}/${objId}/`) // Replace with your endpoint
                        .then(response => response.text())
                        .then(data => {
                            accordionBody.innerHTML = data; // Populate with the fetched content
                            accordionBody.setAttribute('data-loaded', 'true'); // Mark as loaded
                        })
                        .catch(error => {
                            console.error('Error loading content:', error);
                            accordionBody.innerHTML = "Failed to load content.";
                        });
                }
            });
        });
    });

    function toggleButton(secName, modelName) {
      const mainCheckbox = document.getElementById(`id_verify_${secName}_${modelName}`);
      const button = document.getElementById(`saveButton_${secName}_${modelName}`);

      if (mainCheckbox && button) {
          button.style.display = mainCheckbox.checked ? 'inline-block' : 'none';
      }

          // Get all checkboxes with name="verify", excluding disabled ones
          const verifyCheckboxes = document.querySelectorAll('input[name="selected_items_experts"]:not(:disabled)');

          // Check if any of the non-disabled checkboxes is checked
          let anyChecked = false;
          verifyCheckboxes.forEach(cb => {
              if (cb !== mainCheckbox && cb.checked) {
                  anyChecked = true;
              }
          });
      
          // Set the state of the hidden main checkbox
          if (mainCheckbox) {
              mainCheckbox.checked = anyChecked;
          }
      
          // Show or hide the button based on the main checkbox state
          if (mainCheckbox && button) {
              button.style.display = mainCheckbox.checked ? 'inline-block' : 'none';
          }
  };
</script>

{% endblock %}
