{% extends "core/seshat-base.html" %}
{% load static %}
{% load humanize %}
{% load mathfilters %}
{% load custom_filters %}

{% block content %}

<style>
    .accordion-body {
        padding:0px !important;
    }
    .accordion-button.p-0::after {
        flex-shrink: 0;
        width: 1.25rem;
        height: 1.25rem;
        margin-right: auto;
        margin-left: auto;
        padding-right: 1px;
        padding-left: 1px;
        content: "";
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-size: 1.25rem;
        transition: transform .1s ease-in-out;
    }

    table {
        border-collapse: separate; /* Don't collapse */
        border-spacing: 0;
      }

      .highlighted-value-title {
        display: inline-block; 
        border: 1px solid rgba(78, 28, 23, 0.25);
        padding: 1px; 
        padding-right: 5px;
        padding-left: 5px;
        border-radius: 5px;
        margin:0px;
        /*box-shadow: -4px 4px 0px rgba(78, 28, 23, 0.5); 
        /*box-shadow: -2px 0px 4px rgba(25, 135, 84, 0.5); */
        background-color:#fefae6; /* fffdf2   fefae6*/
        background-image: linear-gradient(to right, rgb(246, 127, 127, 0.216),rgb(242, 199, 119, 0.216),rgb(151, 230, 151, 0.216));
    }

    .highlighted-value-title-light {
        display: inline-block; 
        border: 0px solid rgba(78, 28, 23, 0.25);
        padding: 1px; 
        padding-right: 5px;
        padding-left: 5px;
        border-radius: 5px;
        margin:0px;
        /*box-shadow: -4px 4px 0px rgba(78, 28, 23, 0.5); 
        /*box-shadow: -2px 0px 4px rgba(25, 135, 84, 0.5); */
        background-color:#fefae6; /* fffdf2   fefae6*/
        background-image: linear-gradient(to right, rgb(246, 127, 127, 0.116),rgb(242, 199, 119, 0.116),rgb(151, 230, 151, 0.116));
    }

    .bg-colorful {
        background-image: linear-gradient(to right, rgb(246, 127, 127, 0.216),rgb(242, 199, 119, 0.216),rgb(151, 230, 151, 0.216));
      }


    .bg-absent-light {
        background: #fffdf2; /* rgb(134, 134, 134);*/
        color: gray;
        border: 1px solid lightgray;   
       }




    
      .bg-info-light {
        background: #fffdf2; /* rgb(134, 134, 134);*/
        color: dodgerblue;
        border: 1px solid dodgerblue;   
       }
    
       .bg-danger-light {
        background: lightpink;
    
       }
    
        .my_small_link:hover {
          color:navajowhite;
        }
    
       .bg-success-light {
        background: #fffdf2; /* rgb(134, 134, 134);*/
        color: teal;
        border: 1px solid teal;   
        }
    
       .bg-warning-light {
        background: #fffdf2; /* rgb(134, 134, 134);*/
        color: darkorange;
        border: 1px solid goldenrod;   
       }
    
       .bg-uncoded-light {
        background: #fffdf2; /* rgb(134, 134, 134);*/
        color: darkred;
        border: 1px solid rosybrown;
       }
       
       .bg-trans-light {
        background: cadetblue;
    
       }
       
       .custom-right-align {
        margin-left: auto !important; /* Pushes the column to the right */
        text-align: right !important; /* Aligns inner content to the right */
    }
    
       .bg-unknown-light {
        background: #fffdf2; /* rgb(134, 134, 134);*/
        color: hotpink;
        border: 1px solid hotpink;
        }
    
       .bg-secondary-light {
        background: #fffdf2;
        color: lightcoral;
        border: 1px solid lightcoral;
    
    
       }
    


</style>
<div class="container">
    {% if object_list %}
    <div class="row d-flex">
        <div class="col-md-9">
            <!-- <h5 class="lead-2">List of all the data for: {{object_list.0.section}}</h5> -->
            <div class="col-md-12 justify-content-end my-2">
                <h6><span class="text-secondary text-end">Section</span>: {{var_section}}
                    {% if var_subsection %}
                    / {{var_subsection}}
                    {% endif %}
                 </h6>      
            <!-- <h5 class="lead-2">List of all the data for: {{object_list.0.section}}</h5> -->
          </div>
          <div>
            <h5 class="mb-3"><span class="text-secondary text-end">Variable:</span> <span>{{myvar}}</span> <span class="h6 text-secondary">
                (All coded records)
            </span></h5>
          </div>

        </div>
          <div class="col-md-3 my-2">
            {% if inner_vars %}
                 {% block download_button %}
                 {% endblock download_button %}
                    {% block metadownload_button %}
                    {% endblock metadownload_button %}
            {% endif %}
          </div>
          <div class="col-md-12">
                <h6 class="fw-bold"><span class="fw-normal"><i class="fa-solid fa-caret-right"></i> {{var_main_desc}} &nbsp;</span>
                </h6>
          </div>
      </div>
    {% block main_description %}
    {% endblock main_description %}
    {% block secondary_description %}
    {% endblock secondary_description %}



    <div class="table-container pb-3">
        <table id="table_id" class="table align-middle table-hover borderless" style="padding: 0.25 rem !important;">
            <legend class="sticky-top py-0 px-0 m-0" style="background-color:#fffdf2; height:40px; border-bottom:1px solid #782823;  top: 55px; z-index:900;">
                <span class="h6 bg-colorful p-1 rounded border border-1 border-dark"> {{object_list|length}}</span> 
                <span>{{myvar}}</span>   <small class="fs-6 text-secondary">Records</small>

       
            </legend>
            <thead> 
            <tr  class="sticky-top"  style="background-color:#fffdf2; height:40px; border: 1px solid #782823; top: 95px; z-index:900;">
                <th class="text-secondary"  style="text-align: left; ">#</th>
                <th scope="col" style="text-align: left;  width:15%; " class="fw-light"> 
                    <a href="{% url list_all_url %}?orderby=polity_long_name"><i class="fa-solid fa-arrow-up-z-a"></i>&nbsp;</a>Polity
                </th>
                <!-- headings for extra vars -->
                {% block myheadings_list %}
                {% endblock myheadings_list %}
                {% if var_name_display != 'Instability Event' %}
                <th scope="col" style="text-align: left" >Tags</th>
                {% endif %}

                {% if var_name_display != 'Polity Duration' and var_name_display != 'Polity Peak Years' and var_name_display != 'Instability Event' %}

                <th scope="col" style="text-align: left" class="fw-bold">
                    <a href="{% url list_all_url %}?orderby=year_from"><i class="fa-solid fa-arrow-up-short-wide"></i></a>
                    Year(s)
                </th>

                {% endif %}

                <th scope="col"  class = "fw-light" style="text-align: center">Edit</th>
                <th scope="col"  class = "fw-light"  style="text-align: center; border-left:1px solid #782823;"><i class="fa-solid fa-caret-down"></i></th>

              </tr>

            </thead>
            <tbody>
                {% for obj in object_list %}
                <tr class="p-0 m-0">
                <div class="accordion accordion-flush p-0 m-0" id="accordionExample_{{ forloop.counter }}">
                    <span class="accordion-item  p-0 m-0" style="background-color:#fffdf2;">
                      <span class="accordion-header  p-0 m-0" id="headingOne_{{ forloop.counter }}">
                            <td style="border-width:0;">
                               <small>{{ forloop.counter }}</small> 
                 

                            </td>

                            {% if obj.polity %}
                            <td  colspan="1" style="text-align: left; border-width:0;">
                                {% if obj.polity.long_name %}
                                <small class="fw-normal">
                                    <a href="{% url 'polity-detail-main' obj.polity.id %}">{{ obj.polity.long_name }}</a>
                                </small>
                                {% else %}
                                <small class="fw-normal">
                                    <a href="{% url 'polity-detail-main' obj.polity.id %}">{{ obj.polity.name }}</a>
                                </small>
                                {% endif %}
        
                            </td>
                            {% else %}
                            <td  colspan="1" style="text-align: left;">-</td>
                            {% endif%}
        
                            <!-- extra vars come here -->
                            {% block extra_vars_list %}
                            {% endblock extra_vars_list %}
                            {% if var_name_display != 'Instability Event' %}
                            {% include "core/partials/_all_tags_inline_obj.html" %}
                            {% endif %}

                           

                            <!-- Years -->
                            {% if var_name_display != 'Polity Duration' and var_name_display != 'Polity Peak Years' and var_name_display != 'Instability Event' %}
                            {% include "core/partials/_years_block_new_obj.html" %}
                            <!-- Tag tag (Disputed/Suspected etc.) -->
                            {% endif %}

                            {% block update_button %}
                            {% endblock update_button %}
                            <td  class="text-secondary" style="border-width:0;"><span class="accordion-button collapsed p-0 my-0" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne_{{ forloop.counter }}" aria-expanded="false" aria-controls="collapseOne_{{ forloop.counter }}">
                                </span>
                            </td>

                        </span>
                        </span>
                    </div>
                </tr>
                <tr class="p-0 m-0">
                    <td colspan="12" class="p-0 my-0" style="width:100%">
                        <div id="collapseOne_{{ forloop.counter }}" class="accordion-collapse collapse border border-2 px-2 py-2 m-0" aria-labelledby="headingOne_{{ forloop.counter }}">
                            <span id="accordion-body-{{ obj.id }}" data-obj-id="{{ obj.id }}" data-model-name="{{obj.clean_name}}" class="accordion-body m-0">
                                <i class="fa-solid fa-spinner fa-spin"></i> Loading...
                            </span>
                        </div>
                    </td>    
                </tr>
                

                {% endfor %}
            </tbody>
          </table>
        </div>


    {% else %}
    <div class="row my-4">
        <div class="col-md-8 ">
            <h4> <i class="fa-solid fa-triangle-exclamation text-danger"></i> There are no Facts for this variable ({{myvar}}) in the Database.</h4>
        </div>
        <div class="col-md-4">
            <a href="{% url create_url %}" class="btn btn-outline-success mx-3 float-end"><i class="fas fa-plus"></i> &nbsp; Add a Fact</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 my-2 pb-4">
            <h6><span class="display-6">{{ myvar }}</span></h6>
            <h6 class="text-secondary">{{var_main_desc}}</h6>
        </div>
    </div>

    {% endif %}

</div>

<script>
    var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'));
    var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
        return new bootstrap.Popover(popoverTriggerEl);
    });

    document.addEventListener("DOMContentLoaded", function () {
        document.querySelectorAll('.accordion-button').forEach(function (button) {
            button.addEventListener('click', function () {
                const targetId = button.getAttribute('data-bs-target').substring(1); // Get the target element ID
                const accordionBody = document.getElementById(targetId).querySelector('.accordion-body');
                
                if (accordionBody && !accordionBody.hasAttribute('data-loaded')) { // Avoid refetching if already loaded
                    const objId = accordionBody.getAttribute('data-obj-id');
                    const modelName = accordionBody.getAttribute('data-model-name');

                    fetch(`/get-description/${modelName}/${objId}/`) // Replace with your endpoint
                        .then(response => response.text())
                        .then(data => {
                            accordionBody.innerHTML = data; // Populate with the fetched content
                            accordionBody.setAttribute('data-loaded', 'true'); // Mark as loaded
                        })
                        .catch(error => {
                            console.error('Error loading content:', error);
                            accordionBody.innerHTML = "Failed to load content.";
                        });
                }
            });
        });
    });
</script>


{% endblock %}

