{% extends "core/seshat-base.html" %}
{% load static %}

{% block content %}

<div class="container p-3" style="font-size:12px">
    <div>
        {{terms.body_html|safe}}
    </div>
  {% if false %}

        <div class="modal-footer">
            {% if TERMS_ALREADY_ACCEPTED %}
                <div class="text-start me-auto">
                <div class="alert alert-success mb-0" role="alert">
                    You’ve already accepted <strong>{{ TERMS_CURRENT.title }}</strong>
                    {% if TERMS_ACCEPTED_AT %} on {{ TERMS_ACCEPTED_AT|date:"Y-m-d" }}{% endif %}.
                </div>
                </div>
                <a href="{% url 'seshat-index' %}" class="btn btn-primary">
                Home
                </a>
            {% else %}
                <form id="terms-accept-form" method="post" action="{% url 'terms_accept' %}">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ my_caller|default:request.get_full_path }}">
                <button type="submit" class="btn btn-success">I Agree</button>
                </form>
                <a href="{% url 'seshat-index' %}" class="btn btn-outline-secondary">Cancel</a>
            {% endif %}
        </div>
{% endif %}

</div>


{% endblock %}
