{% load humanize %}
{% load mathfilters %}

<tr style="border-width:0; background-image: linear-gradient(to left, rgb(246, 127, 127, 0.056),rgb(242, 199, 119, 0.056),rgb(151, 230, 151, 0.056)); ">
    <td class="fw-normal text-dark" style="border-width: 0; text-align: left;">                           
        <span> {{ form.instance.llm_name}}</span>
    </td>
    <td class="fw-normal text-dark" style="border-width: 0; text-align: left;">
        {% if form.instance.polity.long_name %}
        <span class="fw-bold">
            <a href="{% url 'polity-detail-main' form.instance.polity.id %}#instability_event_var">{{ form.instance.polity.long_name }}</a>
        </span>
        {% else %}
        <span class="fw-bold">
            <a href="{% url 'polity-detail-main' form.instance.polity.id %}">{{ form.instance.polity.name }}</a>
        </span>
        {% endif %}
    </td>
    <td class="fw-normal text-dark" style="border-width: 0; text-align: left;">{{ form.instance.get_llm_instability_types }}
    </td>
    <td class="fw-normal text-dark" style="border-width: 0; text-align: right;">                        
        {% if form.instance.llm_year_from == None %}                        
        {% elif form.instance.llm_year_from == form.instance.llm_year_to %}
            {% if form.instance.llm_year_from < 0 %}
            <span style="text-align: right; border-width: 0;">{{ form.instance.llm_year_from|abs|intcomma }} <small class="text-secondary">BCE</small> </span>
            {% else %}
            <span style="text-align: right; border-width: 0;">{{ form.instance.llm_year_from }} <small class="text-secondary">CE</small></span>
            {% endif %}
        {% elif form.instance.llm_year_to == None %}
            {% if form.instance.llm_year_from < 0 %}
            <span style="text-align: right; border-width: 0;">{{ form.instance.llm_year_from|abs }} <small class="text-secondary">BCE</small></span>
            {% else %}
            <span style="text-align: right; border-width: 0;">{{ form.instance.llm_year_from }} <small class="text-secondary">CE</small></span>
            {% endif %}
        {% elif form.instance.llm_year_to == None and form.instance.llm_year_from == None %}
        <span style="text-align: right; border-width: 0;"> <i class="fa-solid fa-minus"></i> </span>
        {% else %}
            {% if form.instance.llm_year_from < 0 and form.instance.llm_year_to < 0 %}
            <span style="text-align: right; border-width: 0;">{{ form.instance.llm_year_from|abs }} <small class="text-secondary">BCE</small> <i class="fa-solid fa-arrow-right-long"></i> {{ form.instance.llm_year_to|abs }}&nbsp;<small class="text-secondary">BCE</small></span>
            {% elif form.instance.llm_year_from < 0 and form.instance.llm_year_to >= 0 %}
            <span style="text-align: right; border-width: 0;">{{ form.instance.llm_year_from|abs }} <small class="text-secondary">BCE</small> <i class="fa-solid fa-arrow-right-long"></i> {{ form.instance.llm_year_to }}&nbsp;<small class="text-secondary">CE</small></span>
            {% else %}
            <span style="text-align: right; border-width: 0;">{{ form.instance.llm_year_from }} <small class="text-secondary">CE</small> <i class="fa-solid fa-arrow-right-long"></i> {{ form.instance.llm_year_to }}&nbsp;<small class="text-secondary">CE</small></span>
            {% endif %}
        {% endif %}
        </td>
    <td class="fw-bold text-dark " style="border-width: 0; text-align: center;">
        <span> {{ form.instance.llm_inst_intensity}}</span>
    </td>
    <td class="fw-bold text-dark" style="border-width: 0; text-align: center;">
        <span> {{ form.instance.llm_inst_extent}}</span></td>

        <td class="fw-normal text-dark" style="border-width: 0; text-align: left;">{{ form.instance.get_instability_checks}}
        </td>
    
</tr>