{% load humanize %}
{% load mathfilters %}
{% load custom_filters %}

<span style="text-align: left; vertical-align: center;">

    {% if key == "Polity_preceding_entity" %}
        {% if obj.other_polity.id == object.id %}
        <div>
            Succeeding Entity  
        </div>
        {% if obj.polity %}
            <div class="px-1 border border-secondary rounded fw-normal" style="background:#ffffff; display:inline-block;">
                {{obj.polity.formatted_years|safe}}
            </div>
        {% endif %}

        {% else %}
        <div>
            Preceding Entity   
        </div>
        {% if obj.other_polity %}
            <div class="px-1 border border-secondary rounded fw-normal" style="background:#ffffff; display:inline-block;" >
                {{obj.other_polity.formatted_years|safe}}
            </div>
        {% endif %}
        {% endif %}
    {% else %}
        {% track_last obj.clean_name_spaced|slice:"7:" %}
    {% endif %}
</span>   