{% load crispy_forms_tags %}
{% load humanize %}
{% load mathfilters %}
{% load custom_filters %}

<div class="card-body" style="max-height: 400px; overflow-y: auto; padding:10px; font-size:0.8rem;">
{% if form.instance.private_comment %}
    <div class="col-sm-12">

    <form action="{% url 'xxyyzz' com_id=form.instance.private_comment.id %}" method="post">
        {% csrf_token %}

        {% if form.instance.private_comment.inner_private_comments_related.all %}


    <table id="table_id" class="table table-borderless table-hover align-middle pt-0 mt-0"> 

        <tbody >
            {% autoescape off %}

            {% if form.instance.private_comment.inner_private_comments_related.all %}
                {% for subcom in form.instance.private_comment.inner_private_comments_related.all %}

                    <tr class="py-1 {% if subcom.is_done %}bg-light text-secondary{% endif %}">
                        <div class="row">

                        <td class="col-md-9 ps-1 {% if subcom.is_done %} text-secondary {% else %} text-dark {% endif %}  py-1" style="text-align: left;">
                            <span class="{% if subcom.is_done %} bg-light fw-light {% else %} fw-bold {% endif %}" style="{% if subcom.is_done %}background: lightgray {% else %} border-bottom: 4px solid {{subcom.private_comment_owner.id|give_me_a_color}}; color: {{subcom.private_comment_owner.id|give_me_a_color}};  {% endif %};">{{subcom.private_comment_owner}}</span> 
                            {% if subcom.private_comment_reader.all %}
                            <b>@</b>
                            {% endif %}

                            {% for an_expert in  subcom.private_comment_reader.all %}
                            <span class="badge text-dark p-1" style="{% if subcom.is_done %}background: lightgray{% else %}
                        border: 1px solid {{an_expert.id|give_me_a_color}}; border-left: 5px solid {{an_expert.id|give_me_a_color}}
                        {% endif %};  border-radius:5px;">{{an_expert}}</span>
                            {% endfor %}
                            {% if subcom.created_date %}
                            <small class="text-secondary extra-small">&nbsp; {{ subcom.created_date|naturaltime }}</small> 
                            {% else %}
                            <i class="fa-solid fa-minus text-danger"></i>
                            {% endif %}
                            <br>
                            <div class="comment-box py-0" style="
                            {% if subcom.is_done %} font-size:12px; {% else %} border-color: {{subcom.private_comment_owner.id|give_me_a_color}}55; background: {{subcom.private_comment_owner.id|give_me_a_color}}11; {% endif %} 
                            
                            ">
                            <small >
                                {{ subcom.private_comment_part_text }}  
                            </small>
                            </div>    
                        </td>

                        </div>
                    </tr>

                {% endfor %}
            {% else %}
            <tr>
                <td class="col-md-8 text-secondary" scope="row" style="text-align: left;">
                No Private Comments yet.
                </td>
                <td class="col-md-2" style="text-align: left">
                    -
                </td>
                <td class="col-md-2" style="text-align: left">
                -
                </td>
                <td class="col-md-2" style="text-align: center">
                    -
                    </td>

            </tr>
            {% endif %}

            {% endautoescape %}

        </tbody>
    </table>

    {% endif %}

    
    </form>
    </div>

    <div class="col-sm-12">

        {% if user.is_authenticated and 'core.add_seshatprivatecommentpart' in user.get_all_permissions %}
        <form method="post" action="{% url 'seshatprivatecommentpart-create2' private_com_id=form.instance.private_comment.id %}">
            {% csrf_token %}
                <span class="fw-bold {% if subcom.is_done %} {% else %} fs-6 {% endif %}" style="{% if subcom.is_done %}background: lightgray {% else %} border-bottom: 4px solid {{user|get_seshat_expert|give_me_a_color}}; color: {{user|get_seshat_expert|give_me_a_color}};  {% endif %};">
                    {% if user.full_name %}
                    {{user.full_name}}
                    {% else %}
                    {{user}}
                    {% endif %}
                    :</span>  
                {{ another_form.private_comment_part_text }}
                    <div class="row d-flex align-items-end" >
                        <div class="col-md-8">
                            <small class="fw-normal">Researchers or Experts to be informed:</small>  
                            <br>
                            {{ another_form.private_comment_reader }}
                        </div>
                        <div class="col-md-4 pb-1">
                            <input type="submit" class="btn btn-sm border border-dark bg-colorful fw-bold"   value="Insert Your Comment">
                        </div>
                    </div>
        </form>
        {% endif %}
    </div>




{% else %}


    {% if user.is_authenticated and 'core.add_seshatprivatecommentpart' in user.get_all_permissions %}
    <form method="post" action="{% url 'private-comment-create-from-model' app_name='core' model_name='variablehierarchy' instance_id=form.instance.id private_com_id=0 %}">
        {% csrf_token %}
                <span class="fw-bold {% if subcom.is_done %} {% else %} fs-6 {% endif %}" style="{% if subcom.is_done %}background: lightgray {% else %} border-bottom: 4px solid {{user|get_seshat_expert|give_me_a_color}}; color: {{user|get_seshat_expert|give_me_a_color}};  {% endif %};">
                    {% if user.full_name %}
                    {{user.full_name}}
                    {% else %}
                    {{user}}
                    {% endif %}
                    :</span>  
                {{ another_form.private_comment_part_text }}
                    <div class="row d-flex align-items-end" >
                        <div class="col-md-8">
                            <small class="fw-normal">Researchers or Experts to be informed:</small>  
                            <br>
                            {{ another_form.private_comment_reader }}
                        </div>
                        <div class="col-md-4 pb-1">
                            <input type="submit" class="btn btn-sm border border-dark bg-colorful fw-bold"   value="Insert Your Comment">
                        </div>
                    </div>
        </form>
    {% endif %}
{% endif %}  



</div>