
<div class="row pt-2 mb-0 pb-0 d-flex align-items-end">
         
    <div class="col-sm-2 mb-0 pb-0 " >
        <div>
            <div class="seshat-edit-tab px-2">
                Seshat Data (Edit)
            </div>
        </div>
    </div>

    <div class="col-sm-10 mb-0 pb-0">
        {% if form.instance.pk %}
            {% if form.instance.researchers_list %}
                <div class="px-2 pb-1" style="background: #daf1de; border-radius:5px; display:inline-block; ">
                    <div style="font-family: Roboto Mono; color:#163832; font-size:12px; display:inline-block; ">
                        <small>                               
                            <i class="fa-regular fa-square-check fa-lg"></i>  Researcher Checks by:
                        </small>
                        <small class="fw-bold">{{form.instance.researchers_list}} </small>
                    </div>
                </div>
            {% else %}
                <div class="px-2 pb-1" style="background: #ffdddd; border-radius:5px; display:inline-block; ">
                    <div style="font-family: Roboto Mono; color:#800000; font-size:12px; display:inline-block; ">
                        <small>                               
                            <i class="fa-regular fa-circle-xmark fa-lg"></i><b> <u>Not</u></b> been Reviewed by a Seshat Researcher yet.
                        </small>                                

                    </div>
                </div>
            {% endif %}
        {% endif %}

        {% if form.instance.pk %}
        {% if form.instance.comment %}
            <div class="px-2 pb-1" style="background: #daf1de;  border-radius:5px; display:inline-block; ">
                <div style="font-family: Roboto Mono; color:#163832; font-size:12px; display:inline-block; ">
                    <small>                               
                        <i class="fa-regular fa-square-check fa-lg"></i>  Has an approved Seshat description.
                    </small>                                
                </div>
            </div>
        {% else %}
            <div class="px-2 pb-1" style="background: #ffdddd; border-radius:5px; display:inline-block; ">
                <div style="font-family: Roboto Mono; color:#800000; display:inline-block; font-size:12px;">
                    <small>                               
                        <i class="fa-regular fa-circle-xmark fa-lg"></i><b> <u> No</u></b> approved Seshat descriptions yet.
                    </small>                                

                </div>
            </div>
        {% endif %}
    {% endif %}


        {% if form.instance.pk %}
            {% if form.instance.seshat_experts_list %}
                <div class="px-2 pb-1" style="background: #daf1de;  border-radius:5px;display:inline-block; ">
                    <div style="font-family: Roboto Mono; color:#163832; font-size:12px; display:inline-block; ">
                        <small>                               
                            <i class="fa-regular fa-square-check fa-lg"></i>  Expert Checked by:
                        </small>                                
                        <small class="fw-bold">{{form.instance.seshat_experts_list}} </small>
                    </div>
                </div>
            {% else %}
                <div class="px-2 pb-1" style="background: #ffdddd; border-radius:5px; display:inline-block; ">
                    <div style="font-family: Roboto Mono; color:#800000; display:inline-block; font-size:12px;">
                        <small>                               
                            <i class="fa-regular fa-circle-xmark fa-lg"></i><b> <u>Not</u></b> been Expert Reviewed yet.
                        </small>                                

                    </div>
                </div>
            {% endif %}
        {% endif %}


    </div>
</div>
