{% load humanize %}
{% load mathfilters %}
<tr class="highlighted-value-title-full">
    <td class="fw-normal text-dark" style="text-align: left;">                           
        <span> {{ form.instance.name}}</span>
    </td>
    <td class="fw-normal text-dark" style="text-align: left;">
        {% if form.instance.polity.long_name %}
        <span class="fw-bold">
            <a href="{% url 'polity-detail-main' form.instance.polity.id %}#instability_event_var">{{ form.instance.polity.long_name }}</a>
        </span>
        {% else %}
        <span class="fw-bold">
            <a href="{% url 'polity-detail-main' form.instance.polity.id %}">{{ form.instance.polity.name }}</a>
        </span>
        {% endif %}
    </td>
    <td class="fw-normal text-dark" style="text-align: left;">{{ form.instance.get_instability_types }}
    </td>
    <td class="fw-normal text-dark" style="text-align: center;">                        
        {% if form.instance.year_from == None %}                        
        {% elif form.instance.year_from == form.instance.year_to %}
            {% if form.instance.year_from < 0 %}
            <span style="text-align: center; border-width: 0;">{{ form.instance.year_from|abs|intcomma }} <small class="text-secondary">BCE</small> </span>
            {% else %}
            <span style="text-align: center; border-width: 0;">{{ form.instance.year_from }} <small class="text-secondary">CE</small></span>
            {% endif %}
        {% elif form.instance.year_to == None %}
            {% if form.instance.year_from < 0 %}
            <span style="text-align: center; border-width: 0;">{{ form.instance.year_from|abs }} <small class="text-secondary">BCE</small></span>
            {% else %}
            <span style="text-align: center; border-width: 0;">{{ form.instance.year_from }} <small class="text-secondary">CE</small></span>
            {% endif %}
        {% elif form.instance.year_to == None and form.instance.year_from == None %}
        <span style="text-align: center; border-width: 0;"> <i class="fa-solid fa-minus"></i> </span>
        {% else %}
            {% if form.instance.year_from < 0 and form.instance.year_to < 0 %}
            <span style="text-align: center; border-width: 0;">{{ form.instance.year_from|abs }} <small class="text-secondary">BCE</small> <i class="fa-solid fa-arrow-right-long"></i> {{ form.instance.year_to|abs }}&nbsp;<small class="text-secondary">BCE</small></span>
            {% elif form.instance.year_from < 0 and form.instance.year_to >= 0 %}
            <span style="text-align: center; border-width: 0;">{{ form.instance.year_from|abs }} <small class="text-secondary">BCE</small> <i class="fa-solid fa-arrow-right-long"></i> {{ form.instance.year_to }}&nbsp;<small class="text-secondary">CE</small></span>
            {% else %}
            <span style="text-align: center; border-width: 0;">{{ form.instance.year_from }} <small class="text-secondary">CE</small> <i class="fa-solid fa-arrow-right-long"></i> {{ form.instance.year_to }}&nbsp;<small class="text-secondary">CE</small></span>
            {% endif %}
        {% endif %}
        </td>
    <td class="fw-bold text-dark" style="text-align: center;">
        <span> {{ form.instance.inst_intensity}}</span>
    </td>
    <td class="fw-bold text-dark" style="text-align: center;"><span> {{ form.instance.inst_extent}}</span></td>
    <td class="fw-normal text-dark" style="text-align: center;">
        {{ form.instance.real_event_check }}

    </td>
        <td class="fw-normal text-dark" style="text-align: left;">
            {{ form.instance.get_instability_checks }}
        </td>
        <td class="fw-normal text-dark" style="text-align: left;">
            {% autoescape off %}
                                                
            <small style="vertical-align: bottom;  display:inline-block;">
                <a data-bs-toggle="tooltip" data-bs-html="true" class="fw-light text-teal" title="Generated using LLMs."><span class="text-secondary border border-1 rounded  border-secondary" style="padding-top:2px; padding-bottom:0px; padding-left:3px; padding-right:3px; ">AI</span></a>

                {% if form.instance.researchers_list  %}
                    <a data-bs-toggle="tooltip" data-bs-html="true"  title="Checked By: {{ form.instance.researchers_list }}">
                        <i class="fa-solid fa-user-tie fa-lg" style="color: #138086" aria-hidden="true"></i>
                    </a>
                {% endif %}
                {% if form.instance.comment %}
                    <a data-bs-toggle="tooltip" data-bs-html="true" class="fw-normal text-teal" title="Seshat-approved Description added."><span class="text-success border border-1 rounded  border-success" style="padding-top:2px; padding-bottom:0px; padding-left:3px; padding-right:3px; ">D</span></a>

                {% endif %}

                {% if form.instance.seshat_experts_list  %}
                    <a data-bs-toggle="tooltip" data-bs-html="true"  title="Expert Reviewed By: {{ form.instance.seshat_experts_list }}">
                        <span>
                            <i class="fa-solid fa-user-graduate fa-lg" style="color: #843b62" aria-hidden="true"></i>
                        </span>
                    </a>
                {% endif %}

            </small>
        
        
            {% endautoescape %}
        </td>

</tr>