
<div class="row pt-2 mb-0 pb-0 d-flex align-items-end">
         
    <div class="col-sm-2 mb-0 pb-0 " >
        <div class="fw-bold" style=" border-bottom:10px solid maroon;">
            <div class="fs-6" style="font-family: Roboto Mono; color:#800000;">
                Seshat Data (Edit)
            </div>
        </div>
    </div>

    <div class="col-sm-10 mb-0 pb-0">
        {% if form.instance.pk %}
            {% if form.instance.researchers_list %}
                <div class="px-2 py-0" style="background: #daf1de; border-radius:5px;">
                    <div style="font-family: Roboto Mono; color:#163832;">
                        <small>                               
                            <i class="fa-regular fa-square-check fa-lg"></i>  Researcher Checks by:
                        </small>
                        <small class="fw-bold">{{form.instance.researchers_list}} </small>
                    </div>
                </div>
            {% else %}
                <div class="px-2 py-0" style="background: #ffdddd; border-radius:5px;">
                    <div style="font-family: Roboto Mono; color:#800000;">
                        <small>                               
                            <i class="fa-regular fa-circle-xmark fa-lg"></i> This record has <b><u> not</u></b> been Reviewed by a Seshat Researcher yet.
                        </small>                                

                    </div>
                </div>
            {% endif %}
        {% endif %}

        {% if form.instance.pk %}
        {% if form.instance.comment %}
            <div class="px-2 py-0" style="background: #daf1de;  border-radius:5px;">
                <div style="font-family: Roboto Mono; color:#163832;">
                    <small>                               
                        <i class="fa-regular fa-square-check fa-lg"></i>  This record has an approved Seshat description.
                    </small>                                
                </div>
            </div>
        {% else %}
            <div class="px-2 py-0" style="background: #ffdddd; border-radius:5px;">
                <div style="font-family: Roboto Mono; color:#800000; display:inline-block;">
                    <small>                               
                        <i class="fa-regular fa-circle-xmark fa-lg"></i> This record does <b><u> not</u></b> have an approved Seshat description yet.
                    </small>                                

                </div>
            </div>
        {% endif %}
    {% endif %}


        {% if form.instance.pk %}
            {% if form.instance.seshat_experts_list %}
                <div class="px-2 py-0" style="background: #daf1de;  border-radius:5px;">
                    <div style="font-family: Roboto Mono; color:#163832;">
                        <small>                               
                            <i class="fa-regular fa-square-check fa-lg"></i>  Expert Checked by:
                        </small>                                
                        <small class="fw-bold">{{form.instance.seshat_experts_list}} </small>
                    </div>
                </div>
            {% else %}
                <div class="px-2 py-0" style="background: #ffdddd; border-radius:5px;">
                    <div style="font-family: Roboto Mono; color:#800000; display:inline-block;">
                        <small>                               
                            <i class="fa-regular fa-circle-xmark fa-lg"></i> This record has <b><u> not</u></b> been Expert Reviewed yet.
                        </small>                                

                    </div>
                </div>
            {% endif %}
        {% endif %}


    </div>
</div>