{% load custom_filters %}

<div class="sticky-top py-0 px-0 m-0 polity-table-title" id="{% if key_m != 'None' %}{{my_section|slugify}}_{{key_top|slugify}}_{{key_m|slugify}}{% else %}{{my_section|slugify}}_{{key_top|slugify}}{% endif %}">
    <div class="polity-table-title-main">
        {% if values_m %}
            <span>{{ key_top }}</span>
            {% if key_m != 'None' %}
                <span class="fw-light">/ {{ key_m }}</span>
            {% endif %}
        {% elif key_top == "Human Sacrifice" %}
            <span>{{ key_top }}</span>
        {% endif %}
    </div>
    <div class="polity-table-title-meta">
        <b>{{ object.long_name }}</b> <span>({{ object.new_name }})</span>
    </div>
</div>
