<!-- templates/_table_header.html -->
{% load custom_filters %}
<thead> 
    <tr class="polity-table-header-row">
        {% if user|in_group:"Chief Seshat Externalllllllll Experts" %}   
        <th scope="col" class="fw-light text-secondary polity-sticky-header-cell" style="text-align: left;">#</th>
        {% endif %}

        <th scope="col" class="fw-light text-secondary polity-sticky-header-cell" style="text-align: left;">Variable</th>
        <th scope="col" class="fw-light text-secondary polity-sticky-header-cell" style="text-align: left;">Coded Value / <small>Certainty Tags</small></th>
        <th scope="col" class="fw-light text-secondary polity-sticky-header-cell" style="text-align: center;">Year(s)</th>
        {% if user.is_authenticated and 'core.add_seshatprivatecommentpart' in user.get_all_permissions %}
        <th scope="col" class="fw-light text-secondary polity-sticky-header-cell table-action-column" style="text-align: right;">Modify</th>
        {% else %}
        <th scope="col" class="fw-light text-secondary polity-sticky-header-cell table-action-column" style="text-align: right;">See More</th>

        {% endif %}

    </tr>
</thead>
