<!-- templates/_table_header.html -->
<legend class="sticky-top py-0 px-0 m-0" style="background-color:#fffdf2; height:40px; top: 55px; z-index:900;">
    {% if values %}
        <span>Power Transitions</span> 
    {% endif %}
    <span class="fs-6 float-end fw-light pt-1">
        <small class="badge bg-success-light small-knopf" title="present">Present</small> 
        <small class="badge bg-info-light small-knopf" title="inferred present">Inferred Present</small> 
        <small class="badge bg-absent-light small-knopf" title="absent">Absent</small> 
        <small class="badge bg-secondary-light small-knopf" title="inferred absent">Inferred Absent</small> 
        <small class="badge bg-unknown-light small-knopf" title="unknown">Unknown</small> 
        <small class="badge bg-warning-light small-knopf" title="suspected unknown">Suspected Unknown</small>&nbsp;&nbsp;
        <b>{{ object.long_name }}</b> <span>({{ object.new_name }})</span>

    </span>






</legend>
<thead> 
    <tr class="sticky-top" style="background-color:#fffdf2; height:40px; border: 1px solid #78282355; top: 95px; z-index:900;">
        <th scope="col" colspan="4" class="fw-light text-secondary" style="text-align: left;">Predecessor / Successor</th>
        <th scope="col" colspan="4" class="fw-light text-secondary" style="text-align: left;">Coded Values</th>
        <th scope="col" colspan="2" class="fw-light text-secondary" style="text-align: left;">Year</th>
        {% if user.is_authenticated and 'core.add_seshatprivatecommentpart' in user.get_all_permissions %}
        <th scope="col" colspan="2" class="fw-light text-secondary" style="text-align: right;">Modify</th>
        {% else %}
        <th scope="col" colspan="2" class="fw-light text-secondary" style="text-align: right;">See More</th>

        {% endif %}

    </tr>
</thead>
