<!-- templates/_table_header.html -->
<thead> 
    <tr class="polity-table-header-row">
        <th scope="col" colspan="4" class="fw-light text-secondary polity-sticky-header-cell" style="text-align: left;">Predecessor / Successor</th>
        <th scope="col" colspan="4" class="fw-light text-secondary polity-sticky-header-cell" style="text-align: left;">Coded Values</th>
        <th scope="col" colspan="2" class="fw-light text-secondary polity-sticky-header-cell" style="text-align: left;">Year</th>
        {% if user.is_authenticated and 'core.add_seshatprivatecommentpart' in user.get_all_permissions %}
        <th scope="col" colspan="2" class="fw-light text-secondary polity-sticky-header-cell table-action-column" style="text-align: right;">Modify</th>
        {% else %}
        <th scope="col" colspan="2" class="fw-light text-secondary polity-sticky-header-cell table-action-column" style="text-align: right;">See More</th>

        {% endif %}

    </tr>
</thead>
