{% extends "core/seshat-base.html" %}
{% load static %}
{% load humanize %}


{% block content %}
<style>
    table {
        border-collapse: separate; /* Don't collapse */
        border-spacing: 0;
      }
</style>

<div class="container">
    {% if messages %}
    <ul class="messages mt-3">
        {% for message in messages %}
        <div class="container-fluid p-0">
            <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
                <i class="fa-solid fa-circle-info"></i> Thank you <b>{{ user }}</b>. {{ message }}
            </div>
        </div>
        {% endfor %}

    </ul>
    <hr>
    {% endif %}

    {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
    <div class="container-fluid p-0">
      <div class="text-danger errorlist" role="alert" >
        <i class="fa-solid fa-triangle-exclamation"></i>  {{ error }}
      </div>
    </div>
    {% endfor %}
    <hr> 
    {% endif %}
    {% if object_list %}
    <div class="table-container mt-2">
        <table id="table_id" class="table align-middle table-hover" style="padding: 0.25 rem !important;">
        <thead>

            <legend class="sticky-top py-0 px-0 m-0" style="background-color:#fffdf2; border-bottom:1px solid #782823;  top: 55px; z-index:900;">Cities 
                <!-- Add Another Fact Button -->
                <a href="{% url 'capital-create' %}" 
                class="btn btn-outline-success btn-sm float-end mt-1 ms-1" 
                data-bs-toggle="tooltip" 
                data-bs-placement="top" 
                title="Click to add a new coded record">
                <i class="fas fa-plus"></i>
                </a>
                
                <!-- See All Such Facts Button -->
                <a href="{% url 'capital-download' %}"
                class="btn btn-outline-primary btn-sm float-end mt-1 ms-1" 
                data-bs-toggle="tooltip" 
                data-bs-placement="top" 
                title="Click to Download all such coded records">
                <i class="fas fa-download"></i>
                </a>
            </legend>
            <thead> 
            <tr  class="sticky-top"  style="background-color:#fffdf2; height:40px; top: 92px; z-index:900; border:1px solid #782823;">

            <th scope="col" class="text-secondary">#</th>
            <th>Name [Alternative Names]</th>
            <th>Polities</th>
            <th>Current Country</th>
            <th style="text-align: center;"><i class="fa-solid fa-location-dot"></i>&nbsp;&nbsp;(Coordinates)</th>
            <th style="text-align: center;">Verified?</th>
            <th style="text-align: center;">Update?</th>
            <th style="text-align: center;"><i class="fa-solid fa-trash-can"></i></th>

          </tr>
        </thead>
        <tbody>
                {% for object in object_list %}
                <tr>
                <td class="text-secondary" scope="row">{{ forloop.counter }}</td>
                <td>{{ object.name }}
                    {% if object.alternative_names %}
                    [{{ object.alternative_names }}]
                    {% endif %}
                </td>
                <td>


                    {% for x in object.polity_caps.all %}
                    {% if x.polity.long_name %}

                    <a data-bs-toggle='tooltip' data-bs-html='true' class="fw-bold" title='{{x.polity.new_name}}' href="{% url 'polity-detail-main' x.polity.id %}">{{x.polity.long_name}}</a><br>
                    {% else %}
                    <a data-bs-toggle='tooltip' data-bs-html='true' class="fw-bold" title='{{x.polity.new_name}}' href="{% url 'polity-detail-main' x.polity.id %}">{{x.polity.new_name}}</a><br>                    
                    {% endif %}
                    {% endfor %}

                </td>
                {% if object.current_country == "NO_COUNTRY_FROM_GOOGLE" or object.current_country == "No_country_from_google" %}
                <td> - </td>
                {% else %}
                <td>{{ object.current_country }}</td>
                {% endif %}

                

                {% if not object.url_on_the_map or object.url_on_the_map == "#" %}
                <td class="text-secondary" style="text-align: center;">-
                {% else %}
                <td style="text-align: center;"> <a href="{{ object.url_on_the_map }}" target="_blank"> 
                    <img width="24" height="24" src="https://img.icons8.com/color/48/google-maps-new.png" alt="google-maps-new"/>
           
                {% endif %}
                ({{ object.longitude|floatformat:2  }}, {{ object.latitude|floatformat:2 }})      </a></td>
                {% if object.is_verified %}
                    <td class="text-success" style="text-align: center;"><i class="fas fa-check-circle"></i></td>
                {% else %}
                    <td class="text-danger" style="text-align: center;"><i class="fas fa-times"></i></td>
                {% endif %}
                <td style="text-align: center;">
                    <a href="{% url 'capital-update' object.id %}" ><button class="btn btn-warning btn-sm"> Update</button></a>
                </td>
                <td style="text-align: center;">
                    <a href="{% url 'capital-delete' object.id %}" ><button class="btn btn-danger btn-sm"> <i class="fa-solid fa-trash-can"></i></button></a>
                </td>                          
            </tr>

                {% endfor %}
        </tbody>
      </table>
      {% else %}
      <div class="row">
          <div class="col-md-12 mt-4">
              <h3> <i class="fa-solid fa-triangle-exclamation"></i> There are no Capitals in the Database.</h3>
          </div>
      </div>
      {% endif %}
      </div>
  {% endblock %}



