{% extends "core/seshat-base.html" %}
{% load static %}
{% load humanize %}
{% load custom_filters %}

{% load mathfilters %}
{% load crispy_forms_tags %}


{% block content %}
<style>
    .accordion-button{
        text-align: left;
        display:block;
        padding-left: 0px;
        padding-right: 0px;

    }
    .bce-color {
        color: #f0778c !important;
    }

    .ce-color {
        color: #00ab41 !important;
    }

    .custom-left-border-shadowed {
        border-left: none; /* Adjust the border color and thickness as desired */
        box-shadow: 0 0 4px teal; 
        padding-right: 10px;
        padding-top: 5px;
        margin-top: 5px;
        padding-bottom: 5px;
        border-radius: 15px;
        padding-left: 10px; /* Adjust the padding to create spacing between the border and content */
        text-align: justify;
        background-color:antiquewhite;
    }

    .custom-left-border-shadowed_2 {
        border-left: none; /* Adjust the border color and thickness as desired */
        padding-right: 10px;
        padding-top: 2px;
        margin-top: 5px;
        padding-bottom: 2px;
        border: solid 1px teal;
        border-radius: 15px;
        padding-left: 10px; /* Adjust the padding to create spacing between the border and content */
        text-align: justify;
        background-color:rgb(252, 244, 234);
    }

    .custom-left-border-shadowed_4 {
        border-left: none; /* Adjust the border color and thickness as desired */
        padding-top: 10px;
        margin-top: 0px;
        padding-bottom: 10px;
        text-align: justify;
    }

    .progress {
        height: 1.3rem !important;
        font-size: 0.75rem !important;
    }

    .progress-bar {
        display: flex; 
        flex-direction: row;
    }

    .shadowed_text {
        text-shadow: 0 0 4px gray;
        color: gray; /* Text color */      
    }

    .bg-violet {
      background: purple,
    }

    .table.dense_table > :not(caption) > * > * {
        padding: 0rem 0rem;
        border-bottom-width: 0px;
    }
    
    .bg-success-light {
        background: #ffffff; /* rgb(134, 134, 134);*/
        color: teal;
        border: 1px solid rgba(0, 128, 128, 0.18);   
        background: rgba(0, 128, 128, 0.08);   

        }

    .tight-link {
        margin: 0;
        padding: 0;
    }

    .tight-group {
        display: flex;
        gap: 0; /* ensures no space */
        justify-content: center; /* optional: center badges horizontally */
      }
      
        

</style>

<div class="container pt-2">
    <div class="row">
    <div class="col-md-6">
        <span class="fs-4">Polities 
     
        </span>
        {% if selected_tag %}
        <small class="text-secondary">({{ selected_tag }})</small> 
      {% endif %}
        <div class="pb-3 text-right">
            <a href="{% url 'polity-create'  %}" class="btn btn-sm btn-outline-success me-1 my-1"><i class="fa-solid fa-plus"></i> &nbsp; New Polity</a>
            <a href="{% url 'download_csv_all_polities' %}" class="btn btn-sm btn-outline-danger me-1 my-1"><i class="fa-solid fa-file-arrow-down"></i> &nbsp; Download All <b>({{pol_count}})</b> Polities</a>
            {% if user.is_authenticated and 'core.add_capital' in user.get_all_permissions %}            
            <a href="{% url 'polities-commented'  %}" class="btn btn-sm btn-outline-info me-1 my-1"> &nbsp; See Commented Polities</a>
            {% endif %}

        </div>
        <h6 class="text-secondary">* A polity is defined as an independent political unit. Kinds of polities range from villages (local
            communities) through simple and complex chiefdoms to states and empires. A polity can be either centralized or not (e.g., organized as a confederation). For those periods when a region is divided up among a multitude of small-scale polities (e.g., independent villages or even many small chiefdoms) or when it is controlled in quick succession by a number of different regimes, we use the concept of 'quasi-polity'.</h6>
    </div>
        <div class="col-md-6">
        <table style="width: 100%">
            <tbody>



              {% render_progress_row freq_data "d" "D" "General Description" "" "rgb(195, 195, 195)" "text-dark" %}
                {% render_progress_row freq_data "g" "G" "General Variables" "bg-warning" "" "text-dark" %}
                {% render_progress_row freq_data "sc" "SC" "Social Complexity Variables" "bg-primary" "" "text-white" %}
                {% render_progress_row freq_data "wf" "WF" "Warfare Variables (MilTech)" "bg-danger" "" "text-white" %}
                {% render_progress_row freq_data "ec" "EC" "Economy Variables" "" "#2fa196" "text-white" %}
                {% render_progress_row freq_data "rt" "RT" "Religion Variables" "" "#59007f" "text-white" %}
                {% render_progress_row freq_data "cc" "CC" "Crisis Consequences" "bg-dark" "" "text-white" %}
                {% render_progress_row freq_data "pt" "PT" "Power Transition" "bg-info" "" "text-dark" %}
                {% render_progress_row freq_data "instability" "IN" "Instability Event" "bg-teal" "" "text-white" %}

            </tbody>
          </table>
    </div>

    </div>



    <div class="row pt-4">
        {% for a_world_region, a_dic_of_subregions in ultimate_wregion_dic_top.items %}
        <div class="table-responsive pb-4 
        {% if a_world_region|length > 21 %}
        col-md-3
        {% else %}
        col-md-2
        {% endif %}
        ">
            <table id="table_id_3" class="table align-middle caption-top">
                <div style="border-bottom: 10px solid rgba(0, 128, 128, 0.535); "> 
                    <h5 style="margin-bottom: 0rem;">
                        <a class="fw-bold" href="#{{a_world_region}}"> 
                            {% if a_world_region == "Europe" %}
                            <i class="fa-solid fa-earth-europe"></i>
                            {% elif a_world_region == "Africa" %}
                            <i class="fa-solid fa-earth-africa"></i>
                            {% elif a_world_region == "Southwest Asia" or a_world_region == "Southeast Asia" or a_world_region == "Central and Northern Eurasia" or a_world_region == "East Asia" or a_world_region == "South Asia" %}
                            <i class="fa-solid fa-earth-asia"></i>
                            {% elif a_world_region == "Oceania-Australia" %}
                            <i class="fa-solid fa-earth-oceania"></i>
                            {% elif a_world_region == "North America" or a_world_region == "South America and Caribbean" %}
                            <i class="fa-solid fa-earth-americas"></i>
                            {% else %}
                            <i class="fa-solid fa-map-location-dot"></i>        
                            {% endif %}
                            {{ a_world_region }}                            
                        </a>          
                    </h5>                       
                                   
                </div>
                <tbody style="border-style: none;">
                            {% for a_subregion, sub_reg_meta in a_dic_of_subregions.items %}
                            {% if a_subregion == "Somewhere" and not sub_reg_meta.1 %}

                            {% elif not sub_reg_meta.1 %}
                            <tr>
                                <td style="border-style:none;" class="text-info">
                                    <a class="fw-bold text-info" href="#{{a_subregion}}_{{a_world_region}}" title="{{sub_reg_meta.0}}">
                                        <span class="text-info fw-bold border border-info px-1">{{sub_reg_meta.1}}</span> 
                                        {{ a_subregion }}
                                    </a>
                                </td>
                            </tr>  
                            {% elif a_subregion == "Somewhere" %}
                            <tr>
                                <td style="border-style:none;" class="text-danger">
                                    <a class="fw-bold text-teal" href="#{{a_subregion}}_{{a_world_region}}" title="{{sub_reg_meta.0}}">
                                        <span class="text-teal fw-bold border border-success rounded px-1" style="background:rgba(0, 128, 128, 0.082)">{{sub_reg_meta.1}}</span> 
                                        {{ a_subregion }}
                                    </a>
                                </td>
                            </tr>  
                            {% else %}
                            <tr>
                                <td style="border-style:none;">
                                    <a class="fw-bold text-teal" href="#{{a_subregion}}_{{a_world_region}}" title="{{sub_reg_meta.0}}">
                                        <span class="text-teal fw-bold border border-success rounded px-1" style="background:rgba(0, 128, 128, 0.082)">{{sub_reg_meta.1}}</span> 
                                        {{ a_subregion }}
                                    </a>
                                </td>
                            </tr>        
                            {% endif %}
                            {% endfor %}
                </tbody>
            </table>
        </div>
        {% endfor %}
    </div>

    <hr class="bg-colorful">

    <div class="mb-3">
        <!-- Dropdown Menu -->
        <div class="dropdown">
            Filter on Polity Tag:
          <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            {% if selected_tag %}
              {{ selected_tag }}
            {% else %}
              Select a Tag
            {% endif %}
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item {% if selected_tag == 'All' %}active{% endif %}" href="" onclick="clearTag(); event.preventDefault();">-------</a></li>
            {% for tag in tags %}
              <li>
                <a class="dropdown-item {% if tag == selected_tag %}active{% endif %}" href="#" onclick="setTag('{{ tag }}'); event.preventDefault();">
                  {{ tag }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      
        <!-- Finalize Button -->
        <form action="{% url 'polities' %}" method="get" class="mt-2">
          <!-- Hidden Input to Store the Selected Tag -->
          <input type="hidden" name="tag" id="selectedTagInput" value="{{ selected_tag }}">
          
          <!-- Finalize Button -->
          <button type="submit" class="btn btn-outline-success">Filter</button>
        </form>
      </div>

    {% for a_world_region, a_dic_of_subregions in ultimate_wregion_dic.items %}
        <div class="text-success py-2 ms-2" id="{{a_world_region}}"><i class="fa-solid fa-up-long"></i><a href="#">&nbsp; top of the page</a>
        </div>
    <h2 class="fs-2 ps-2 ms-2 py-2 mt-3 custom-left-border-shadowed" style="display:inline-block;"> 
        {% if a_world_region == "Europe" %}
        <i class="fa-solid fa-earth-europe"></i>
        {% elif a_world_region == "Africa" %}
        <i class="fa-solid fa-earth-africa"></i>
        {% elif a_world_region == "Southwest Asia" or a_world_region == "Southeast Asia" or a_world_region == "Central Eurasia" or a_world_region == "East Asia" or a_world_region == "South Asia" %}
        <i class="fa-solid fa-earth-asia"></i>
        {% elif a_world_region == "Oceania-Australia" %}
        <i class="fa-solid fa-earth-oceania"></i>
        {% elif a_world_region == "North America" or a_world_region == "South America" %}
        <i class="fa-solid fa-earth-americas"></i>
        {% else %}
        <i class="fa-solid fa-map-location-dot"></i>        
        {% endif %}
        {{ a_world_region }}
    </h2>
    {% for a_subregion, a_list_of_polities in a_dic_of_subregions.items %}
    {% if a_subregion == "Somewhere" and not a_list_of_polities %}

    {% else %}

    <div class="sticky-top pb-1 pt-2 px-0 m-0" style="background-color: #ffffff; height:50px; top: 55px; z-index:901;" id="{{a_subregion}}_{{a_world_region}}">
        <span class="fs-4 text-teal"> &nbsp;
            <i class="fa-solid fa-circle-chevron-right"></i> {{ a_subregion }} 
            <span class="h6 text-secondary">({{a_world_region}})</span> 
            <span class="h6 text-secondary">
                <a href="#"><i class="fa-solid fa-turn-up"></i></a>
            </span>
        </span>
    </div>
    {% if a_list_of_polities %}
    <div class="table-container pb-0 mb-0" >

        <table id="table_id" class="table align-middle table-hover pb-4 mb-4" style="border-width:0px;">

            <thead style=" border: 0px solid red !important; ">
                <tr  class="sticky-top" style="background: linear-gradient(to bottom, #ffffff, #fffdf2); border: 0px solid red !important; height:45px; top: 95px !important;  z-index:900;">
                  <th class="ps-2 fw-light" style="border: 0px solid red !important;"> <i class="fa-solid fa-circle-chevron-right fa-xs text-secondary"></i> &nbsp; Polity Name
                       <small class="text-secondary"> &nbsp;Polity ID</small> </th>
                  <th class="fw-light" style="text-align: center; border: 0px solid red !important;"> <i class="fa-regular fa-calendar-check"></i> &nbsp; Year Range </th>
                  <th class="ps-1 fw-light">  Degree of Centralization</th>
                  <th class="ps-1 fw-light">  Supra-Polity Relations</th>
      
                  <th  class="text-dark fw-light" style="text-align: center;"><i class="fa-solid fa-database fa-sm"></i> &nbsp;Coded Data</th>
      
                </tr>
              </thead>
        <tbody>
                {% for a_polity in a_list_of_polities %}
                <tr>
                <td class="col-md-3 ps-2 py-2" style="text-align: left; "> 
                    {% if a_polity.long_name %}
                        <span class="fw-bold h5">
                            <a href="{% url 'polity-detail-main' a_polity.id %}" class="fs-6 fw-normal"><b>{{ a_polity.long_name }}</b></a>
                        </span>
                        <small class="text-secondary fw-light"> {{ a_polity.new_name }}</small>

                    {% else %}
                    <span class="text-danger fw-bold h6"> &nbsp; No Long Name</span> <a href="{% url 'polity-update' a_polity.id %}"><span class="badge bg-small bg-warning text-dark">EDIT</span></a> 
                    {% endif %}
                    {% if a_polity.home_seshat_region.name == "Somewhere" %}
                    <sup>
                        <a href="{% url 'polity-update' a_polity.id %}"><span class="badge bg-warning text-dark">EDIT</span></a> 
                    </sup>
                    {% endif %}
                </td>
                <td class="col-md-3 fw-normal fs-6  "  style="text-align: center; width:12%;">
                    {{ a_polity.formatted_years|safe }}
                </td>
                {% autoescape off %}   
                <td>
                    <table class="table dense_table" style="width: auto; padding:0px;">
                        {% for vv in a_polity.d_o_c %}
                        <tr>
                            <td class="ps-1">
                                <a href="{% url 'polity-detail-main' vv.polity.id %}#general_Polity_degree_of_centralization" data-bs-toggle='tooltip' data-bs-html='true'  title='See more details'>
                                    <small>

                                    {% if  vv.tag == 'IFR' %}
                                    <span class="text-secondary fw-normal">inferred</span> 
                                    {% endif %}
                                    <span class="text-dark fw-normal bg-success-light rounded px-1" style="display:inline-block">{{ vv.show_value }}</span> 
                                </small>
                                </a> 
                            </td>
                            {% if vv.year_from == None and vv.year_to == None %}
                            <td>
                            </td>
                            {% else %}
                            <td class="ps-2">
                                <small class="text-secondary fw-light" >
                                    {{ vv.formatted_years|safe }}
                                </small>
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                        </table>
                </td>
                <td>
                    <table class="table shadow-box dense_table" style="width: auto; padding:0px;">
                        {% for vv in a_polity.s_p_r %}
                        <tr>
                            <td class="ps-1">
                                <a href="{% url 'polity-detail-main' vv.polity.id %}#general_Polity_suprapolity_relations" data-bs-toggle='tooltip' data-bs-html='true'  title='See more details'>
                                    {% if  vv.tag == 'IFR' %}
                                    <span class="text-secondary fw-normal">inferred</span> 
                                    {% endif %}
                                    <span class="text-dark fw-normal bg-success-light rounded px-1 me-1 mb-1" style="display:inline-block">{{ vv.display_value_2 }} &nbsp;</span> 
                                </a> 
                            </td>
                            {% if vv.year_from == None and vv.year_to == None %}
                            <td>
                            </td>
                            {% else %}
                            <td class="ps-2">
                                <small class="text-secondary fw-light" style="border-radius:5px">
                                    {{ vv.formatted_years|safe }}
                                </small>
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                        </table>
                </td>
                {% endautoescape %}   
                <td class="col-md-2" style="text-align: center; width:12%; white-space: nowrap;"> 
                    <div class="tight-group">

                    {% if a_polity.general_description %}
                        <a href="{% url 'polity-detail-main' a_polity.id %}#general_desc" class="tight-link" title="General Description">
                            <small class="fw-bold" style="border-bottom:3px solid #212529; background:#21252922; padding-left:3px; padding-right:3px; padding-top:2px; color: #212529;">D</small>
                        </a>
                    {% endif %} 
                
                    {% if a_polity.has_g_sc_wf.g %}
                        <a href="{% url 'polity-detail-main' a_polity.id %}#general_var" class="tight-link" title="General Variables">
                            <small class="fw-bold" style="border-bottom:3px solid #9b7810; background:#9b781022; padding-left:3px; padding-right:3px; padding-top:2px; color: #9b7810;">G</small>
                        </a>
                    {% endif %} 
                
                    {% if a_polity.has_g_sc_wf.sc %}
                        <a href="{% url 'polity-detail-main' a_polity.id %}#sc_var" class="tight-link" title="Social Complexity Variables">
                            <small class="fw-bold" style="border-bottom:3px solid #0d6efd; background:#0d6efd22; padding-left:3px; padding-right:3px; padding-top:2px; color: #0d6efd;">SC</small>
                        </a>
                    {% endif %} 
                
                    {% if a_polity.has_g_sc_wf.wf %}
                        <a href="{% url 'polity-detail-main' a_polity.id %}#wf_var" class="tight-link" title="Warfare Variables (MilTech)">
                            <small class="fw-bold" style="border-bottom:3px solid #dc3545; background:#dc354522; padding-left:3px; padding-right:3px; padding-top:2px; color: #dc3545;">WF</small>
                        </a>
                    {% endif %}
                    {% if a_polity.has_g_sc_wf.ec %}
                        <a href="{% url 'polity-detail-main' a_polity.id %}#ec_var" class="tight-link" title="Economy Variables">
                            <small class="fw-bold" style="border-bottom:3px solid #2fa196; background:#2fa19622; padding-left:3px; padding-right:3px; padding-top:2px; color: #2fa196;">EC</small>
                        </a>
                    {% endif %} 
                
                    {% if a_polity.has_g_sc_wf.rt %}
                        <a href="{% url 'polity-detail-main' a_polity.id %}#rt_var" class="tight-link" title="Religion Variables">
                            <small class="fw-bold" style="border-bottom:3px solid #59007f; background:#59007f22;  padding-left:3px; padding-right:3px; padding-top:2px; color: #59007f;">R</small>
                        </a>
                    {% endif %}
                
                    {% if a_polity.has_g_sc_wf.cc %}
                        <a href="{% url 'polity-detail-main' a_polity.id %}#crisis_case_var" class="tight-link" title="Crisis Consequences">
                            <small class="fw-bold" style="border-bottom:3px solid #212529; background:#21252955; padding-left:3px; padding-right:3px; padding-top:2px; color: #212529;">CC</small>
                        </a>
                    {% endif %}
                
                    {% if a_polity.has_g_sc_wf.pt %}
                        <a href="{% url 'polity-detail-main' a_polity.id %}#power_transition_var" class="tight-link" title="Power Transition">
                            <small class="fw-bold" style="border-bottom:3px solid #0b869e; background:#0b869e22; padding-left:3px; padding-right:3px; padding-top:2px; color: #0b869e;">PT</small>
                        </a>
                    {% endif %} 
                
                    {% if a_polity.has_g_sc_wf.instability %}
                        <a href="{% url 'polity-detail-main' a_polity.id %}#instability_event_var" class="tight-link" title="Instability Events">
                            <small class="fw-bold" style="border-bottom:3px solid #20c997; background:#20c99722; padding-left:3px; padding-right:3px; padding-top:2px; color: #20c997;">IN</small>
                        </a>
                    {% endif %} 

                </div>

                
                </td>
                


            </tr>
            {% endfor %}

        </tbody>
      </table>
    </div>
      {% else %}
      <div class="row">

      </div>
      {% endif %}
      {% endif %}

      {% endfor %}

    {% endfor %}
</div>
<script>
    var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
    var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
      return new bootstrap.Popover(popoverTriggerEl)
    })

  // Function to set the selected tag in the hidden input and update button text
  function setTag(tag) {
    document.getElementById('selectedTagInput').value = tag;
    document.getElementById('dropdownMenuButton').innerHTML = tag; // Update button text with selected tag
  }

  // Function to clear the selected tag (for the "All" option)
  function clearTag() {
    document.getElementById('selectedTagInput').value = '';
    document.getElementById('dropdownMenuButton').innerHTML = 'Select a Tag'; // Reset button text
  }


    document.addEventListener("DOMContentLoaded", function () {
        const OFFSET = 100; // pixels to offset above the anchor

        // Check if there's a hash in the URL
        if (window.location.hash) {
            const targetId = window.location.hash.substring(1);
            const element = document.getElementById(targetId);

            if (element) {
                // Scroll with offset
                const yOffset = -OFFSET;
                const y = element.getBoundingClientRect().top + window.pageYOffset + yOffset;
                window.scrollTo({ top: y, behavior: 'smooth' });
            }
        }

        // For in-page clicks
        document.querySelectorAll('a[href^="#"]').forEach(anchor => {
            anchor.addEventListener('click', function (e) {
                const targetId = this.getAttribute('href').substring(1);
                const element = document.getElementById(targetId);

                if (element) {
                    e.preventDefault();
                    const yOffset = -OFFSET;
                    const y = element.getBoundingClientRect().top + window.pageYOffset + yOffset;
                    window.scrollTo({ top: y, behavior: 'smooth' });

                    // Update URL hash without jumping
                    history.pushState(null, null, '#' + targetId);
                }
            });
        });
    });
</script>

  {% endblock %}
