{% extends "core/seshat-base.html" %}
{% load static %}
{% load humanize %}
{% load mathfilters %}
{% load custom_filters %}
{% load core_tags %}


{% block content %}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<style>
    br {
        display: block;
        margin: 10px 0; /* Adjust the value as per your requirement */
        content: "";
    }
    .bg-colorful {
        background-image: linear-gradient(to right, rgb(246, 127, 127, 0.216),rgb(242, 199, 119, 0.216),rgb(151, 230, 151, 0.216));
    
      }

      .bg-colorful-light {
        background-image: linear-gradient(to right, rgb(246, 127, 127, 0.22),rgb(242, 199, 119, 0.22),rgb(151, 230, 151, 0.22));
        border-radius: 10px;
        color:#782823;
      }

    .bg-colorful:hover {
        background-image: linear-gradient(to right, rgb(246, 127, 127, 0.616),rgb(242, 199, 119, 0.616),rgb(151, 230, 151, 0.616));
        color:black;
      }
    .custom-left-border-shadowed {
        border-left: none; /* Adjust the border color and thickness as desired */
        box-shadow: 0 0 4px teal; 
        padding-right: 10px;
        padding-top: 10px;
        margin-top: 5px;
        padding-bottom: 10px;
        border-radius: 15px;
        padding-left: 10px; /* Adjust the padding to create spacing between the border and content */
        text-align: justify;
    }
    .title-top-highlight {
        background: linear-gradient(to right, rgb(246, 127, 127, 0.156),rgb(242, 199, 119, 0.156),rgb(151, 230, 151, 0.156), rgba(253, 253, 253, 0.156));
    }

    .custom-left-border-shadowed_2 {
        border-left: none; /* Adjust the border color and thickness as desired */
        box-shadow: 0 0 2px teal; 
        padding-right: 10px;
        padding-top: 10px;
        margin-top: 5px;
        padding-bottom: 10px;
        padding-left: 10px; /* Adjust the padding to create spacing between the border and content */
        text-align: justify;
    }

    .custom-top-border {
        border-top: 2px solid teal; /* Adjust the border color and thickness as desired */
        padding-top: 2px; /* Adjust the padding to create spacing between the border and content */
    }


    .custom-border-tight {
        border-left: 2px solid teal; /* Adjust the border color and thickness as desired */
        padding-left: 5px; /* Adjust the padding to create spacing between the border and content */
    }

    .highlighted-value-title {
        display: inline-block; 
        border: 1px solid rgba(78, 28, 23, 0.25);
        padding: 1px; 
        padding-right: 10px;
        padding-left: 10px;
        border-radius: 5px;
        margin:0px;
        /*box-shadow: -4px 4px 0px rgba(78, 28, 23, 0.5); 
        /*box-shadow: -2px 0px 4px rgba(25, 135, 84, 0.5); */
        background-color:#fefae6; /* fffdf2   fefae6*/
        background-image: linear-gradient(to right, rgb(246, 127, 127, 0.116),rgb(242, 199, 119, 0.116),rgb(151, 230, 151, 0.116));
    }

    .highlighted-value-title-empty {
        display: inline-block; 
        border: 1px solid rgba(78, 28, 23, 0.25);
        padding: 1px; 
        padding-right: 10px;
        padding-left: 10px;
        border-radius: 5px;
        margin:0px;
        /*box-shadow: -4px 4px 0px rgba(78, 28, 23, 0.5); 
        /*box-shadow: -2px 0px 4px rgba(25, 135, 84, 0.5); */
        background-color:#fefae6; /* fffdf2   fefae6*/
        background-image: linear-gradient(to right, rgb(246, 127, 127, 0.056),rgb(242, 199, 119, 0.056),rgb(151, 230, 151, 0.056));
    }

    .highlighted-value-title-pred {
        display: inline-block; 
        border: 1px solid rgba(208, 154, 149, 0.639);
        padding: 1px; 
        padding-right: 10px;
        padding-left: 10px;
        border-radius: 5px;
        margin:0px;
        /*box-shadow: -4px 4px 0px rgba(78, 28, 23, 0.5); 
        /*box-shadow: -2px 0px 4px rgba(25, 135, 84, 0.5); */
        background-color:#fefae6; /* fffdf2   fefae6*/
    }

    .highlighted-value {
        display: inline-block; 
        border-bottom: 1px solid rgba(78, 28, 23, 0.15);
        padding: 5px; 
        border-radius: 1px;
        background-color:#fffdf2; /* fffdf2   fefae6*/
    }
    .montserrat-font {
        font-family: 'Montserrat', sans-serif;
    }

    .oswald-font {
        font-family: 'Ubuntu', serif;
    }

    .light-narrow-hr {
        border: none;
        border-top: 1px solid #f0ecec;
        height: 0.25px;
        margin: 10px 0;
        width: 100%;
      }

      .light-heavy-hr {
        border: none;
        border-top: 5px solid #82c5c5;
        height: 0.75px;
        margin: 10px 0;
        width: 100%;
      }

      .tag-border{
        border: 1px solid #82c5c5; /* Adjust the border color and thickness as desired */
      }

      .text-teal-light{
        color: #82c5c5;
      }

      .tag-border2{
        border: 1px solid teal; /* Adjust the border color and thickness as desired */
        border-radius: 5px;
        background-color:#fefae6;
      }

      .text-success2 {
        background-color:#acd2cc;;
      }

      .shadowed_text {
        text-shadow: 0 0 4px gray;
        color: gray; /* Text color */      }

        .card-text-spaced {
            font-size: 16px;
            color: #782823;
            display: flex;
            padding-top: 5px;
            justify-content: space-between;
            }
        
        .left-span {
                font-size: 16px;
                color: #782823;
            }
        
        .right-span {
                text-align: right;
                font-size: 16px;
                color: #782823;
            }
        
            .center-span {
                text-align: center;
                font-size: 16px;
                color: #782823;
            }

    .off-vars {
        color:rgba(125, 125, 125, 0.734); 
    }

    .federicka-huge {
        font-family: 'Fredericka the Great', serif;
        font-size: 58px;
        color: darkorange,
    }

    .federicka-bigger {
        font-family: 'Fredericka the Great', serif;
        font-size: 48px;
    }

    .federicka-big {
        font-family: 'Fredericka the Great', serif;
        font-size: 36px;
    }

    .federicka-medium {
        font-family: 'Fredericka the Great', serif;
        font-size: 24px;
    }

    .federicka-small {
        font-family: 'Fredericka the Great', serif;
        font-size: 16px;
    }

    .hover-text {
        display: inline-block;
        overflow: hidden;
        width: 0;
    }
    
    a:hover .hover-text {
        width: auto; /* Set width to 'auto' to allow it to grow to fit the content */
    }
    .shadow-box {
        /* Light gray shadow */
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        /* Optional: Add a border if you like */
        border: 1px solid #acd2cc; 
        padding: 0px; /* Adjust as needed 23212529 */
        background-color: white; /* Optional */
    }

    .accordion-body {
        padding:0px !important;
    }
    .accordion-button {
        background-color: #fffdf2;
        text-align: right;
    }

    .accordion-button.p-0::after {
        text-align: right;

        flex-shrink: 0;
        width: 1.25rem;
        height: 1.25rem;
        margin-right: auto;
        margin-left: auto;
        padding-right: 1px;
        padding-left: 1px;
        content: "";
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-size: 1.25rem;
        transition: transform .1s ease-in-out;
    }

    table {
        border-collapse: separate; /* Don't collapse */
        border-spacing: 0;
      }

      .table-hover tbody tr:hover {
        background-color: #FAFAD211 !important; /* Change this to your desired color */
        color: #000; /* Optional: Change text color if needed */
    }

    td {
        border-width: 0;
    }

    .big-first-letter::first-letter {
        font-size: 5em; /* Adjust size as needed */
        font-weight: bold;
        color: #782823; /* Optional: Change color */
        float: left;
        margin-right: 5px; /* Adjust spacing */
    }



    
    .bg-info-light {
        background: #fffdf2; /* rgb(134, 134, 134);*/
        color: dodgerblue;
        border: 1px solid rgba(30, 143, 255, 0.178);   
        background: rgba(30, 143, 255, 0.06);   

       }
    
       .bg-danger-light {
        background: lightpink;
    
       }
    
        .my_small_link:hover {
          color:navajowhite;
        }
    
        .bg-success-light {
            background: #fffdf2; /* rgb(134, 134, 134);*/
            color: teal;
            border: 1px solid rgba(0, 128, 128, 0.18);   
            background: rgba(0, 128, 128, 0.08);   
    
            }
    
       .bg-warning-light {
        background: #fffdf2; /* rgb(134, 134, 134);*/
        color: darkorange;
        border: 1px solid goldenrod;   
       }
    
       .bg-uncoded-light {
        background: #fffdf2; /* rgb(134, 134, 134);*/
        color: darkred;
        border: 1px solid rosybrown;
       }
       
       .bg-trans-light {
        background: cadetblue;
    
       }
       
       .custom-right-align {
        margin-left: auto !important; /* Pushes the column to the right */
        text-align: right !important; /* Aligns inner content to the right */
    }
    
       .bg-unknown-light {
        background: #fffdf2; /* rgb(134, 134, 134);*/
        color: hotpink;
        border: 1px solid hotpink;
        }
    
       .bg-secondary-light {
        background: #fffdf2;
        color: crimson;
        border: 1px solid rgba(220, 20, 60, 0.18);
        background: rgba(220, 20, 60, 0.06);
       }

    
       .bg-absent-light {
        background: #fffdf2; /* rgb(134, 134, 134);*/
        color: gray;
        border: 1px solid lightgray;   
    
       }

       .tight-link {
        margin: 0;
        padding: 0;
    }

    .tight-group {
        display: flex;
        gap: 0; /* ensures no space */
      }
      
      .leaflet-touch {
        z-index:900;
      }


</style>

<!-- showcase for index -->

<div class="container">
    <div class="row mt-1">
        <div class="col-md-12">
            <div class="row d-flex align-items-center mb-1">
                    <div class="col-md-8">

                        <h1 class="federicka-huge pt-2" style="color:darkorange"> {{ object.name }}</h1> 
                          
                                {% if object.alternative_names %}
                                  <div class="mb-2"><span class="text-secondary">Alternative Names:</span> 
                                    
                                   <strong>{{ object.alternative_names }}</strong> </div>
                                {% endif %}
                          
                                {% if object.current_country_obj %}
                                <div class="mb-2">
                                  <span class="text-secondary">Current Country:</span> 
                                  <span class="fs-6 fw-bold">
                                    {{object.current_country_obj.name }} 
                                    <img src="https://flagsapi.com/{{object.current_country_obj.flag_code }}/flat/24.png" >
  
                                  </span>
                                </div>
                          
                                {% endif %}
                          
                                {% if object.latitude and object.longitude %}
                                <div class="mb-2">
                                  <span style="text-align: center;"> 
                         
                                    <span class="text-secondary">  Coordinates:</span> 
                                    
                                    <strong> ({{ object.latitude|floatformat:2  }}, {{ object.longitude|floatformat:2 }}) </strong>     </span>
                                </div>
                           
                                {% endif %}
                          
                                {% if object.url_on_the_map %}
                                  <p class="mb-2">
                                    <strong>Map URL:</strong>
                                    <a href="{{ object.url_on_the_map }}" target="_blank" class="link-primary">Open in Map</a>
                                  </p>
                                {% endif %}
                          
   
                                <h4 class="pt-3">Associated Polities</h4>
                                {% if polity_relations %}
                                <table class="table">
                                    <thead>
                                        <tr>
                                          <th> <small class="text-secondary">#</small></th>
                                            <th>Polity Name</th>
                                            <th>Importance</th>
                                            <th>Year Range</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for relation in polity_relations %}
                                            <tr>
                                              <td>
                                                <small>
                                                  {{forloop.counter}}
                                                </small>
                                                </td>
                                                <td>


                                                  {% if relation.polity.long_name %}
                                                  <span class="fw-bold h5">
                                                      <a href="{% url 'polity-detail-main' relation.polity.id %}" class="fs-6 fw-normal"><b>{{ relation.polity.long_name }}</b></a>
                                                  </span>
                                                  <small class="text-secondary fw-light"> {{ relation.polity.new_name }}</small>
                          
                                              {% else %}
                                              <span class="text-danger fw-bold h6"> &nbsp; No Long Name</span> <a href="{% url 'polity-update' relation.polity.id %}"><span class="badge bg-small bg-warning text-dark">EDIT</span></a> 
                                              {% endif %}




                                           </td>
                            
                                                <td>
                                                  <span class="bg-success rounded p-1 text-white">
                                                    {{ relation.get_role_display }}
                                                  </span>
                                                  </td>
                                                <td>
                                                  {% autoescape off %}
                                                  {% if relation.year_from or relation.year_to  %}
                                                  {{ relation.formatted_years }} 
                                                  {% else %}
                                                  {{ relation.polity.formatted_years }}
                                                  {% endif %}
                                                  {% endautoescape %}


                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                {% else %}
                                <div class="mb-2 bg-secondary-light py-1 px-3 rounded" style="display:inline-block">
                                  <i class="fa-solid fa-xmark"></i> No polity associations found for <b>{{object.name}}</b>.
                                </div>
                                {% endif %}

                            
  
                    </div>

                        <div class="col-md-4 pt-3 rounded">
                            <div class="rounded" id="CityMap">
                                <div id="map" style="height: 400px; width: 100%; border: 2px solid #782823; border-radius:10px;"></div>  
                                <span>
                                 <b>{{object.name}}</b>  
                                  {% if object.alternative_names %}
                                    <small class="text-muted">({{ object.alternative_names }})</small>
                                  {% endif %}

                                </span>           
                                <span class="float-end">
                                  <small class="text-secondary">Current Country:</small>  {{object.current_country_obj.name }}
                                  <small>
                                    <img src="https://flagsapi.com/{{object.current_country_obj.flag_code }}/flat/24.png">

                                  </small>

                                </span>               
                              </div>
                        </div>
                    </div>


            </div>




           
            <div class="row m-0 p-0">
                <div class="col-md-12 pb-3 m-0 pt-0 ps-0 pe-0">
                    {% if object.note %}
                    <p>   <span class="fs-4 text-teal fw-bold">  <span class="badge text-dark p-1  me-2 fs-4" style="background-color: rgb(195, 195, 195);">&nbsp; General Description &nbsp;</span>     
                        <span type="button"  tabindex="0" data-bs-toggle="popover" title="General Description" data-bs-html="true" data-bs-trigger="focus">
                        </span></span> {{object.note|make_references_look_nicer|safe}}
                    </p>

                    {% endif %}
                </div>

            </div>


</div>


<h4>Population Over Time</h4>

<div class="row">
  <div class="col-md-12 py-1">
    {% if plot_data %}
    <div class="col-md-12" id="population-plot" style="height: 500px;"></div>
    <div class="pb-3">
      Scientific Resource(s): 
      <b> {{pop_sources}}</b>
    </div>


    {% endif %}
    <div class="col-md-12" id="population-table">








      <table class="table mb-2 shadow-box" style="width: 100%;">
        <thead>
          <tr class="bg-teal text-white">
            <td>Settlement Population</td>
            <td>Year(s)</td>
            <td>Scientific Resource</td>
            <td style="text-align: right;">Certainty&nbsp;</td>
          </tr>
        </thead>
        <tbody>

        {% for vv in table_pop_data %}
        <tr>

            <td class="px-2">
                <a href="#" data-bs-toggle='tooltip' data-bs-html='true'  title='See more details'>
                {% if  vv.tag == 'IFR' %}
                <span class="h6 text-secondary fw-bold">inferred</span> 
                {% endif %}
                {% if vv.show_value == "absent" %}
                <span class="h6 text-secondary fw-bold">{{ vv.show_value }}</span> 
                {% else %}
                <span class="h6 text-dark fw-bold">{{ vv.show_value }}</span> 
                {% endif %}
            </a> 

            </td>
            {% if vv.year_from == None and vv.year_to == None %}
            <td>
            </td>

            {% else %}
            <td style="padding-top:5px;">
                <span class="text-secondary fw-bold fs-6" style="border-radius:5px">
                    {% if vv.year_from == None %}
                        &nbsp;
                    {% elif  vv.year_from == vv.year_to %}
                        {% if  vv.year_from < 0 %}
                        {{ vv.year_from|abs }} 
                        <span class="text-secondary fw-light fs-6">BCE</span> 
                        {% else %}
                        {{ vv.year_from }} 
                        <span class="text-secondary fw-light fs-6">CE</span>
                        {% endif %}
                    {% elif vv.year_to == None %}
                        {% if  vv.year_from < 0 %}
                        {{ vv.year_from|abs }} 
                            <span class="text-secondary fw-light fs-6">BCE</span>
                        {% else %}
                        {{ vv.year_from }} 
                            <span class="text-secondary fw-light fs-6">CE</span>
                        {% endif %}
                    {% elif vv.year_to == None and  vv.year_from == None %}
                        <i class="fa-solid fa-minus"></i> 
                    {% else %}
                        {% if  vv.year_from < 0 and vv.year_to < 0 %}
                        {{ vv.year_from|abs }} 
                            <span class="text-secondary fw-light fs-6">BCE</span> 
                        <i class="fas fa-long-arrow-alt-right"></i> {{ vv.year_to|abs }}         
                            <span class="text-secondary fw-light fs-6">BCE</span> 
                        {% elif  vv.year_from < 0 and vv.year_to >= 0 %}
                        {{ vv.year_from|abs }}         
                            <span class="text-secondary fw-light fs-6">BCE</span> 
                     <i class="fas fa-long-arrow-alt-right"></i> {{ vv.year_to }}         
                            <span class="text-secondary fw-light fs-6">CE</span> 
                        {% else %}
                        {{ vv.year_from }} 
                            <span class="text-secondary fw-light fs-6">CE</span>
                      <i class="fas fa-long-arrow-alt-right"></i> {{ vv.year_to }}         
                            <span class="text-secondary fw-light fs-6">CE</span> 
                        {% endif %}
                    {% endif %}
                </span>
            </td>
            
            <td>

              <span class="bg-secondary text-white rounded px-3" style="vertical-align:center;">{{vv.general_ref.title}}</span>

            </td>
            <td style="text-align: right;">
              <span class="badge bg-warning text-dark rounded" style="vertical-align:top;">{{vv.tag}}</span>&nbsp;&nbsp;

            </td>
            {% endif %}
        </tr>

        {% endfor %}
      </tbody>

    </table>

    </div>
    


  </div>



</div>

</div>  



<script>
    document.addEventListener("DOMContentLoaded", function() {
      var lat = {{ object.latitude }};
      var lon = {{ object.longitude }};
  
      // Only show map if coordinates are available
      if (lat && lon) {
        var map = L.map('map').setView([lat, lon], 6); // zoom level 6
  
        // Define the OpenStreetMap layer
        var osmLayer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
          attribution: '&copy; OpenStreetMap contributors'
        });
  
        // Define the ESRI satellite layer
        var satelliteLayer = L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
          attribution: '&copy; Esri, Maxar, Earthstar Geographics, and the GIS community'
        });
  
        // Add OpenStreetMap by default
        osmLayer.addTo(map);
  
        // Add marker
        L.marker([lat, lon]).addTo(map)
          .bindPopup('<b>{{ object.name }}</b>').openPopup();
  
        // Add a layer control to switch between map views
        var baseMaps = {
          "OpenStreetMap": osmLayer,
          "Satellite": satelliteLayer
        };
  
        L.control.layers(baseMaps).addTo(map);
      }

    });


    const plotData = JSON.parse('{{ plot_data|safe }}');

    const traces = plotData.datasets.map(dataset => ({
        x: dataset.years,
        y: dataset.data,
        mode: 'lines+markers',
        name: dataset.label,
        marker: {
            color: dataset.color,
            size: 6
        },
        line: { color: dataset.color, width: 1}
    }));

    const layout = {
        xaxis: { title: '<b>Year</b>' },
        yaxis: { title: '<b>Population</b>' },
        paper_bgcolor: '#fffdf2',
        plot_bgcolor: '#fffdf2',
        legend: {
          x: 0.0,  // Shift the legend leftwards
          y: 1,     // Align vertically to top
          xanchor: 'left',
          yanchor: 'top',
          bgcolor: '#fffdf2',  // white with some transparency
          bordercolor: 'teal',
          orientation: 'v'  // Keep vertical layout
      }
    };

    Plotly.newPlot('population-plot', traces, layout, { responsive: true });

  </script>
  

{% endblock content%}
