{% extends "core/seshat-base.html" %}
{% load static %}
{% load humanize %}
{% load mathfilters %}
{% load custom_filters %}
{% load core_tags %}


{% block content %}
<style>
    .bg-teal-light {
        background: rgba(0, 128, 128, 0.238);
    }
</style>

<div class="container">
    <div class="d-flex justify-content-between align-items-center pt-3">
        <h1 class="m-0">Variable Hierarchy</h1>

        <a class="btn btn-outline-secondary fw-bold" href="{% url 'seshat-codebook' %}">
            <i class="fa-solid fa-feather text-secondary"></i> &nbsp; Legacy Codebook (Equinox)
        </a>
    </div>
    
    <div>
        <h4 class="text-secondary fw-normal">
            The New Canonical Codebook of Seshat
        </h4>

        <h6>
            <a class="btn btn-outline-secondary fw-bold" href="{% url 'create_variable' %}">
                <i class="fa-solid fa-plus"></i> Create New Variable
            </a>
            
        </h6>
    </div>

    {% for db_section, section_dict in hierarchy_tree.items %}

        {% for section_name, subsection_dict in section_dict.items %}

            {% for subsection_name, variable_list in subsection_dict.items %}

            <span class="h2">{{ db_section }}</span> 
            {% if  section_name != 'No Section' %}
            <span class="h4 text-secondary">&nbsp;&nbsp;>&nbsp;&nbsp; {{ section_name }}</span>
            {% endif %}
            {% if  subsection_name != 'No Subsection' %}
            <span class="h6">&nbsp;&nbsp;>&nbsp;&nbsp; {{ subsection_name }}</span>
            {% endif %}



                <table class="table table-bordered table-striped mb-5">
                    <caption><strong>Variables under "{{ section_name }}"</strong></caption>
                    <thead>
                        <tr>
                            <th style="width:25%;">Variable Name</th>
                            <th style="width:5%;">Explanation</th>
                            <th>Edit</th>

                        </tr>
                    </thead>
                    <tbody>

                            {% for var in variable_list %}
                                <tr>
                                    <td style="width:25%;"> 
                                        <span class="fw-bold">{{ var.name }} </span> <br> 
                                        <span>
                                            <small class="bg-teal-light px-1 rounded fw-normal" style="padding-top:2px;">{{ var.data_type }} </small> &nbsp; 
                                            {% if var.data_type_definition %}
    
                                                {% autoescape off %}
                                                {{ var.data_type_definition|make_references_look_nicer }}
                                                {% endautoescape off %}
                                            {% endif %}
                                        </span> <br>
                                        <small>
                                            <a href="{{ request.scheme }}://{{ request.get_host }}{{ var.api_endpoint }}" target="_blank" rel="noopener noreferrer">
                                              {{ var.api_endpoint }}
                                            </a>
                                          </small>
                                          


                                    </td>
                                    <td style="width:75%; font-size:0.9rem;" class="fw-light">
                                        {% if var.explanation %}
                                            {% autoescape off %}
                                            {{ var.explanation|make_references_look_nicer }}
                                            {% endautoescape off %}
                                        {% endif %}


                                    </td>
                                    <td>
                                        <a class="btn btn-outline-secondary fw-bold py-0 px-1" href="{% url 'update_variable' var.id %}">
                                            <i class="fa-solid fa-pen fa-sm"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}

                    </tbody>
                </table>

            {% endfor %}

        {% endfor %}
    {% endfor %}
</div>



{% endblock content%}
