{% extends "core/seshat-base.html" %}
{% load static %}
{% load humanize %}
{% load mathfilters %}
{% load custom_filters %}
{% load core_tags %}

{% block content %}
<style>
    .bg-teal-light {
        background: rgba(0, 128, 128, 0.238);
        font-family: 'Courier New', Courier, monospace;
        padding: 3px 5px 0px 5px;
        margin: 0 3px;
    }

    .bg-orange-light {
        background: rgba(186, 89, 5, 0.238);
        font-family: 'Courier New', Courier, monospace;
        padding: 3px 5px 0px 5px;
        margin: 0 3px;
    }

    .bg-gray-light {
        background: rgba(167, 166, 166, 0.238);
        font-family: 'Courier New', Courier, monospace;
        padding: 3px 5px 0px 5px;
        margin: 0 3px;
    }

    .bg-blue-light {
        background: rgba(30, 144, 255, 0.238); /* Dodger Blue */
        font-family: 'Courier New', Courier, monospace;
        padding: 3px 5px 0px 5px;
        margin: 0 3px;
    }
    
    .bg-green-light {
        background: rgba(34, 139, 34, 0.238); /* Forest Green */
        font-family: 'Courier New', Courier, monospace;
        padding: 3px 5px 0px 5px;
        margin: 0 3px;
    }
    
    .bg-purple-light {
        background: rgba(128, 0, 128, 0.238); /* Purple */
        font-family: 'Courier New', Courier, monospace;
        padding: 3px 5px 0px 5px;
        margin: 0 3px;
    }
    
    .bg-red-light {
        background: rgba(220, 20, 60, 0.238); /* Crimson */
        font-family: 'Courier New', Courier, monospace;
        padding: 3px 5px 0px 5px;
        margin: 0 3px;
    }
    
    .bg-yellow-light {
        background: rgba(255, 215, 0, 0.238); /* Gold */
        font-family: 'Courier New', Courier, monospace;
        padding: 3px 5px 0px 5px;
        margin: 0 3px;
    }
    
    .bg-brown-light {
        background: rgba(139, 69, 19, 0.238); /* SaddleBrown */
        font-family: 'Courier New', Courier, monospace;
        padding: 3px 5px 0px 5px;
        margin: 0 3px;
    }

    .bg-pink-light {
        background: rgba(255, 105, 180, 0.238); /* Hot Pink */
        font-family: 'Courier New', Courier, monospace;
        padding: 3px 5px 0px 5px;
        margin: 0 3px;
    }
    
    .bg-cyan-light {
        background: rgba(3, 201, 201, 0.238); /* Cyan */
        font-family: 'Courier New', Courier, monospace;
        padding: 3px 5px 0px 5px;
        margin: 0 3px;
    }
    
    .bg-lime-light {
        background: rgba(50, 205, 50, 0.238); /* Lime Green */
        font-family: 'Courier New', Courier, monospace;
        padding: 3px 5px 0px 5px;
        margin: 0 3px;
    }
    
    .bg-indigo-light {
        background: rgba(75, 0, 130, 0.238); /* Indigo */
        font-family: 'Courier New', Courier, monospace;
        padding: 3px 5px 0px 5px;
        margin: 0 3px;
    }
    
    .bg-salmon-light {
        background: rgba(250, 128, 114, 0.238); /* Salmon */
        font-family: 'Courier New', Courier, monospace;
        padding: 3px 5px 0px 5px;
        margin: 0 3px;
    }
    
    .bg-skyblue-light {
        background: rgba(135, 206, 235, 0.238); /* Sky Blue */
        font-family: 'Courier New', Courier, monospace;
        padding: 3px 5px 0px 5px;
        margin: 0 3px;
    }
    


    .tree-indent {
        margin-left: 1.5rem;
    }

    .tree-subindent {
        margin-left: 1.5rem;
    }

    .variable-card {
        margin-bottom: 0.0rem;
        border-bottom:1px solid lightgray;
        margin-left: 1.5rem;

    }

    .toggle-link {
        cursor: pointer;
        color: teal;
        display: inline-block;
        width: auto;
    }

    .collapse.show + .card-body .collapse-icon::before {
        content: "▼";
    }

    .tree-node {
        position: relative;
        padding-left: 20px;
        margin-left: 15px;
        border-left: 2px solid #ccc;
    }

    .tree-branch {
        position: relative;
        margin: 5px 0;
    }

    .tree-branch::before {
        content: "";
        position: absolute;
        left: -20px;
        top: 0.75em;
        width: 20px;
        height: 1px;
        background-color: #ccc;
    }

    .tree-label {
        font-weight: bold;
        font-size: 1.1rem;
        padding-left: 5px;
    }

    .card-body {
        flex: 1 1 auto;
        padding: 0.2rem 0.5rem;
    }

</style>

<div class="container pt-2">
    <div class="d-flex justify-content-between align-items-center pt-2 pb-3">
        <h1 class="m-0">Variable Hierarchy</h1>
        <div class="form-check form-switch py-2" style="transform: scale(1.5); transform-origin: left;">
            <input class="form-check-input" type="checkbox" id="toggleAllAccordion">
            <label class="form-check-label ms-1 fs-6 fw-light" for="toggleAllAccordion">
              <span id="accordionState" class="text-teal fw-normal">Collapsed</span>
    
            </label>
          </div>
        <a class="btn btn-outline-secondary fw-bold" href="{% url 'seshat-codebook' %}">
            <i class="fa-solid fa-feather text-secondary"></i> &nbsp; Legacy Codebook (Equinox)
        </a>
    </div>

      
      
      

    <div class="mb-4">
        <h4 class="text-secondary fw-normal">The New Canonical Codebook of Seshat</h4>
        <a class="btn fw-light mt-2" href="{% url 'create_variable' %}">
            <i class="fa-solid fa-plus"></i> Create New Variable
        </a>
    </div>

    {% for db_section, section_dict in hierarchy_tree.items %}
        <h1 class="mt-4"><i class="fa-solid fa-square-caret-right text-secondary"></i>&nbsp;{{ db_section }}</h1>
        {% for section_name, subsection_dict in section_dict.items %}
            {% if section_name != 'No Section' %}
                <h3 class="tree-indent mt-3"><i class="fa-solid fa-caret-right text-secondary"></i>&nbsp;{{ section_name }}</h3>
            {% endif %}
            {% for subsection_name, variable_list in subsection_dict.items %}
                {% if subsection_name != 'No Subsection' %}
                    <h5 class="tree-subindent text-muted pt-3"><i class="fa-solid fa-angles-right"></i>&nbsp;&nbsp;{{ subsection_name }}</h5>
                {% endif %}
                <div class="tree-subindent">
                    {% for var in variable_list %}
                        <div class="card variable-card" style="border-left:5px solid rgba(0, 128, 128, 0.238);">
                            <span class="card-header p-2 m-0">
                                <a class="toggle-link fw-bold" data-bs-toggle="collapse" href="#var-{{ var.id }}" role="button"
                                   aria-expanded="false" aria-controls="var-{{ var.id }}">
                                    {{ var.name }}
                                </a>
                                    {% if var.data_type == "A/P/U/~" %}
                                        <small class="bg-teal-light px-1 rounded fw-normal">{{ var.data_type }}</small>
                                    {% elif var.data_type == "RANGE" %}
                                        <small class="bg-salmon-light px-1 rounded fw-normal">{{ var.data_type }}</small>
                                    {% elif var.data_type == "COMPLEX" %}
                                        <small class="bg-orange-light px-1 rounded fw-normal">{{ var.data_type }}</small>
                                    {% elif var.data_type == "CHOICES" %}
                                        <small class="bg-blue-light px-1 rounded fw-normal">{{ var.data_type }}</small>
                                    {% elif var.data_type == "TEXT" %}
                                        <small class="bg-yellow-light px-1 rounded fw-normal">{{ var.data_type }}</small>
                                    {% else %}
                                        <small class="bg-yellow-light px-1 rounded fw-normal">-</small>
                                    {% endif %}


                                    {% if var.who_can_access == "public" %}
                                        <small class="bg-green-light px-1 rounded fw-normal">{{ var.who_can_access }}</small>
                                    {% elif var.who_can_access == "some_polities_are_public" %}
                                        <small class="bg-skyblue-light px-1 rounded fw-normal">{{ var.who_can_access }}</small>
                                    {% elif var.who_can_access == "private" %}
                                        <small class="bg-pink-light px-1 rounded fw-normal">{{ var.who_can_access }}</small>
                                    {% else %}
                                        <small class="bg-brown-light px-1 rounded fw-normal">{{ var.who_can_access }}</small>
                                    {% endif %}

                        
                                <a class="btn btn-outline-secondary fw-bold btn-sm float-end px-1 py-0 m-0"
                                href="{% url 'update_variable' var.id %}">
                                 <i class="fa-solid fa-pen fa-sm"></i> Edit
                             </a>
                            </span>
                            <div class="collapse variable-collapse" id="var-{{ var.id }}">
                                <div class="card-body" >
                                    <div class="row">
                                        <div class="col-md-8">
                                            {% if var.data_unit %}
                                                <div>
                                                    <small class="bg-gray-light rounded fw-normal">Unit</small>
                                                    <small class="text-secondary fw-normal">
                                                        {% autoescape off %}
                                                        {{ var.data_unit|make_references_look_nicer }}
                                                    {% endautoescape off %}
                                                    </small>
                                    
                                                </div>
                                            {% endif %}
                                            {% if var.data_type_definition %}
                                                <div>
                                                    <small class="bg-gray-light rounded fw-normal">Data Type Definition</small>
                                                    <small class="text-secondary fw-normal">
                                                        {% autoescape off %}
                                                        {{ var.data_type_definition|make_references_look_nicer }}
                                                    {% endautoescape off %}
                                                    </small>
                                       
                                                </div>
                                            {% endif %}

                                            {% if var.explanation %}
                                            <div>
                                                {% autoescape off %}

                                                <small class="bg-gray-light rounded fw-normal">Explanation</small>
                                                {{ var.explanation|make_references_look_nicer }}
                                                {% endautoescape off %}
                                            </div>
                                            {% endif %}
                                    
                               

                                        </div>
                                        <div class="col-md-4">
                                            <div>
                                                <small>   <small class="bg-gray-light rounded fw-normal">API</small>
                                                    {% if var.api_endpoint %}
                                                        <a href="{{ request.scheme }}://{{ request.get_host }}{{ var.api_endpoint }}"
                                                           target="_blank" rel="noopener noreferrer">{{ var.api_endpoint }}</a>
                                                    {% else %}
                                                        -
                                                    {% endif %}
                                                </small>
                                            </div>
                                            <div><small>
                                                <small class="bg-gray-light rounded fw-normal">Canonical Name</small>
                                                {{ var.canonical_name }}</small></div>
                                        </div>
                                    </div>
           
                             
                      
                         

                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        {% endfor %}
    {% endfor %}
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
      const toggleSwitch = document.getElementById("toggleAllAccordion");
      const collapsibles = document.querySelectorAll(".variable-collapse");
      const accordionButtons = document.querySelectorAll(".accordion-button");
      const accordionBodies = document.querySelectorAll(".accordion-collapse");
      const accordionState = document.getElementById("accordionState");
  
      toggleSwitch.addEventListener("change", function () {
        collapsibles.forEach(collapse => {
          const bsCollapse = bootstrap.Collapse.getOrCreateInstance(collapse);
          if (toggleSwitch.checked) {
            bsCollapse.show();
          } else {
            bsCollapse.hide();
          }
        });
        accordionState.textContent = toggleSwitch.checked ? "Expanded" : "Collapsed";
      });
    });
  </script>
  
{% endblock content %}
