{% extends "core/list_base_for_new_approach.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load humanize %}
{% load custom_filters %}
{% load mathfilters %}




{% block myheadings_list %}
<th class = "fw-light" style="text-align: left; white-space: nowrap;  border-left: 1px solid gray; width:25%;  " scope="col">
    <span> 
    Event Name
</span>

</th>
<th  class = "fw-light" style="text-align: left; white-space: nowrap;  border-left: 1px solid gray; width:15%; " scope="col">
    <span> 
    Year(s)
</span>
</th>
<th  class = "fw-light" style="text-align: left; white-space: nowrap;  border-left: 1px solid gray; " scope="col">
    <span> 
    Type(s)
</span>
</th>
<th  class = "fw-light" style="text-align: center; white-space: nowrap;  border-left: 1px solid gray; " scope="col">
    <span> 
    Intensity
</span>
</th>
<th  class = "fw-light" style="text-align: center; white-space: nowrap;  border-left: 1px solid gray; " scope="col">
    <span> 
    Extent
</span>
</th>

<th  class = "fw-light" style="text-align: left; white-space: nowrap;  border-left: 1px solid gray;  border-right: 1px solid gray; " scope="col">
    <span> 
    Checks
</span>
</th>
{% endblock myheadings_list %}

{% block extra_vars_list %}
<td  style="text-align: left; z-index:890; border-width:0;" >
    {% autoescape off %}
    <small class="fw-normal highlighted-value-title">{{obj.name}}</small>
    {% endautoescape %}

</td>
<td  style="text-align: left; z-index:890; border-width:0;" >
    {% if obj.year_from == None %}

    {% elif obj.year_from == obj.year_to %}
        {% if obj.year_from < 0 %}
        <small style="text-align: right; border-width: 0;">{{ obj.year_from|abs|intcomma }} <small class="text-secondary">BCE</small> </small>
        {% else %}
        <small style="text-align: right; border-width: 0;">{{ obj.year_from }} <small class="text-secondary">CE</small></small>
        {% endif %}
    {% elif obj.year_to == None %}
        {% if obj.year_from < 0 %}
        <small style="text-align: right; border-width: 0;">{{ obj.year_from|abs }} <small class="text-secondary">BCE</small></small>
        {% else %}
        <small style="text-align: right; border-width: 0;">{{ obj.year_from }} <small class="text-secondary">CE</small></small>
        {% endif %}
    {% elif obj.year_to == None and obj.year_from == None %}
    <small style="text-align: right; border-width: 0;"> <i class="fa-solid fa-minus"></i> </small>
    {% else %}
        {% if obj.year_from < 0 and obj.year_to < 0 %}
        <small style="text-align: right; border-width: 0;">{{ obj.year_from|abs }} <small class="text-secondary">BCE</small>&nbsp;<i class="fa-solid fa-arrow-right-long"></i>&nbsp;{{ obj.year_to|abs }}&nbsp;<small class="text-secondary">BCE</small></small>
        {% elif obj.year_from < 0 and obj.year_to >= 0 %}
        <small style="text-align: right; border-width: 0;">{{ obj.year_from|abs }} <small class="text-secondary">BCE</small>&nbsp;<i class="fa-solid fa-arrow-right-long"></i>&nbsp;{{ obj.year_to }}&nbsp;<small class="text-secondary">CE</small></small>
        {% else %}
        <small style="text-align: right; border-width: 0;">{{ obj.year_from }} <small class="text-secondary">CE</small>&nbsp;<i class="fa-solid fa-arrow-right-long"></i>&nbsp;{{ obj.year_to }}&nbsp;<small class="text-secondary">CE</small></small>
        {% endif %}
    {% endif %}
    
</td>

<td  style="text-align: left; z-index:890; border-width:0;" >
    {% autoescape off %}
    <span >{{obj.get_instability_types}}</span>
    {% endautoescape %}

</td>
<td class="fw-normal" style="text-align: center; z-index:890; border-width:0;" >
    {% autoescape off %}
    <span class="fw-normal highlighted-value-title">{{obj.inst_intensity}}</span>
    {% endautoescape %}

</td>
<td class="fw-normal" style="text-align: center; z-index:890; border-width:0;" >
    {% autoescape off %}
    <span class="fw-normal highlighted-value-title">{{obj.inst_extent}}</span>
    {% endautoescape %}

</td>
<td  style="text-align: left; z-index:890; border-width:0;" >
    {% autoescape off %}

    {% if obj.researchers_list and obj.seshat_experts_list  %}
    <span class="bg-success-light px-1 rounded border-1 fw-light" style="vertical-align: top; background:#01798911;">
        <a data-bs-toggle="tooltip" data-bs-html="true"  title="Checked By: {{ obj.researchers_list }}">
        <span><i class="fas fa-check-circle p-0 m-0"></i> RA</span>
        <a data-bs-toggle="tooltip" data-bs-html="true"  title="Expert Reviewed By: {{ obj.seshat_experts_list }}">
            <span><i class="fas fa-check-circle p-0 m-0"></i> Expert</span>
    </a></span>
     
    {% elif obj.researchers_list  %}

    <span class="bg-success-light px-1 rounded border-1 fw-light" style="vertical-align: top; background:#01798911;"><a data-bs-toggle="tooltip" data-bs-html="true"  title="Checked By: {{ obj.researchers_list }}">
        <span><i class="fas fa-check-circle p-0 m-0"></i> RA</span>
    </a></span>
     
    {% else %}
    <span class="badge bg-success-light px-1 rounded border-1 fw-light" style="background:#01798911;" data-bs-toggle="popover" title="Generated using LLMs.">AI</span>
    <small >{{obj.get_instability_checks}}</small>
    {% endif %}


    {% endautoescape %}

</td>
{% endblock extra_vars_list %}


<!-- Update Button -->
{% block update_button %}
{% if obj.description and obj.description != 'None' %}
    <td colspan="1" style="text-align: center; border-width:0;">
        <small>
            <a href="{% url update_url obj.id %}"><i class="fa-solid fa-pen-to-square text-secondary"></i></a>
        </small>
    </td>
{% else %}
<td colspan="1" style="text-align: center; border-width:0;">
    <small>
        <a href="{% url update_url_new obj.id %}"><i class="fa-solid fa-pen-to-square text-danger"></i></a>
    </small>
</td>
{% endif %}

{% endblock update_button %}
