{% extends "core/detail_base_for_new_approach.html" %}
{% load static %}
{% load humanize %}

{% block addmore %}

<!-- Add Another Fact Button -->
<a href="{% url create_new_url %}" 
   class="btn btn-outline-success btn-sm float-end mt-1 ms-1" 
   data-bs-toggle="tooltip" 
   data-bs-placement="top" 
   title="Click to add a new coded value">
   +
</a>

<!-- See All Such Facts Button -->
<a href="{% url see_all_url %}" 
   class="btn btn-outline-primary btn-sm float-end mt-1 ms-1" 
   data-bs-toggle="tooltip" 
   data-bs-placement="top" 
   title="Click to see all such coded values">
   #
</a>

{% endblock addmore %}

{% block myheadings %}
<th class = "fw-bold" style="text-align: left;" scope="col">Coded Value
</th>
{% endblock myheadings %}

{% block extracols %}

<td style="text-align: left;">
<span class="h5 fw-bold">{{ object.show_value }}</span>
</td>
{% endblock extracols %}
