{% extends "core/list_base_for_new_approach.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load humanize %}
{% load custom_filters %}
{% load mathfilters %}


{% block download_button %}

    <!-- Add Another Fact Button -->
{% if 'core.add_capital' in user.get_all_permissions %}
<a href="{% url create_url %}" 
class="btn btn-outline-success btn-sm float-end mt-1 ms-1" 
data-bs-toggle="tooltip" 
data-bs-placement="top" 
title="Click to add a new coded record">
<i class="fas fa-plus"></i>
</a>
{% endif %}
{% include "core/partials/_standard_export_menu.html" with include_metadata=False %}


<a href="{% url 'instability-analytics' %}" 
class="btn btn-outline-success btn-sm float-end mt-1 ms-1" 
data-bs-toggle="tooltip" 
data-bs-placement="top" 
title="Go to Analytics PAge for Instability Events">
<i class="fa-solid fa-chart-simple"></i> &nbsp; Analytics
</a>

{% endblock download_button %}


{% block myheadings_list %}

<th class = "fw-light" style="text-align: left; white-space: nowrap;  border-left: 1px solid gray; width:25%;  " scope="col">
    <span> 
        Event Name
    </span>

</th>


<th  class = "fw-light" style="text-align: center; white-space: nowrap;  border-left: 1px solid gray; width:15%; " scope="col">
    <span> 
        <a href="?{% query_transform request orderby='year_from' %}">
            <i class="fa-solid fa-arrow-up-long fa-xs"></i>
        </a>

    Year(s)
    <a href="?{% query_transform request orderby='-year_from' %}">
        <i class="fa-solid fa-arrow-down-long fa-xs"></i>
    </a>

</span>
</th>
<th  class = "fw-light" style="text-align: left; white-space: nowrap;  border-left: 1px solid gray; " scope="col">
    <span> 
    Type(s)
</span>
</th>
<th class = "fw-light" style="text-align: left; white-space: nowrap;  border-left: 1px solid gray; width:10%;  " scope="col">
    <span> 
        Macro Event
    </span>

</th>
<th  class = "fw-light" style="text-align: center; white-space: nowrap;  border-left: 1px solid gray; " scope="col">
    <span> 
        <a href="?{% query_transform request orderby='inst_intensity' %}">
            <i class="fa-solid fa-arrow-up-long fa-xs"></i>
        </a>

    Intensity
    <a href="?{% query_transform request orderby='-inst_intensity' %}">
        <i class="fa-solid fa-arrow-down-long fa-xs"></i>
    </a>
</span>
</th>
<th  class = "fw-light" style="text-align: center; white-space: nowrap;  border-left: 1px solid gray; " scope="col">
    <span> 
        <a href="?{% query_transform request orderby='inst_extent' %}">
            <i class="fa-solid fa-arrow-up-long fa-xs"></i>
        </a>

    Extent
        <a href="?{% query_transform request orderby='-inst_extent' %}">

        <i class="fa-solid fa-arrow-down-long fa-xs"></i>
    </a>
</span>
</th>

<th  class = "fw-light" style="text-align: right; white-space: nowrap;  border-left: 1px solid gray; " scope="col">
    <span> 
    Checks
</span>
</th>

{% endblock myheadings_list %}

{% block extra_vars_list %}
<td  style="text-align: left; z-index:890; border-width:0;" >
    {% include "core/partials/_instability_event_badges.html" with event=obj %}

    {% autoescape off %}
    <span class="fw-bold" style="display:block; text-align: left;">        
        
        {{obj.name}}     </span>
    {% endautoescape %}



</td>


<td  style="text-align: center; z-index:890; border-width:0;" >
    {% if obj.year_from == None %}

    {% elif obj.year_from == obj.year_to %}
        {% if obj.year_from < 0 %}
        <small style="text-align: right; border-width: 0;">{{ obj.year_from|abs|intcomma }} <small class="text-secondary">BCE</small> </small>
        {% else %}
        <small style="text-align: right; border-width: 0;">{{ obj.year_from }} <small class="text-secondary">CE</small></small>
        {% endif %}
    {% elif obj.year_to == None %}
        {% if obj.year_from < 0 %}
        <small style="text-align: right; border-width: 0;">{{ obj.year_from|abs }} <small class="text-secondary">BCE</small></small>
        {% else %}
        <small style="text-align: right; border-width: 0;">{{ obj.year_from }} <small class="text-secondary">CE</small></small>
        {% endif %}
    {% elif obj.year_to == None and obj.year_from == None %}
    <small style="text-align: right; border-width: 0;"> <i class="fa-solid fa-minus"></i> </small>
    {% else %}
        {% if obj.year_from < 0 and obj.year_to < 0 %}
        <small style="text-align: right; border-width: 0;">{{ obj.year_from|abs }} <small class="text-secondary">BCE</small>&nbsp;<i class="fa-solid fa-arrow-right-long"></i>&nbsp;{{ obj.year_to|abs }}&nbsp;<small class="text-secondary">BCE</small></small>
        {% elif obj.year_from < 0 and obj.year_to >= 0 %}
        <small style="text-align: right; border-width: 0;">{{ obj.year_from|abs }} <small class="text-secondary">BCE</small>&nbsp;<i class="fa-solid fa-arrow-right-long"></i>&nbsp;{{ obj.year_to }}&nbsp;<small class="text-secondary">CE</small></small>
        {% else %}
        <small style="text-align: right; border-width: 0;">{{ obj.year_from }} <small class="text-secondary">CE</small>&nbsp;<i class="fa-solid fa-arrow-right-long"></i>&nbsp;{{ obj.year_to }}&nbsp;<small class="text-secondary">CE</small></small>
        {% endif %}
    {% endif %}
    
</td>

<td  style="text-align: left; z-index:890; border-width:0;" >
    {% autoescape off %}
    <small >{{obj.get_instability_types}}</small>

    {% endautoescape %}

</td>
{% if obj.made_up_macro_event %}
<td  style="text-align: left; z-index:890; border-width:0;" >

    {% autoescape off %}
    <span class="fw-normal">{{obj.made_up_macro_event}}  

    </span>
    {% endautoescape %}

</td>

{% else %}
<td  style="text-align: center; z-index:890; border-width:0;" >

    {% autoescape off %}
    <span class="fw-normal">- 

    </span>
    {% endautoescape %}

</td>
{% endif %}
<td class="fw-bold" style="text-align: center; z-index:890; border-width:0;" >
    {% autoescape off %}
    <span class="fw-bold highlighted-value-title">
        <a data-bs-toggle="tooltip" data-bs-html="true" class="px-1 rounded fw-bold text-dark" title="{{obj.get_inst_intensity_display}}">{{obj.inst_intensity}}</a>
    </span>
    {% endautoescape %}

</td>
<td class="fw-bold" style="text-align: center; z-index:890; border-width:0;" >
    {% autoescape off %}
    <span class="fw-bold highlighted-value-title">
        <a data-bs-toggle="tooltip" data-bs-html="true" class="px-1 rounded fw-bold text-dark" title="{{obj.get_inst_extent_display}}">{{obj.inst_extent}}</a>
    </span>
    {% endautoescape %}

</td>

<td  style="text-align: right; z-index:890; border-width:0;" >
    {% autoescape off %}
    <small >{{obj.get_instability_checks}}</small>
    {% endautoescape %}
</td>


{% endblock extra_vars_list %}


<!-- Update Button -->
{% block update_button %}
<td  style="text-align: center; border-width:0;">

{% if 'core.add_seshatprivatecommentpart' in user.get_all_permissions  %}
{% if not obj.private_comment or obj.private_comment.id == 1 or obj.private_comment.inner_private_comments_related.all|length == 0 %}
    <a class="p-0 m-0 tight-link"  
    style="overflow: hidden;" 
    href="{% url 'create_private_subcomment_new' app_name=db_section model_name=obj.clean_name instance_id=obj.id %}">
        <span class="badge p-1 text-dark" type="button" style="vertical-align:top; white-space: nowrap; z-index:999; background-color:#edd0281c; border:1px solid #edd028; width:100%;" data-bs-toggle="tooltip" title="Add Private Comment" >
            <i class="fa-regular fa-comment"></i>

        </span>
    </a>
{% else %}
    <a  class="p-0 m-0 tight-link"  
    style="overflow: hidden; border: 0px solid white; border-radius:5px; " >
    <span class="accordion-button collapsed badge text-dark p-1" type="button"  style="vertical-align:top; white-space: nowrap; background-color:#edd02844; border:1px solid #edd028; width:100%;" 
    title="See Private Comments" 
    data-bs-toggle="collapse" 
    data-bs-target="#commentRow_{{ obj.clean_name }}_{{ forloop.counter }}" 
    aria-expanded="false" 
    aria-controls="commentRow_{{ obj.clean_name }}_{{ forloop.counter }}">
    <i class="fa-solid fa-comments"></i>
</span>

</a>

{% endif %}  
{% endif %}   

{% if 'core.add_capital' in user.get_all_permissions  %}


{% if obj.description and obj.description != 'None' %}
            <a href="{% url update_url obj.id %}" style="overflow: hidden; ">
                <span class="badge" style="width:100%; border:1px solid #ff474c44; background: #ff474c22;" data-bs-toggle="tooltip" title="Edit">
                <i class="fa-solid fa-pen-to-square text-secondary"></i>
            </span>
        </a>
{% else %}
        <a href="{% url update_url_new obj.id %}" style="overflow: hidden; ">
            <span class="badge" style="width:100%; border:1px solid #ff474c44; background: #ff474c22;" data-bs-toggle="tooltip" title="Edit">
                <i class="fa-solid fa-pen-to-square text-dark"></i></a>
            </span>
{% endif %}

{% endif %}
</td>

{% endblock update_button %}
