{% extends "core/seshat-base.html" %}
{% load crispy_forms_tags %}
{% load mathfilters %}
{% load custom_filters %}


{% load humanize %}


{% block content %}
<style>
    label {
        color:#235347 !important;
        font-family: Roboto Mono;

    }
    .bg-colorful {
        background-image: linear-gradient(to right, rgb(246, 127, 127, 0.216),rgb(242, 199, 119, 0.216),rgb(151, 230, 151, 0.216));
    
      }

    .bg-colorful:hover {
        background-image: linear-gradient(to right, rgb(246, 127, 127, 0.616),rgb(242, 199, 119, 0.616),rgb(151, 230, 151, 0.616));
    
      }
    
      .bg-colorful-light {
        background-image: linear-gradient(to right, rgb(246, 127, 127, 0.22),rgb(242, 199, 119, 0.22),rgb(151, 230, 151, 0.22));
        border-radius: 10px;
        color:#782823;
      }

      .bg-colorful-extra-light {
        background-image: linear-gradient(to right, rgb(246, 127, 127, 0.11),rgb(242, 199, 119, 0.11),rgb(151, 230, 151, 0.11));
        border-radius: 10px;
        color:#782823;
      }
    
    .tab-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 20px;
        font-size:small;
    }
    
    .tab {
        margin: 0 2px;
        padding: 5px 10px;
        border: 2px solid #ccc;
        border-radius: 5px;
        transition: background-color 0.3s ease;
      }
      

      .newinsert-trigger:hover {
        color: skyblue;

      }

      .inner-link a {
        color: var(--color-progressive, #36c);
      }

      a:hover {
        text-decoration:underline;
      }

      .tab a {
        text-decoration: none;
        color: #000;
        font-weight: bold;
      }
      
      .tab:hover {
        background-color: #d1d1d1;
      }
      
      .tab.active {
        color: black;
        background-image: linear-gradient(to right, rgb(246, 127, 127, 0.616),rgb(242, 199, 119, 0.616),rgb(151, 230, 151, 0.616));
        border-color: seagreen;
      
      }
      
      
      .tab.done {
        background-color: seagreen;
        color: white;
        border-color: seagreen;
      }
      
      .tab.waiting {
        color: gray !important;
        border-color: gray;
      }
      .tab.active a {
        color: white;
      }
      
    
    .arrow {
        font-size: 24px;
        margin: 0 10px;
        color: #4CAF50;
    }
    
    .content {
        text-align: center;
        margin: 50px;
        padding: 20px;
        background-color: white;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }


    
    .bg-info-light {
        background: #fffdf2; /* rgb(134, 134, 134);*/
        color: dodgerblue;
        border: 1px solid dodgerblue;   
       }
    
       .bg-danger-light {
        background: lightpink;
    
       }
    
        .my_small_link:hover {
          color:navajowhite;
        }
    
       .bg-success-light {
        background: #fffdf2; /* rgb(134, 134, 134);*/
        color: teal;
        border: 1px solid teal;   
        }
    
       .bg-warning-light {
        background: #fffdf2; /* rgb(134, 134, 134);*/
        color: darkorange;
        border: 1px solid goldenrod;   
       }
    
       .bg-uncoded-light {
        background: #fffdf2; /* rgb(134, 134, 134);*/
        color: darkred;
        border: 1px solid rosybrown;
       }
       
       .bg-trans-light {
        background: cadetblue;
    
       }
       
       .custom-right-align {
        margin-left: auto !important; /* Pushes the column to the right */
        text-align: right !important; /* Aligns inner content to the right */
    }
    
       .bg-unknown-light {
        background: #fffdf2; /* rgb(134, 134, 134);*/
        color: hotpink;
        border: 1px solid hotpink;
        }
    
       .bg-secondary-light {
        background: #fffdf2;
        color: lightcoral;
        border: 1px solid lightcoral;
    
    
       }
    
       .bg-absent-light {
        background: #fffdf2; /* rgb(134, 134, 134);*/
        color: gray;
        border: 1px solid lightgray;   
    
       }

    
</style>

{% if object.text == "No Descriptions provided." %}
<div class="container pt-1">
    <h4>No discriptions for this fact.</h4>
    <h6 class="pt-3">Add one please:</h6>
    <a href="#"><button class="btn btn-danger btn-sm">Create</button></a>
</div>
{% else %}
<div class="container table-responsive mt-1">
    <div class="tab-container"  style="font-family: 'Roboto Mono', monospace;" >
        <div class="tab done" id="step1-tab">
            <span ><i class="fa-solid fa-circle-check"></i> 1: Insert the data</span>
        </div>
        <div class="arrow">&#10132;</div>
        <div class="tab  done" id="step2-tab">
            <span ><i class="fa-solid fa-circle-check"></i> 2: Add the first chunk of the description</span>
        </div>
        <div class="arrow"  style="color:seagreen">&#10132;</div>
        <div class="tab active" id="step3-tab">
            <span ><i class="fa-solid fa-circle"></i> 3: Expand the description</span>
        </div>
    </div>

    <div style="  border-top-left-radius: 5px;  border-top-right-radius: 5px; overflow: hidden;">
    <table class="table table-borderless align-middle">
        <thead>        
          <tr class="h6 text-secondary" style="border-bottom: 2px solid rgba(120, 40, 35, 0.311);">
            <th style="text-align: left;" class="h6" scope="col">Variable</th>
            <th style="text-align: left;" class="h6" scope="col">Polity</th>
            <th style="text-align: left;" class="h6" scope="col">Coded Value</th>
            <th style="text-align: center;" class="h6" scope="col">Year(s)</th>
            <th class="h6" scope="col" style="text-align: left">Tag(s)</th>
            <th class="h6" scope="col" style="text-align: center">Update</th>
          </tr>
        </thead>
        <tbody>
            {% for my_inst in my_app_models %}
              <tr class="h6">
                  <td  class="fw-bold"  style="text-align: left;">{{ my_inst.my_var_name }}</td>


                  <td style="text-align: left;">
                    <span class="fw-bold"><a href="{% url 'polity-detail-main' pk=my_inst.my_polity_id %}" class="text-teal" >{{my_inst.my_polity}}</a></span>
                    
                    </td>
                    <td  class="fw-bold bg-colorful-light ps-2"   style="text-align: left;">
                        {% autoescape off %}    
                            {{ my_inst.my_value }}
                        {% endautoescape %}    
        
                        </td>
                    {% if my_inst.my_year_from == None %}
                        <td style="text-align: center;"> - </td>
                    {% elif my_inst.my_year_from == my_inst.my_year_to %}
                        {% if my_inst.my_year_from < 0 %}
                        <td style="text-align: center;">{{ my_inst.my_year_from|abs|intcomma }} <span class="text-secondary">BCE</span> </td>
                        {% else %}
                        <td style="text-align: center;">{{ my_inst.my_year_from }} <span class="text-secondary">CE</span></td>
                        {% endif %}
                    {% elif my_inst.my_year_to == None %}
                        {% if my_inst.my_year_from < 0 %}
                        <td style="text-align: center;">{{ my_inst.my_year_from|abs }} <span class="text-secondary">BCE</span></td>
                        {% else %}
                        <td style="text-align: center;">{{ my_inst.my_year_from }} <span class="text-secondary">CE</span></td>
                        {% endif %}
                    {% elif my_inst.my_year_to == None and my_inst.my_year_from == None %}
                        <td style="text-align: center;"> <i class="fa-solid fa-minus"></i> </td>
                    {% else %}
                        {% if my_inst.my_year_from < 0 and my_inst.my_year_to < 0 %}
                        <td style="text-align: center;">{{ my_inst.my_year_from|abs }} <span class="text-secondary">BCE</span> <i class="fas fa-long-arrow-alt-right"></i> {{ my_inst.my_year_to|abs }} <span class="text-secondary">BCE</span></td>
                        {% elif my_inst.my_year_from < 0 and my_inst.my_year_to >= 0 %}
                        <td style="text-align: center;">{{ my_inst.my_year_from|abs }} <span class="text-secondary">BCE</span> <i class="fas fa-long-arrow-alt-right"></i> {{ my_inst.my_year_to }} <span class="text-secondary">CE</span></td>
                        {% else %}
                        <td style="text-align: center;">{{ my_inst.my_year_from }} <span class="text-secondary">CE</span> <i class="fas fa-long-arrow-alt-right"></i> {{ my_inst.my_year_to }} <span class="text-secondary">CE</span></td>
                        {% endif %}
                    {% endif %}
                                      
                  <!-- Tag tag (Disputed/Suspected etc.) -->
                  <td>

                    <a type="button" class="fs-6" data-bs-toggle="tooltip" data-bs-html="true"  title="
                        {% if my_inst.tag == 'DSP' %}
                    Disputed is coded
                        {% elif  my_inst.tag == 'SSP' %}
                    The value is suspected (Expert Check Needed).
                        {% elif  my_inst.tag == 'UNK' %}
                    Unknown.
                        {% elif  my_inst.tag == 'IFR' %}
                    The coded value is inferred.
                        {% elif  my_inst.tag == 'TRS' %}
                    The value is backed up by sufficient evidence.
                        {% else  %}
                        No Descriptions
                        {% endif %}">
                        {% if my_inst.tag == "DSP" %}
                        <span class="badge" style="font-family: 'Roboto Mono', monospace; font-optical-sizing: auto; font-weight: 700; background:#1c0b0b; color:#f39b9b;"> {{ my_inst.my_tag }}</span>
                        {% elif  my_inst.tag == "SSP" %}
                        <span class="badge" style="font-family: 'Roboto Mono', monospace; font-optical-sizing: auto; font-weight: 700; background:#edd0e7; color:#d4507c;"> {{ my_inst.my_tag }}</span>
                        {% elif  my_inst.tag == "UNK" %}
                        <span class="badge" style="font-family: 'Roboto Mono', monospace; font-optical-sizing: auto; font-weight: 700; background:#f9b9b9; color:#510c0c;"> {{ my_inst.my_tag }}</span>
                        {% elif  my_inst.tag == "IFR" %}
                        <span class="badge" style="font-family: 'Roboto Mono', monospace; font-optical-sizing: auto; font-weight: 700; background:#7ac5ee; color:#4048a7;"> {{ my_inst.my_tag }}</span>
                        {% elif  my_inst.tag == "UND" %}
                        <span class="badge" style="font-family: 'Roboto Mono', monospace; font-optical-sizing: auto; font-weight: 700; background:#c8c8c8; color:#272729;"> {{ my_inst.my_tag }}</span>
                        {% else  %}
                            <span class="badge" style=" font-family: 'Roboto Mono', monospace; font-optical-sizing: auto; font-weight: 700; background:#c7e79e; color:#2f872f;">{{ my_inst.my_tag }}</span>
                        {% endif %}
                        </a>
                    
                        <!-- Disputred tag (Disputed/or Not etc.) -->
                    {% if my_inst.my_is_disputed %}
                    
                    <a type="button" class="fs-6" data-bs-toggle="tooltip" data-bs-html="true"  title="There is disagreement among scholars.">
                        <span class="badge"  style="font-family: 'Roboto Mono', monospace; font-optical-sizing: auto; font-weight: 700; background:#1c0b0b; color:#f39b9b;"> Disputed</span>
                    </a>
                    
                    {% endif %}
                    
                    <!-- Disputred tag (Disputed/or Not etc.) -->
                    {% if my_inst.my_is_uncertain %}
                    <a type="button" class="fs-6 badge p-0 m-0" style="font-family: 'Roboto Mono', monospace; font-optical-sizing: auto; font-weight: 700; background:#ffcd72; " data-bs-toggle="tooltip" data-bs-html="true"  title="Uncertainty has been coded.">
                        <span class="badge" style="color:#1a1259;"> <i class="fa-regular fa-circle-question fa-sm"></i> Uncertain</span>
                    </a>
                    {% endif %}
                    
                    <!-- Expert Checked Tag -->
                    {% if my_inst.my_curators_list %}
                        <a type="button" class="fs-6" data-bs-toggle="tooltip" data-bs-html="true"  title="Checked and accepted by a Seshat Expert: {{ my_inst.my_curators_list }}">
                            <span class="badge" style="font-family: 'Roboto Mono', monospace; font-optical-sizing: auto; font-weight: 700; background:#c3ddf9; color:#2978ce;"><i class="fas fa-check-circle p-0 m-0" style="color:#2978ce"></i> Expert</span>
                        </a>
                    {% endif %}
                        
                    </td>

                    <td style="text-align: center;">
                        {% if my_inst.my_var_name_underlined %}

                            {% if my_inst.my_description %}
                                {% with my_inst.my_var_name_underlined|add:"-update" as meat %}
                                <div class="py-1">
                                <a href="{% url meat my_inst.my_id %}"><button class="btn btn-warning btn-sm btn-block"><i class="fa-solid fa-pen-to-square"></i></button></a>
                                </div>
                                {% endwith %}

                            {% else %}
                            {% with my_inst.my_var_name_underlined|add:"-updatenew" as meat %}
                            <div class="py-1">
                            <a href="{% url meat my_inst.my_id %}"><button class="btn btn-warning btn-sm btn-block"><i class="fa-solid fa-pen-to-square"></i></button></a>
                            </div>
                            {% endwith %}
                            {% endif %}
                        {% else %}
                            -  
                        {% endif %}

                      </td>
                      </tr>

                      
            {% endfor %}

        </tbody>
      </table>
    </div>




    <div class="pt-2 pb-4" style=" border-bottom-left-radius: 5px;  border-bottom-right-radius: 5px; overflow: hidden;">
        <table class="table table-borderless align-middle">
            <thead>        
              <tr>
                <th style="text-align: left;" class="h6" scope="col">Description (Public): <sup><i class="fa-solid fa-circle-info text-secondary"    type="button" data-bs-toggle="tooltip" data-bs-html="true"  title="Each description has several subdescriptions. A subdescription is a combination of some text and its corresponding citation(s)."></i></sup> 


                   

                    
                </th>
              </tr>
            </thead>
            <tbody>

        {% autoescape off %}
        <tr>
            <td style="text-align: left;">
        {% for subcom in object.inner_comments_related.all %}


            <span>
                <span class="jidtext_{{ forloop.counter }}">
                    {% if forloop.counter0 == 0 %}
                        <span class="fw-bold rounded">
                        <a class="newinsert-trigger" style="color:steelblue;" href="{% url 'seshatcommentpart-create2' com_id=subcom.comment_id subcom_order=subcom.comment_order|add:0 %}" data-counter="0"><i class="fa-regular fa-square-plus ms-1 " title="Insert a New Subdescription Here"  ></i>

                        </a>
                         </span>
                         {{ subcom.comment_part_text }}

                    {% else %}
                    {{ subcom.comment_part_text }}
                    {% endif %}
                </span>
                <span class="jidtextref_{{ forloop.counter }} fs-6 inner-link" style="color:#2978ce !important;">
                    {% if subcom.display_citations_plus %}
                     <span style="color:#2978ce !important;">  {{ subcom.display_citations_plus }} </span> 
                    {% else %}
                    <span class="text-danger">[No Refs]</span>
                    {% endif %}
                </span>
                <span>
                    <span class="ps-1">
                        {% if subcom.citations_count >= 10 %}
                        <a class="underline-trigger" href="{% url 'seshatcommentpart-update' subcom.pk %}" data-counter="{{ forloop.counter }}"><i class="fa-regular fa-pen-to-square" title="Edit this Subdescription"  style="color:lightcoral;"></i></a>
                    {% else %}
                        <a class="underline-trigger" href="{% url 'seshatcommentpart-update2' subcom.pk %}" data-counter="{{ forloop.counter }}"><i class="fa-regular fa-pen-to-square" title="Edit this Subdescription" style="color:lightcoral;"></i></a>
                    {% endif %}
                    </span>
                    <span class="pe-1">
                        <a class="newinsert-trigger" style="color:steelblue;" href="{% url 'seshatcommentpart-create2' com_id=subcom.comment_id subcom_order=subcom.comment_order|add:1 %}" data-counter="{{ forloop.counter }}"><i class="fa-regular fa-square-plus" title="Insert a New Subdescription Here"  ></i>
                     
                        </a>
                    </span>
                </span>

        </span>


        {% endfor %}
        </td>
    </tr>
        {% endautoescape %}
    </tbody>
    </table>

    </div>



    <div>

        {% for my_inst in my_app_models %}

        {% if  my_inst.my_curators_list %}
        <div class="pt-3 mb-3" style="background: #daf1de; border: 3px solid #235347; border-radius:20px;">
            <div class="h5 mb-3" style="font-family: Roboto Mono; color:#163832;"> &nbsp;&nbsp;<i class="fa-regular fa-square-check"></i>  This record has already been Expert Reviewed by the following Experts:
                <br>

        </div>
        <div class="ps-3 h6 my-3">
            <span class="ps-2 mt-3">
                <i class="fa-solid fa-check"></i> &nbsp; 
                {% if user|get_seshat_expert in my_inst.my_curators_list_ids %}
                <b><u> You</u> </b>: 
                {% endif %} {{ my_inst.my_curators_list }} 
            </span> 
        </div>
        </div>
            
        {% else %}
        <div class="p-2 mb-3" style="background: #ffdddd; border-radius:10px;">
            <div class="fs-6" style="font-family: Roboto Mono; color:#800000;">
                <i class="fa-regular fa-circle-xmark fa-lg"></i> This record has <b><u> not</u> been Expert Reviewed yet</b>.
            </div>
        </div>

        {% endif %}



        {% if user|in_group:"Chief Seshat External Experts" %}
        <div class="pt-3 mb-3" style="background: #daf1de; border: 2px solid #235347; border-radius:10px;">
            <form  method="post" action="{% url 'verify_expert' my_inst.my_id my_inst.my_app_name my_inst.my_model %}">
                {% csrf_token %}
                <div class="h3 mb-3" style="font-family: Roboto Mono; color:#163832;"> &nbsp;<i class="fa-regular fa-circle-check"></i>  Expert Review &nbsp;
                    <button 
                    type="submit" 
                    class="btn btn-outline-success bg-colorful-light px-3 py-0 fw-bold" 
                    id="saveButton" 
                    style="display: none;"
                >
                <i class="fa-solid fa-signature"></i> Sign and Save
                </button>
                </div>
                <div class="form-check pt-2 ps-5">
                    <input 
                        type="checkbox" 
                        name="verify" 
                        class="form-check-input checkboxinput" 
                        style="transform: scale(1.5); margin-right: 10px;" 
                        id="id_verify" 
                        onclick="toggleButton()"
                    >
                    <label class="form-check-label ps-2" for="id_verify">I ({{user}}) have checked and verified this coded record and would like to mark it as expert reviewed under my name.</label>
                </div>
                <div class="mt-3">

                </div>
            </form>
        </div>
        {% endif %}

            {% if 'core.add_seshatprivatecommentpart' in user.get_all_permissions  %}

            {% endif %}   


            <table class="table table-borderless table-hover align-middle pt-5">
                <thead>
                    <tr class="
                    {% if my_inst.my_inner_private_comments_related %}
                    text-secondary
                    {% else %} text-secondary {% endif %} 
                    " >
                    <th class="col-md-9 h6" scope="col" style="text-align: left">Private Comment 

                                <small class="fw-normal">(Only visible to Selected Seshat Experts/RAs) &nbsp;&nbsp;&nbsp;</small>
                            </th>
                              <th class="col-md-2 h6" scope="col" style="text-align: right"> Target Experts or Researchers</th>
         
                    </tr>
                  </thead>
                <tbody>

        {% autoescape off %}

        {% if my_inst.my_inner_private_comments_related %}
            {% for subcom in my_inst.my_inner_private_comments_related.all %}
                <tr class="py-1 bg-colorful-extra-light {% if subcom.is_done %}bg-light text-secondary{% endif %}" >
                    <div class="row">

                    <td class="col-md-9 {% if subcom.is_done %} text-secondary {% else %} text-dark {% endif %}  py-1" style="text-align: left;">
                        <span class="badge text-dark mb-1 p-1 {% if subcom.is_done %} {% else %} fs-6 {% endif %}" style="{% if subcom.is_done %}background: lightgray {% else %} border: 2px solid {{subcom.private_comment_owner.id|give_me_a_color}}; border-left: 10px solid {{subcom.private_comment_owner.id|give_me_a_color}} {% endif %}; border-radius:5px;">{{subcom.private_comment_owner}}</span>
                        <small class="text-secondary">
                            {% if subcom.created_date %}
                                {{ subcom.created_date|naturaltime }}
                            {% else %}
                            <i class="fa-solid fa-minus text-danger"></i>
                            {% endif %}
                        </small>
                        <br>

                        <span class="roboto-regular">
                            {{ subcom.private_comment_part_text }}  
                        </span>    
                    </td>
                    <td class="col-md-2 pe-2" style="text-align: right">
                        {% for an_expert in  subcom.private_comment_reader.all %}
                        <span class="badge text-dark p-1" style="{% if subcom.is_done %}background: lightgray{% else %}
                        border: 1px solid {{an_expert.id|give_me_a_color}}; border-left: 5px solid {{an_expert.id|give_me_a_color}}
                        {% endif %}; border-radius:5px; ">{{an_expert}}</span>
                        {% endfor %}
                    </td>
    
                    </div>
                </tr>

            {% endfor %}
        {% else %}
        <tr class="text-secondary">
            <td class="col-md-2" style="text-align: left">
                No Private Comments yet. 
                </td>
            <td class="col-md-8" scope="row" style="text-align: left;">
           - 
            </td>
            <td class="col-md-2" style="text-align: left">
                -
            </td>


        </tr>
        {% endif %}

        {% endautoescape %}
            </tbody>
        </table>

        <span>
            <a class="pt-3 m-0 mx-auto"  
            style="display:inline-block;overflow: hidden;" 
            href="{% url 'create_private_subcomment_new' app_name=my_inst.my_app_name model_name=my_inst.my_var_name_underlined instance_id=my_inst.my_id %}">

                <span class="badge badge-jid badge-jid text-dark fs-6 p-2 bg-colorful" style="vertical-align:bottom; white-space: nowrap; z-index:999; border-left:10px solid #1a7baf"> &nbsp;
                    <i class="fa-regular fa-comment"></i>
                    <span> &nbsp;&nbsp; Add your Private Comment &nbsp;&nbsp;
                    </span>
                </span>
            </a>
        </span>
        {% endfor %}
    </div>
</div>

{% endif %}
<script>
    var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
    var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
      return new bootstrap.Popover(popoverTriggerEl)
    })

    function DisplayProgressMessage(ctl, msg) {
        $(ctl).prop("class", "btn btn-success px-4 disabled");
        $(ctl).text(msg);
        return true;
    }


    document.addEventListener('DOMContentLoaded', function() {
        const underlineTriggers = document.querySelectorAll('.underline-trigger');
        const newinsertTriggers = document.querySelectorAll('.newinsert-trigger');

        underlineTriggers.forEach(trigger => {
            trigger.addEventListener('mouseover', function() {
                const counter = this.getAttribute('data-counter');
                const jidtext = document.querySelector(`.jidtext_${counter}`);
                const jidtextref = document.querySelector(`.jidtextref_${counter}`);
                if (jidtext) {
                    jidtext.style.backgroundColor = 'blanchedalmond';  
                }
                if (jidtextref) {
                    jidtextref.style.backgroundColor = 'blanchedalmond';  
                }
            });
    
            trigger.addEventListener('mouseout', function() {
                const counter = this.getAttribute('data-counter');
                const jidtext = document.querySelector(`.jidtext_${counter}`);
                const jidtextref = document.querySelector(`.jidtextref_${counter}`);

                if (jidtext) {
                    jidtext.style.backgroundColor = 'transparent';  
                }
                if (jidtextref) {
                    jidtextref.style.backgroundColor = 'transparent';

                }
            });
        });


        newinsertTriggers.forEach(trigger => {
            trigger.addEventListener('mouseover', function() {
                const counter = this.getAttribute('data-counter');
                const hidden_jid_new = document.querySelector(`.hidden_jid_new_${counter}`);
                if (hidden_jid_new) {
                    hidden_jid_new.style.display = 'inline';

                }
            });

            trigger.addEventListener('mouseout', function() {
                const counter = this.getAttribute('data-counter');
                const hidden_jid_new = document.querySelector(`.hidden_jid_new_${counter}`);

                if (hidden_jid_new) {
                    hidden_jid_new.style.display = 'none';
                }
            });
        });
    });

    function toggleButton() {
        const checkbox = document.getElementById('id_verify');
        const button = document.getElementById('saveButton');
        button.style.display = checkbox.checked ? 'inline-block' : 'none';
    }

</script>

  {% endblock %}


        