{% extends "core/seshat-base.html" %}
{% load crispy_forms_tags %}
{% load mathfilters %}
{% load custom_filters %}

{% load humanize %}


{% block content %}

<style>
    .bg-colorful {
        background-image: linear-gradient(to right, rgb(246, 127, 127, 0.0616),rgb(242, 199, 119, 0.0616),rgb(151, 230, 151, 0.0616));
    
      }
    
      .bg-colorful-light {
        background-image: linear-gradient(to right, rgb(246, 127, 127, 0.026),rgb(242, 199, 119, 0.026),rgb(151, 230, 151, 0.026));
        border-radius: 10px;
      }

      .roboto-regular {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
      .mainform {
        background:rgba(255, 235, 205, 0.764); 
        border: 1px #782923 solid;
        border-radius: 5px;
    }
    .privatecommentform {
        background:rgba(255, 235, 205, 0.264); 
        border: 1px #782923 solid;
        border-radius: 5px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 0;
    }
</style>

{% if user.is_authenticated and 'core.add_capital' in user.get_all_permissions and 'core.add_seshatprivatecommentpart' in user.get_all_permissions %}

{% if object.text == "No Descriptions provided." %}
<div class="container pt-1">
    <h4>No Private Commnets for this fact.</h4>
    <h6 class="pt-3">Add one please:</h6>
    <a href="#"><button class="btn btn-danger btn-sm">Create</button></a>
</div>
{% else %}
<div class="container table-responsive pt-1 mb-5">
    <div class="row pt-3" style="vertical-align: bottom;">
        <div class="col-md-6" >
            <h5 class="roboto-regular">Add private comments for this database record:</h5>

        </div>
        <div class="col-md-6" style="text-align:right;">
            {% if my_app_models %}
            {% for my_inst in my_app_models %}
        
            <h6>
                {% if my_inst.commented_pols_link and user.is_authenticated  %}
                <a href="{% url 'polities-commented'  %}" class="btn btn-info me-1 fw-bold"> &nbsp; See Commented Polities</a>
                {% endif %}
        
            </h6>
            {% endfor %}
            {% endif %}
        </div>
    
        </div>
    {% if my_app_models %}
    <div class="mainform">

    <table class="table table-borderless align-middle bg-colorful-light" style="border-radius:5px;">

        <tbody>
            {% for my_inst in my_app_models %}
                    <tr >
                        <td class="p-2" style="text-align: left;">
                          {% if my_inst.my_var_name %}
                          <span class="fs-6">Variable: </span>
                          <span class="fw-bold fs-5">{{ my_inst.my_var_name }}</span> <br>
                          {% endif %}
                          {% if my_inst.my_value %}
                          <span class="fs-6">Coded Value: </span>
                          <span class="fw-bold fs-5"> {{ my_inst.my_value }} </span>
                          {% endif %}
                            <br>
      
                          <span class="fs-6">Polity: </span>
                          <span class="fw-bold fs-5"><a href="{% url 'polity-detail-main' pk=my_inst.my_polity_id %}">{{my_inst.my_polity}}</a></span>
                          <br>
                          <span>
                            {% block years_short_for_top_pol %}
                            {% if my_inst.start_year == None %}
                            {% elif  my_inst.start_year == my_inst.end_year %}
                                {% if  my_inst.start_year < 0 %}
                                    {{ my_inst.start_year|abs }} <span class="text-secondary fw-normal bce-color fs-6">BCE</span> 
                                {% else %}
                                    {{ my_inst.start_year }} <span class="text-secondary fw-normal ce-color fs-6">CE</span>
                                {% endif %}
                            {% elif my_inst.end_year == None %}
                                {% if  my_inst.start_year < 0 %}
                                    {{ my_inst.start_year|abs }} <span class="text-secondary fw-normal bce-color fs-6">BCE</span>
                                {% else %}
                                    {{ my_inst.start_year }} <span class="text-secondary fw-normal ce-color fs-6">CE</span>
                                {% endif %}
                            {% elif my_inst.end_year == None and  my_inst.start_year == None %}
                                <i class="fa-solid fa-minus"></i> 
                            {% else %}
                                {% if  my_inst.start_year < 0 and my_inst.end_year < 0 %}
                                    {{ my_inst.start_year|abs }} <span class="text-secondary fw-normal bce-color fs-6">BCE</span> <i class="fas fa-long-arrow-alt-right"></i> {{ my_inst.end_year|abs }} <span class="text-secondary fw-normal bce-color fs-6">BCE</span>
                                {% elif  my_inst.start_year < 0 and my_inst.end_year >= 0 %}
                                    {{ my_inst.start_year|abs }} <span class="text-secondary fw-normal bce-color fs-6">BCE</span> <i class="fas fa-long-arrow-alt-right"></i> {{ my_inst.end_year }} <span class="text-secondary fw-normal ce-color fs-6">CE</span>
                                {% else %}
                                    {{ my_inst.start_year }} <span class="text-secondary fw-normal ce-color fs-6">CE</span> <i class="fas fa-long-arrow-alt-right"></i> {{ my_inst.end_year }} <span class="text-secondary fw-normal ce-color fs-6">CE</span>
                                {% endif %}
                            {% endif %}
                            {% endblock years_short_for_top_pol %}
                          </span>
                          
                          {% if my_inst.my_year_from == None %}
                          {% elif my_inst.my_year_from == my_inst.my_year_to %}
                          <span class="fs-6">Year Range: </span>
                              {% if my_inst.my_year_from < 0 %}
                              <span class="fw-bold fs-5" style="text-align: center;">{{ my_inst.my_year_from|abs|intcomma }} <span class="text-secondary">BCE</span> </span>
                              {% else %}
                              <span class="fw-bold fs-5" style="text-align: center;">{{ my_inst.my_year_from }} <span class="text-secondary">CE</span></span>
                              {% endif %}
                          {% elif my_inst.my_year_to == None %}
                          <span class="fs-6">Year Range: </span>
                              {% if my_inst.my_year_from < 0 %}
                              <span class="fw-bold fs-5" style="text-align: center;">{{ my_inst.my_year_from|abs }} <span class="text-secondary">BCE</span></span>
                              {% else %}
                              <span class="fw-bold fs-5" style="text-align: center;">{{ my_inst.my_year_from }} <span class="text-secondary">CE</span></span>
                              {% endif %}
                          {% elif my_inst.my_year_to == None and my_inst.my_year_from == None %}
                              <span class="fw-bold fs-5" style="text-align: center;"> <i class="fa-solid fa-minus"></i> </span>
                          {% else %}
                          <span class="fs-6">Year Range: </span>
                              {% if my_inst.my_year_from < 0 and my_inst.my_year_to < 0 %}
                              <span class="fw-bold fs-5" style="text-align: center;">{{ my_inst.my_year_from|abs }} <span class="text-secondary">BCE</span> <i class="fas fa-long-arrow-alt-right"></i> {{ my_inst.my_year_to|abs }} <span class="text-secondary">BCE</span></span>
                              {% elif my_inst.my_year_from < 0 and my_inst.my_year_to >= 0 %}
                              <span class="fw-bold fs-5" style="text-align: center;">{{ my_inst.my_year_from|abs }} <span class="text-secondary">BCE</span> <i class="fas fa-long-arrow-alt-right"></i> {{ my_inst.my_year_to }} <span class="text-secondary">CE</span></span>
                              {% else %}
                              <span class="fw-bold fs-5" style="text-align: center;">{{ my_inst.my_year_from }} <span class="text-secondary">CE</span> <i class="fas fa-long-arrow-alt-right"></i> {{ my_inst.my_year_to }} <span class="text-secondary">CE</span></span>
                              {% endif %}
                          {% endif %}
                          <br>

                <!-- Tag tag (Disputed/Suspected etc.) -->
                <span class="fs-6">Tags: </span>


                    <a type="button" class="fs-6" data-bs-toggle="tooltip" data-bs-html="true"  title="
                        {% if my_inst.tag == 'DSP' %}
                    Disputed is coded
                        {% elif  my_inst.tag == 'SSP' %}
                    The value is suspected (Expert Check Needed).
                        {% elif  my_inst.tag == 'UNK' %}
                    Unknown.
                        {% elif  my_inst.tag == 'IFR' %}
                    The coded value is inferred.
                        {% elif  my_inst.tag == 'TRS' %}
                    The value is backed up by sufficient evidence.
                        {% else  %}
                        No Descriptions
                        {% endif %}">
                        {% if my_inst.tag == "DSP" %}
                        <span class="badge" style="font-family: 'Roboto Mono', monospace; font-optical-sizing: auto; font-weight: 700; background:#1c0b0b; color:#f39b9b;"> {{ my_inst.my_tag }}</span>
                        {% elif  my_inst.tag == "SSP" %}
                        <span class="badge" style="font-family: 'Roboto Mono', monospace; font-optical-sizing: auto; font-weight: 700; background:#edd0e7; color:#d4507c;"> {{ my_inst.my_tag }}</span>
                        {% elif  my_inst.tag == "UNK" %}
                        <span class="badge" style="font-family: 'Roboto Mono', monospace; font-optical-sizing: auto; font-weight: 700; background:#f9b9b9; color:#510c0c;"> {{ my_inst.my_tag }}</span>
                        {% elif  my_inst.tag == "IFR" %}
                        <span class="badge" style="font-family: 'Roboto Mono', monospace; font-optical-sizing: auto; font-weight: 700; background:#7ac5ee; color:#4048a7;"> {{ my_inst.my_tag }}</span>
                        {% elif  my_inst.tag == "UND" %}
                        <span class="badge" style="font-family: 'Roboto Mono', monospace; font-optical-sizing: auto; font-weight: 700; background:#c8c8c8; color:#272729;"> {{ my_inst.my_tag }}</span>
                        {% else  %}
                            <span class="badge" style=" font-family: 'Roboto Mono', monospace; font-optical-sizing: auto; font-weight: 700; background:#c7e79e; color:#2f872f;">{{ my_inst.my_tag }}</span>
                        {% endif %}
                        </a>
                    
                        <!-- Disputred tag (Disputed/or Not etc.) -->
                    {% if my_inst.my_is_disputed %}
                    
                    <a type="button" class="fs-6" data-bs-toggle="tooltip" data-bs-html="true"  title="There is disagreement among scholars.">
                        <span class="badge"  style="font-family: 'Roboto Mono', monospace; font-optical-sizing: auto; font-weight: 700; background:#1c0b0b; color:#f39b9b;"> Disputed</span>
                    </a>
                    
                    {% endif %}
                    
                    <!-- Disputred tag (Disputed/or Not etc.) -->
                    {% if my_inst.my_is_uncertain %}
                    <a type="button" class="fs-6 badge p-0 m-0" style="font-family: 'Roboto Mono', monospace; font-optical-sizing: auto; font-weight: 700; background:#f7d6b4; " data-bs-toggle="tooltip" data-bs-html="true"  title="Uncertainty has been coded.">
                        <span class="badge" style="color:#864e13;"> <i class="fa-regular fa-circle-question fa-sm"></i> Uncertain</span>
                    </a>
                    {% endif %}
                    
                    <!-- Expert Checked Tag -->
                    {% if my_inst.my_expert_reviewed %}
                        <a type="button" class="fs-6" data-bs-toggle="tooltip" data-bs-html="true"  title="Checked and accepted by a Seshat Expert (or RA): {{ my_inst.curators_list }}">
                            <span class="badge" style="font-family: 'Roboto Mono', monospace; font-optical-sizing: auto; font-weight: 700; background:#c3ddf9; color:#2978ce;"><i class="fas fa-check-circle p-0 m-0" style="color:#2978ce"></i> Expert {{my_inst.my_id}}</span>
                        </a>
                    {% endif %}
                        
      
                      </td>
                  </tr>
             
            {% if my_inst.my_description %}
            {% autoescape off %}
            <tr>
                <td>
                  <b> Public Comment (Description): </b> 
                  <span > {{my_inst.my_description|make_references_look_nicer}}</span>
                </td>
            </tr>
            {% endautoescape %}

            {% endif %}

            {% endfor %}

        </tbody>
      </table>
    </div>

      {% endif %}
      <h5 class="roboto-regular pt-4">All Private Comments:</h5>
      <div class="privatecommentform">
        <div class="d-flex align-items-center">
            {% if messages %}
            <ul class="messages mt-3">
                {% for message in messages %}
                <div class="container-fluid p-0">
                    <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
                        <i class="fa-solid fa-circle-info"></i> Thank you <b>{{ user }}</b>. {{ message }}
                    </div>
                  </div>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    <form action="{% url 'xxyyzz' com_id=object.id %}" method="post">
            {% csrf_token %}
        <table id="table_id" class="table align-middle pt-0 mt-0"> 
            <thead>
                <tr class="text-dark" >
                        <th class="col-md-8" scope="col" style="text-align: left">Seshat Expert / Private Comment 
                            <span class="text-secondary">(Only visisble to Selected Seshat Experts/RAs)</span>
                        </th>
                          <th class="col-md-2" scope="col" style="text-align: left"> Target Experts</th>
                          <th class="col-md-2" scope="col" style="text-align: left"> Created</th>
                          <th class="col-md-2" scope="col" style="text-align: right">                        
                            <input type="submit" class="btn border border-dark fw-bold pt-0 pb-0 px-1" 
                            style="background:#7ac5ee;" 
                            value="Set Done" 
                            title="First tick the comments and then click here to mark them as completed.">
                        </th>
                </tr>
              </thead>
              <tbody class="py-1">
                {% autoescape off %}

                {% if object.inner_private_comments_related.all %}
                {% for subcom in object.inner_private_comments_related.all %}

                    <tr class="py-1 {% if subcom.is_done %}bg-light text-secondary{% endif %}">
                        <div class="row">

                        <td class="col-md-8 {% if subcom.is_done %} text-secondary {% else %} text-dark {% endif %}  py-1" style="text-align: left;">
                            <span class="badge text-dark   {% if subcom.is_done %} {% else %} fs-6 {% endif %} border border-dark" style="background: {% if subcom.is_done %}lightgray {% else %} {{subcom.private_comment_owner.id|give_me_a_color}}{% endif %} ;">{{subcom.private_comment_owner}}</span>
                              <span class="roboto-regular">
                                {{ subcom.private_comment_part_text }}  
                              </span>    
                                {% if subcom.is_done %}    
                                
                                {% else %}
                                <a href="{% url 'seshatprivatecommentpart-update' pk=subcom.pk  private_com_id=subcom.private_comment_id %}"><i class="fa-regular fa-sm fa-pen-to-square text-danger "></i></a>
                                {% endif %}

                        </td>
                        <td class="col-md-2" style="text-align: left">
                            {% for an_expert in  subcom.private_comment_reader.all %}
                            <span class="badge text-dark" style="background: {% if subcom.is_done %}lightgray{% else %} {{an_expert.id|give_me_a_color}}{% endif %};">{{an_expert}}</span>
                            {% endfor %}
                        </td>
                        <td class="col-md-2" style="text-align: left">
                            {% if subcom.created_date %}
                                {{ subcom.created_date|naturaltime }}
                            {% else %}
                            <i class="fa-solid fa-minus text-danger"></i>
                            {% endif %}
                        </td>
                        <td class="col-md-1" style="text-align: center">
                            <!-- Checkbox input -->
                            <input type="checkbox" name="selected_items" value="{{ subcom.pk }}" {% if subcom.is_done %}checked disabled {% endif %}>
                        </td>

                        </div>
                    </tr>

                {% endfor %}
                {% else %}
                <tr>
                    <td class="col-md-8 text-secondary" scope="row" style="text-align: left;">
                    No Private Comments yet.
                    </td>
                    <td class="col-md-2" style="text-align: left">
                        -
                    </td>
                    <td class="col-md-2" style="text-align: left">
                    -
                    </td>
                    <td class="col-md-2" style="text-align: center">
                        -
                        </td>

                </tr>
                {% endif %}

                {% endautoescape %}

            </tbody>
          </table>
         
        </form>
        {% if user.is_authenticated and 'core.add_capital' in user.get_all_permissions and 'core.add_seshatprivatecommentpart' in user.get_all_permissions %}
        <form method="post" action="{% url 'seshatprivatecommentpart-create2' private_com_id=object.id %}">
            {% csrf_token %}
            <div class="row mt-3">

              <div class="col-md-9 my-1">
                <span class="fw-bold">Your Private Comment:</span>  

                {{ another_form.private_comment_part_text }}
        
              </div>
              <div class="col-md-3 my-1">
                <span class="fw-bold">Experts to be informed:</span>  
                {{ another_form.private_comment_reader }}
                    <input type="submit" class="btn mt-5 border border-dark bg-colorful fw-bold px-4"  value="Insert the New Private Comment">
                </div>
        
          </div>
          </form>
          {% endif %}

        
      </div>

</div>
{% endif %}

{% else %}
<span class="fw-bold">You don't have the permissions to view thius page.</span>  

{% endif %}

<script>
    $(document).ready(function() {
        $('.js-example-basic-multiple').select2({
            allowClear: true,
        });
    });
    var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
    var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
      return new bootstrap.Popover(popoverTriggerEl)
    })

    function DisplayProgressMessage(ctl, msg) {
        $(ctl).prop("class", "btn btn-success px-4 disabled");
        $(ctl).text(msg);
        return true;
    }
</script>

  {% endblock %}


        