{% extends "core/seshat-base.html" %}
{% load crispy_forms_tags %}
{% load mathfilters %}
{% load custom_filters %}


{% load humanize %}


{% block content %}
<style>
    .bg-colorful:hover {
        background-image: linear-gradient(to right, rgb(246, 127, 127, 0.616),rgb(242, 199, 119, 0.616),rgb(151, 230, 151, 0.616));
    
      }
    
      .bg-colorful-light {
        background-image: linear-gradient(to right, rgb(246, 127, 127, 0.26),rgb(242, 199, 119, 0.26),rgb(151, 230, 151, 0.26));
        border-radius: 10px;
        color:#782823;
      }
    
    .tab-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 20px;
        font-size:small;
    }
    
    .tab {
        margin: 0 2px;
        padding: 5px 10px;
        border: 2px solid #ccc;
        border-radius: 5px;
        transition: background-color 0.3s ease;
      }
      
      .tab a {
        text-decoration: none;
        color: #000;
        font-weight: bold;
      }
      
      .tab:hover {
        background-color: #d1d1d1;
      }
      
      .tab.active {
        color: black;
        background-image: linear-gradient(to right, rgb(246, 127, 127, 0.616),rgb(242, 199, 119, 0.616),rgb(151, 230, 151, 0.616));
        border-color: seagreen;
      
      }
      
      
      .tab.done {
        background-color: seagreen;
        color: white;
        border-color: seagreen;
      }
      
      .tab.waiting {
        color: gray !important;
        border-color: gray;
      }
      .tab.active a {
        color: white;
      }
      
    
    .arrow {
        font-size: 24px;
        margin: 0 10px;
        color: #4CAF50;
    }
    
    .content {
        text-align: center;
        margin: 50px;
        padding: 20px;
        background-color: white;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
</style>

{% if object.text == "No Descriptions provided." %}
<div class="container pt-1">
    <h4>No discriptions for this fact.</h4>
    <h6 class="pt-3">Add one please:</h6>
    <a href="#"><button class="btn btn-danger btn-sm">Create</button></a>
</div>
{% else %}
<div class="container table-responsive mt-1">
    <div class="tab-container">
        <div class="tab done" id="step1-tab">
            <span ><i class="fa-solid fa-circle-check"></i> Step 1: Insert the data</span>
        </div>
        <div class="arrow">&#10132;</div>
        <div class="tab  done" id="step2-tab">
            <span ><i class="fa-solid fa-circle-check"></i> Step 2: Add the first chunk of the description</span>
        </div>
        <div class="arrow"  style="color:seagreen">&#10132;</div>
        <div class="tab active" id="step3-tab">
            <span ><i class="fa-solid fa-circle"></i> Step 3: Expand the description</span>
        </div>
    </div>

    <div style="border: 2px solid rgba(120, 40, 35, 0.311);  border-top-left-radius: 5px;  border-top-right-radius: 5px; overflow: hidden;">
    <table class="table table-borderless align-middle">
        <thead>        
          <tr class="bg-colorful-light h6">
            <th style="text-align: left;" class="h6" scope="col">Variable</th>
            <th style="text-align: left;" class="h6" scope="col">Coded Value</th>
            <th style="text-align: left;" class="h6" scope="col">Polity</th>
            <th style="text-align: center;" class="h6" scope="col">Year(s)</th>
            <th class="h6" scope="col" style="text-align: left">Tag(s)</th>
            <th class="h6" scope="col" style="text-align: left">Update</th>
          </tr>
        </thead>
        <tbody>
            {% for my_inst in my_app_models %}
              <tr>
                  <td  class="fw-bold"  style="text-align: left;">{{ my_inst.my_var_name }}</td>
                  <td  class="fw-bold"   style="text-align: left;">{{ my_inst.my_value }}</td>

                  <td style="text-align: left;">
                    <span class="fw-bold"><a href="{% url 'polity-detail-main' pk=my_inst.my_polity_id %}">{{my_inst.my_polity}}</a></span>
                    
                    </td>
                    {% if my_inst.year_from == None %}
                        <td style="text-align: center;"> - </td>
                    {% elif my_inst.year_from == my_inst.year_to %}
                        {% if my_inst.year_from < 0 %}
                        <td style="text-align: center;">{{ my_inst.year_from|abs|intcomma }} <span class="text-secondary">BCE</span> </td>
                        {% else %}
                        <td style="text-align: center;">{{ my_inst.year_from }} <span class="text-secondary">CE</span></td>
                        {% endif %}
                    {% elif my_inst.year_to == None %}
                        {% if my_inst.year_from < 0 %}
                        <td style="text-align: center;">{{ my_inst.year_from|abs }} <span class="text-secondary">BCE</span></td>
                        {% else %}
                        <td style="text-align: center;">{{ my_inst.year_from }} <span class="text-secondary">CE</span></td>
                        {% endif %}
                    {% elif my_inst.year_to == None and my_inst.year_from == None %}
                        <td style="text-align: center;"> <i class="fa-solid fa-minus"></i> </td>
                    {% else %}
                        {% if my_inst.year_from < 0 and my_inst.year_to < 0 %}
                        <td style="text-align: center;">{{ my_inst.year_from|abs }} <span class="text-secondary">BCE</span> <i class="fas fa-long-arrow-alt-right"></i> {{ my_inst.year_to|abs }} <span class="text-secondary">BCE</span></td>
                        {% elif my_inst.year_from < 0 and my_inst.year_to >= 0 %}
                        <td style="text-align: center;">{{ my_inst.year_from|abs }} <span class="text-secondary">BCE</span> <i class="fas fa-long-arrow-alt-right"></i> {{ my_inst.year_to }} <span class="text-secondary">CE</span></td>
                        {% else %}
                        <td style="text-align: center;">{{ my_inst.year_from }} <span class="text-secondary">CE</span> <i class="fas fa-long-arrow-alt-right"></i> {{ my_inst.year_to }} <span class="text-secondary">CE</span></td>
                        {% endif %}
                    {% endif %}
                                      
                  <!-- Tag tag (Disputed/Suspected etc.) -->
                  <td>

                    <a type="button" class="fs-6" data-bs-toggle="tooltip" data-bs-html="true"  title="
                        {% if my_inst.tag == 'DSP' %}
                    Disputed is coded
                        {% elif  my_inst.tag == 'SSP' %}
                    The value is suspected (Expert Check Needed).
                        {% elif  my_inst.tag == 'UNK' %}
                    Unknown.
                        {% elif  my_inst.tag == 'IFR' %}
                    The coded value is inferred.
                        {% elif  my_inst.tag == 'TRS' %}
                    The value is backed up by sufficient evidence.
                        {% else  %}
                        No Descriptions
                        {% endif %}">
                        {% if my_inst.tag == "DSP" %}
                        <span class="badge" style="font-family: 'Roboto Mono', monospace; font-optical-sizing: auto; font-weight: 700; background:#1c0b0b; color:#f39b9b;"> {{ my_inst.my_tag }}</span>
                        {% elif  my_inst.tag == "SSP" %}
                        <span class="badge" style="font-family: 'Roboto Mono', monospace; font-optical-sizing: auto; font-weight: 700; background:#edd0e7; color:#d4507c;"> {{ my_inst.my_tag }}</span>
                        {% elif  my_inst.tag == "UNK" %}
                        <span class="badge" style="font-family: 'Roboto Mono', monospace; font-optical-sizing: auto; font-weight: 700; background:#f9b9b9; color:#510c0c;"> {{ my_inst.my_tag }}</span>
                        {% elif  my_inst.tag == "IFR" %}
                        <span class="badge" style="font-family: 'Roboto Mono', monospace; font-optical-sizing: auto; font-weight: 700; background:#7ac5ee; color:#4048a7;"> {{ my_inst.my_tag }}</span>
                        {% elif  my_inst.tag == "UND" %}
                        <span class="badge" style="font-family: 'Roboto Mono', monospace; font-optical-sizing: auto; font-weight: 700; background:#c8c8c8; color:#272729;"> {{ my_inst.my_tag }}</span>
                        {% else  %}
                            <span class="badge" style=" font-family: 'Roboto Mono', monospace; font-optical-sizing: auto; font-weight: 700; background:#c7e79e; color:#2f872f;">{{ my_inst.my_tag }}</span>
                        {% endif %}
                        </a>
                    
                        <!-- Disputred tag (Disputed/or Not etc.) -->
                    {% if my_inst.my_is_disputed %}
                    
                    <a type="button" class="fs-6" data-bs-toggle="tooltip" data-bs-html="true"  title="There is disagreement among scholars.">
                        <span class="badge"  style="font-family: 'Roboto Mono', monospace; font-optical-sizing: auto; font-weight: 700; background:#1c0b0b; color:#f39b9b;"> Disputed</span>
                    </a>
                    
                    {% endif %}
                    
                    <!-- Disputred tag (Disputed/or Not etc.) -->
                    {% if my_inst.my_is_uncertain %}
                    <a type="button" class="fs-6 badge p-0 m-0" style="font-family: 'Roboto Mono', monospace; font-optical-sizing: auto; font-weight: 700; background:#f7d6b4; " data-bs-toggle="tooltip" data-bs-html="true"  title="Uncertainty has been coded.">
                        <span class="badge" style="color:#864e13;"> <i class="fa-regular fa-circle-question fa-sm"></i> Uncertain</span>
                    </a>
                    {% endif %}
                    
                    <!-- Expert Checked Tag -->
                    {% if my_inst.my_expert_reviewed %}
                        <a type="button" class="fs-6" data-bs-toggle="tooltip" data-bs-html="true"  title="Checked and accepted by a Seshat Expert (or RA): {{ my_inst.curators_list }}">
                            <span class="badge" style="font-family: 'Roboto Mono', monospace; font-optical-sizing: auto; font-weight: 700; background:#c3ddf9; color:#2978ce;"><i class="fas fa-check-circle p-0 m-0" style="color:#2978ce"></i> Expert {{my_inst.my_id}}</span>
                        </a>
                    {% endif %}
                        
                    </td>

                    <td style="text-align: center;">
                        {% if my_inst.my_var_name_underlined %}

                            {% if my_inst.description %}
                                {% with my_inst.my_var_name_underlined|add:"-update" as meat %}
                                <div class="py-1">
                                <a href="{% url meat my_inst.my_id %}"><button class="btn btn-warning btn-sm btn-block"><i class="fa-solid fa-pen-to-square"></i></button></a>
                                </div>
                                {% endwith %}

                            {% else %}
                            {% with my_inst.my_var_name_underlined|add:"-updatenew" as meat %}
                            <div class="py-1">
                            <a href="{% url meat my_inst.my_id %}"><button class="btn btn-warning btn-sm btn-block"><i class="fa-solid fa-pen-to-square"></i></button></a>
                            </div>
                            {% endwith %}
                            {% endif %}
                        {% else %}
                            -  
                        {% endif %}

                      </td>
                      </tr>

                      
            {% endfor %}

        </tbody>
      </table>
    </div>




    <div  style="border-bottom: 2px solid rgba(120, 40, 35, 0.311); border-left: 2px solid rgba(120, 40, 35, 0.311); border-right: 2px solid rgba(120, 40, 35, 0.311); border-bottom-left-radius: 5px;  border-bottom-right-radius: 5px; overflow: hidden;">
        <table class="table table-borderless align-middle">
            <thead>        
              <tr style="color: #782823">
                <th style="text-align: left;" class="h6" scope="col">Description* (Public):</th>
              </tr>
            </thead>
            <tbody>

        {% autoescape off %}
        <tr>
            <td style="text-align: left;">
        {% for subcom in object.inner_comments_related.all %}


            <span>
                <span class="jidtext_{{ forloop.counter }}">
                    {% if forloop.counter0 == 0 %}
                        <span class="fw-bold rounded">
                        <a class="newinsert-trigger" href="{% url 'seshatcommentpart-create2' com_id=subcom.comment_id subcom_order=subcom.comment_order|add:0 %}" data-counter="0"><i class="fa-regular fa-square-plus text-primary ms-1 "></i>
                            <span class="hidden_jid_new_0" style="display:none">
                                <span class="fw-bold text-primary"><u>&nbsp;Insert Text Here</u></span>
                            </span>
                        </a>
                         </span>
                         {{ subcom.comment_part_text }}

                    {% else %}
                    {{ subcom.comment_part_text }}
                    {% endif %}
                </span>
                <span  class="jidtextref_{{ forloop.counter }}">
                    {% if subcom.display_citations_plus %}
                        {{ subcom.display_citations_plus }}
                    {% else %}
                    <span class="text-danger">[No Refs]</span>
                    {% endif %}
                </span>
                <span>
                    <span class="ps-1">
                        {% if subcom.citations_count >= 10 %}
                        <a class="underline-trigger" href="{% url 'seshatcommentpart-update' subcom.pk %}" data-counter="{{ forloop.counter }}"><i class="fa-regular fa-pen-to-square" style="color:#ED820E"></i></a>
                    {% else %}
                        <a class="underline-trigger" href="{% url 'seshatcommentpart-update2' subcom.pk %}" data-counter="{{ forloop.counter }}"><i class="fa-regular fa-pen-to-square" style="color:#ED820E"></i></a>
                    {% endif %}
                    </span>
                    <span class="pe-1">
                        <a class="newinsert-trigger" href="{% url 'seshatcommentpart-create2' com_id=subcom.comment_id subcom_order=subcom.comment_order|add:1 %}" data-counter="{{ forloop.counter }}"><i class="fa-regular fa-square-plus text-primary"></i>
                            <span class="hidden_jid_new_{{ forloop.counter }}" style="display:none">
                                <span class="fw-bold text-primary"><u>&nbsp;Insert Text Here</u></span>
                            </span>
                        </a>
                    </span>
                </span>

        </span>


        {% endfor %}
        </td>
    </tr>
        {% endautoescape %}
    </tbody>
    </table>

    </div>
    <small class="text-secondary">* Each description has several <u>subdescriptions</u>. A subdescription is a combination of some text and its corresponding citation(s).</small>

    <h6 class="mt-3">
        Private Comments and Discussions on This Record:
    </h6>
    <div  style="border: 2px solid rgba(120, 40, 35, 0.311);  border-radius: 5px; overflow: hidden;">

        {% for my_inst in my_app_models %}
            {% if 'core.add_seshatprivatecommentpart' in user.get_all_permissions  %}

            {% endif %}   


            <table class="table table-borderless align-middle pt-5">
                <thead>
                    <tr class="bg-colorful-light">
                            <th style="text-align: left;" class="col-md-8 h6" scope="col">Seshat Expert / Private Comment 
                                <span>(Only visisble to Selected Seshat Experts/RAs)</span>
                            </th>
                              <th class="col-md-2 h6" scope="col" style="text-align: left"> Target Experts</th>
                              <th class="col-md-2 h6" scope="col" style="text-align: right"> Created</th>

                    </tr>
                  </thead>
                <tbody>

        {% autoescape off %}

        {% if my_inst.my_inner_private_comments_related %}
            {% for subcom in my_inst.my_inner_private_comments_related.all %}
                <tr class="py-1 {% if subcom.is_done %}bg-light text-secondary{% endif %}">
                    <div class="row">

                    <td class="col-md-8 {% if subcom.is_done %} text-secondary {% else %} text-dark {% endif %}  py-1" style="text-align: left;">
                        <span class="badge text-dark   {% if subcom.is_done %} {% else %} fs-6 {% endif %} border border-dark" style="background: {% if subcom.is_done %}lightgray {% else %} {{subcom.private_comment_owner.id|give_me_a_color}}{% endif %} ;">{{subcom.private_comment_owner}}</span>
                        <span class="roboto-regular">
                            {{ subcom.private_comment_part_text }}  
                        </span>    
                    </td>
                    <td class="col-md-2" style="text-align: left">
                        {% for an_expert in  subcom.private_comment_reader.all %}
                        <span class="badge text-dark" style="background: {% if subcom.is_done %}lightgray{% else %} {{an_expert.id|give_me_a_color}}{% endif %};">{{an_expert}}</span>
                        {% endfor %}
                    </td>
                    <td class="col-md-2" style="text-align: right">
                        {% if subcom.created_date %}
                            {{ subcom.created_date|naturaltime }}
                        {% else %}
                        <i class="fa-solid fa-minus text-danger"></i>
                        {% endif %}
                    </td>
                    </div>
                </tr>

            {% endfor %}
        {% else %}
        <tr>
            <td class="col-md-8 text-secondary" scope="row" style="text-align: left;">
            No Private Comments yet. 
            </td>
            <td class="col-md-2" style="text-align: left">
                -
            </td>
            <td class="col-md-2" style="text-align: right">
            -
            </td>

        </tr>
        {% endif %}
        <tr>
        <td class="pt-3">
            <a class="p-0 m-0"  
            style="display:block;overflow: hidden;" 
            href="{% url 'create_private_subcomment_new' app_name=my_inst.my_app_name model_name=my_inst.my_var_name_underlined instance_id=my_inst.my_id %}">

                <span class="badge badge-jid badge-jid text-dark fs-6 p-2 bg-colorful" style="vertical-align:bottom; white-space: nowrap; z-index:999; background-color:#edd0284c; border:1px solid #782823">
                    <i class="fa-regular fa-comment"></i>
                    <span> &nbsp;&nbsp;Add your Private Comment (NEW)
                    </span>
                </span>
            </a>
        </td>

        </tr>

        {% endautoescape %}
            </tbody>
        </table>

        {% endfor %}
    </div>
</div>

{% endif %}
<script>
    var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
    var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
      return new bootstrap.Popover(popoverTriggerEl)
    })

    function DisplayProgressMessage(ctl, msg) {
        $(ctl).prop("class", "btn btn-success px-4 disabled");
        $(ctl).text(msg);
        return true;
    }


    document.addEventListener('DOMContentLoaded', function() {
        const underlineTriggers = document.querySelectorAll('.underline-trigger');
        const newinsertTriggers = document.querySelectorAll('.newinsert-trigger');

        underlineTriggers.forEach(trigger => {
            trigger.addEventListener('mouseover', function() {
                const counter = this.getAttribute('data-counter');
                const jidtext = document.querySelector(`.jidtext_${counter}`);
                const jidtextref = document.querySelector(`.jidtextref_${counter}`);
                if (jidtext) {
                    jidtext.style.backgroundColor = 'blanchedalmond';  
                }
                if (jidtextref) {
                    jidtextref.style.backgroundColor = 'blanchedalmond';  
                }
            });
    
            trigger.addEventListener('mouseout', function() {
                const counter = this.getAttribute('data-counter');
                const jidtext = document.querySelector(`.jidtext_${counter}`);
                const jidtextref = document.querySelector(`.jidtextref_${counter}`);

                if (jidtext) {
                    jidtext.style.backgroundColor = 'transparent';  
                }
                if (jidtextref) {
                    jidtextref.style.backgroundColor = 'transparent';

                }
            });
        });

        newinsertTriggers.forEach(trigger => {
            trigger.addEventListener('mouseover', function() {
                const counter = this.getAttribute('data-counter');
                const hidden_jid_new = document.querySelector(`.hidden_jid_new_${counter}`);
                if (hidden_jid_new) {
                    hidden_jid_new.style.display = 'inline';

                }
            });

            trigger.addEventListener('mouseout', function() {
                const counter = this.getAttribute('data-counter');
                const hidden_jid_new = document.querySelector(`.hidden_jid_new_${counter}`);

                if (hidden_jid_new) {
                    hidden_jid_new.style.display = 'none';
                }
            });
        });
    });
</script>

  {% endblock %}


        